head
    title dao
    meta(name='viewport', content='user-scalable=yes, initial-scale=1.0, maximum-scale=1.5, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="black")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap" rel="stylesheet")
    link(rel="manifest" href="/manifest.json")
    //- script(src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js")
    //- script(src="https://semantic-ui.com/javascript/library/tablesort.js")

    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.css")
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
    script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.js")
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-156965333-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-156965333-1');

body
    +home


template(name='home')
    .ui.stackable.padded.grid.home
        .centered.row 
            //- if selected_tags
            .scrolling.sixty
                .ui.centered.cards
                    each docs
                        //- .ui.fitted.hidden.divider
                        +doc_item
            .scrolling.forty
                //- .ui.header #{connection.status}
                unless connected
                    //- .ui.inline.header disconnected
                    .ui.hidden.divider
                    i.lightning.circular.grey.link.icon.reconnect 
                if connected
                    //- unless selected_tags
                    //-     i.huge.yin.yang.grey.icon
                    unless selected_tags
                        .ui.basic.center.aligned.segment
                            .ui.hidden.divider
                            i.huge.yin.yang.grey.link.icon.pick_dao
                    each selected_tags
                        button.ui.grey.compact.circular.button.unselect_tag(tabindex='0')
                            //- i.remove.icon
                            | #{this}
                    .ui.icon.search.input.wrap_input
                        //- if template_subs_ready
                        //-     i.grey.search.icon
                        unless template_subs_ready
                            i.yin.yang.loading.icon
                        input#search.wrap_input(type='text' autofocus='' autocomplete="off")
                    //- div
                    //- if selected_tags_plural
                    //-     .ui.icon.circular.black.compact.button.clear_selected_tags
                    //-         i.remove.icon
                    each tags
                        button.ui.compact.white.basic.circular.button.result(tabindex="0" class=result_class title=count) #{title}
                            //- small #{count}
                    //- .ui.hidden.divider
                //- if one_post


template(name='doc_item')
    //- .ui.center.aligned.basic.compact.segment
    
    a.ui.link.card(href=url target='_window')
        //- img.image.rounded(src=url)
        if is_youtube
            .invert
                iframe(width="100%" height="300" src="https://www.youtube.com/embed/#{youtube_id}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        else if has_thumbnail
            //- .four.wide.center.aligned.column
            .image
                //- img.rounded(src=thumbnail)
                //- div(style='position:relative; padding-bottom:calc(125.00% + 44px')
                //-     iframe.invert(src='https://gfycat.com/ifr/LoathsomeSpottedAlaskanmalamute' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen)                
                img.rounded(src=url)
        .content
            if title 
                a#title.ui.yeah.small.header(href=url target='_window') !{lowered_title}
                //- a.ui.pointer.header(title="view full" href=url target='_window') !{title}
                //- .ui.header.pointer.goto_article(title="view full") !{title}
            else if watson.metadata.title
                .ui.grey.middle.aligned.header.pointer.goto_article !{watson.metadata.title}
            .meta
                |#{domain}
                //-     if dev
                //-         .ui.small.inline.grey.header 
                //-             i.tags.small.icon
                //-             |#{tags.length}
