head
    title dao
    script(data-ad-client='ca-pub-5593374176518194' async='' src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#000")
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.1/dist/semantic.min.css')
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap" rel="stylesheet")
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.1/dist/semantic.min.js')
    //- /* script(async='' src='//embed.redditmedia.com/widgets/platform.js' charset='UTF-8') */
    //- // Global site tag (gtag.js) - Google Analytics
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-156965333-1')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-156965333-1');

body
    +home

template(name='home')
    .ui.stackable.padded.grid(class=invert_class)
        .centered.row 
            .sixteen.wide.center.aligned.column
                //- .ui.header #{connection.status}
                unless connected
                    .ui.inline.header not connected
                    .ui.red.basic.circular.button.reconnect reconnect
                if selected_tags
                    .ui.icon.circular.big.black.compact.button.clear_selected_tags
                        i.remove.icon
                each selected_tags
                    button.ui.black.big.compact.circular.button.unselect_tag(tabindex='0')
                        //- i.remove.icon
                        | #{this}
                //- if subs_ready
                //-     i.yin.yang.grey.big.grey.icon(title='dao')
                //- div
                .ui.left.icon.large.search.input
                    if subs_ready
                        i.search.icon.refresh_tags
                    else
                        i.yin.yang.loading.large.icon
                    input#search.prompt(type='text' autofocus='' autocomplete="off")
                //- .spacer
                //- if selected_tags
                //-     .ui.black.icon.large.compact.circular.button.clear_selected_tags(title='clear search')
                //-         i.remove.icon
                //- div
                each tags
                    button.ui.basic.circular.compact.big.button.result(tabindex="0" class=result_class title=count) #{title}
                        //- small #{count}
                //- .ui.divider
            .twelve.wide.center.aligned.column
                i.large.image.circular.link.icon.toggle_images(title='toggle images' class=view_images_class)
                i.large.video.circular.link.icon.toggle_videos(title='toggle video' class=view_videos_class)
                i.large.twitter.circular.link.icon.toggle_tweets(title='toggle tweets' class=view_tweets_class)
                i.large.list.circular.link.icon.toggle_articles(title='toggle articles' class=view_articles_class)
        //- if one_post
        if subs_ready
            .centered.row 
                .sixteen.wide.column
                    
                    .ui.divided.items
                        each posts
                            +post




template(name='post')
    .item 
        if has_thumbnail
            .image.rounded
                img(src=thumbnail)
        .content        
            .header
                if title 
                    a.ui.grey.small.header.toggle_more(title=ups) !{title}
                else if watson.metadata.title 
                    a.ui.grey.small.header.toggle_more(title=ups) !{watson.metadata.title}
                //- if view_more
                //-     i.chevron.down.grey.icon
                //- else     
                //-     i.chevron.right.grey.icon    
            .meta
                .ui.small.inline.grey.header 
                    i.tags.small.icon
                    |#{tags.length}

                a.ui.compact.circular.button(href=url target='_window')
                    i.external.icon
                    |goto link
                //- span.ui.grey.text #{domain}
                //- if is_video
                //-     i.video.large.icon
                //- a.ui.small.compact.basic.circular.button(href="http://www.reddit.com/#{permalink}" target='_window')
                //-     i.comments.spaced.icon
                //-     |#{comment_count}
                //- .ui.basic.inverted.label 
                //-     i.thumbs.up.outline.icon
                //-     |#{ups}
                //-     //-     i.thumbs.down.outline.icon
                //-     //-     |#{downs}
                //- a.ui.basic.compact.inverted.button(href="https://www.reddit.com/user/#{author}" target='_window')
                //-     i.pencil.icon
                //-     |#{author}
                //- //- .ui.basic.inverted.label 
                //- a.ui.small.compact.basic.circular.button(href="http://www.reddit.com/r/#{subreddit}" target='_window' title="visit #{subreddit} subreddit")
                //-     i.reddit.icon
                //-     |#{subreddit}
                //- else 
                //- unless tone
                //- if dev
            if view_more
                //- if is_image
                img.ui.image(src=url)
                //- if view_more
                
                if tone 
                    .ui.list
                        each tone.result.sentences_tone
                            .item
                                //- span #{sentence_id}
                                span.large120.pointer.collapse(title="#{sentence_id}") #{text}                
                else    
                    .ui.circular.compact.large.icon.button.pull_tone
                        i.download.icon
                .ui.circular.compact.button.call_watson 
                    i.chess.icon
                    |tag url
                .ui.circular.compact.button.call_watson_image
                    i.chess.icon
                    |tag comments
                if dev
                    .ui.circular.compact.button.print_me
                        |log
                i.refresh.circular.link.icon.calc_post
                
                each tags
                    .ui.circular.small.basic.compact.button.toggle_tag(class=post_tag_class)
                        |#{this}
            else 
                if tone 
                    each first_three_tones
                        .item
                            .pointer.large120.expand(title="#{sentence_id}") #{text}
                            //- each tones
                            //-     .ui.basic.large.label(class="{{calculated_size 'score'}}") &nbsp; #{tone_id} {{ to_percent score }}% 
                
            //- div
            //- if body
            //-     .ui.basic.segment
            //-         |!{body}
        
