head
    title dao
    script(data-ad-client='ca-pub-5593374176518194' async='' src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#000")
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.1/dist/semantic.min.css')
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap" rel="stylesheet")

    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.1/dist/semantic.min.js')
    //- /* script(async='' src='//embed.redditmedia.com/widgets/platform.js' charset='UTF-8') */


body 
    +home



template(name='home')
    .ui.stackable.padded.grid(class=invert_class)
        .centered.row 
            .sixteen.wide.center.aligned.column
                each selected_tags
                    .ui.active.circular.large.compact.button.unselect_tag
                        i.remove.icon
                        | #{this}
                if subs_ready
                    i.yin.yang.grey.big.icon(title='dao')
                else 
                    i.yin.yang.loading.big.grey.icon(title='dao')

                .ui.large.search.inline
                    .ui.left.icon.large.input
                        i.search.icon
                        input#search.prompt(type='text' autofocus='' autocomplete="off")
                
                
                
                .ui.circular.basic.icon.button.clear_selected_tags(title='clear search')
                    i.remove.icon
                each tags
                    button.ui.circular.button.result(tabindex="0") #{title}

        .sixteen.wide.column
            .filter_row(class=loading_class)
                //- .ui.compact.basic.icon.button.toggle_video(class=toggle_video_class title='toggle videos only')
                //-     i.video.icon
                .ui.compact.icon.button.toggle_tone(class=toggle_tone_class title='toggle tone overlay')
                    i.smile.icon
                .ui.inline.small.grey.header(title='change sort direction')
                    |sort by
                .ui.compact.small.menu
                    .ui.simple.dropdown.item
                        strong #{current_sort_label}
                        i.dropdown.icon
                        .menu
                            +set_sort_key key='ups' label='upvotes' icon='thumbs up outline'
                            +set_sort_key key='sadness_percent' label='sadness' color='blue'
                            +set_sort_key key='joy_percent' label='joy' color='green'
                            +set_sort_key key='fear_percent' label='fear' color='black'
                            +set_sort_key key='disgust_percent' label='disgust' color='yellow'
                            +set_sort_key key='anger_percent' label='anger' color='red'
                            +set_sort_key key='_timestamp' label='added' icon='clock'
                            +set_sort_key key='doc_sentiment_label' label='sentiment' icon='yin yang'
                            +set_sort_key key='comment_count' label='comment count' icon='chat'
                .ui.compact.icon.basic.large.button.set_sort_direction(title='toggle sort direction')
                    if sorting_up
                        i.sort.amount.down.icon
                    else
                        i.sort.amount.up.icon
                |&nbsp;
                |&nbsp;
                .ui.inline.small.grey.header
                    |limit
                .ui.compact.menu
                    .ui.simple.dropdown.item
                        strong #{current_doc_limit}
                        i.dropdown.icon
                        .menu
                            +set_limit amount=1
                            +set_limit amount=5
                            +set_limit amount=10
                            +set_limit amount=20
                            +set_limit amount=50
                //- .ui.inline.header
                //-     |search
                //- .ui.small.input
                //-     input(type='text' placeholder='filter' val=search_value)
                |&nbsp;
                |&nbsp;
                //- .ui.inline.header view
                //- .ui.compact.menu
                //-     .ui.simple.dropdown.item
                //-         |#{current_delta.view_mode}
                //-         i.dropdown.icon
                //-         .menu
                //-             +set_view_mode title='table' icon='table'
                //-             +set_view_mode title='list' icon='list'
                //-             +set_view_mode title='cards' icon='cards'
                //-             +set_view_mode title='items' icon='list'
                //-             +set_view_mode title='map' icon='map'
                //-             +set_view_mode title='graph' icon='graph'
        
            each posts
                +post



template(name='set_sort_key')
    .item.set_sort
        if color
            .ui.label(class=color) #{label}
        else 
            if emoji
                em(data-emoji=emoji)
            else if icon
                i.icon(class=icon)
            |#{label}
        

template(name='set_view_mode')
    .item.set_view
        i.icon(class=icon)
        |#{title}


template(name='set_limit')
    .item.set_limit #{amount}
                    
