head
    title dao
    meta(name='viewport', content='user-scalable=yes, initial-scale=1.0, maximum-scale=1.3, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="black")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,600&display=swap" rel="stylesheet")
    link(rel="manifest" href="/manifest.json")
    //- script(src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js")
    //- script(src="https://semantic-ui.com/javascript/library/tablesort.js")

    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.css")
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
    script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.js")
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-156965333-1")
    //- script(async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8")        
    
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-156965333-1');

body
    +home
    //- .ui.divider
    //- unless dev

                

template(name='home')
    .ui.stackable.padded.grid.home(class=omega_dark_mode_class)
        .centered.row 
            .sixteen.wide.center.aligned.column
                //- .scrolling.forty
                //- .ui.header #{connection.status}
                unless connected
                    //- .ui.inline.header disconnected
                    .ui.hidden.divider
                    i.lightning.circular.yellow.link.large.icon.reconnect
                if connected
                    //- unless selected_tags
                    //-     i.huge.yin.yang.black.icon
                    i.large.lightbulb.link.icon
                    unless omega_doc.selected_tags
                        .ui.hidden.divider
                        i.massive.yin.yang.black.thin.link.icon.pick_dao(class=omega_dark_mode_class)
                    //- if selected_tags
                    //-     .ui.icon.circular.black.compact.button.clear_selected_tags
                    //-         i.remove.icon
                    each omega_doc.selected_tags
                        button.ui.black.compact.circular.large.button.unselect_tag(tabindex='0' class=omega_dark_mode_class)
                            //- i.remove.icon
                            | #{this}
                    .ui.left.icon.search.circular.input
                        unless is_loading
                            i.search.link.icon.refresh_agg
                        if is_loading
                            i.yin.yang.large.loading.large.icon
                        input#search(type='text' autofocus='' autocomplete="off" value=omega_doc.current_query)
                    //- div
                    //- if selected_tags_plural
                    //- each omega_doc.agg
                    each omega_doc.filtered_agg_res
                        button.ui.compact.white.basic.large.circular.button.result(tabindex="0" class=result_class title=count) 
                            strong #{title}
                            //- small #{count}
                        //- button.ui.compact.white.basic.huge.circular.button.result(tabindex="0" class=result_class title=count) #{title}
                    //- .ui.hidden.divider
                //- if one_post
        .centered.four.column.row 
            //- each omega_doc.doc_results
            each omega_doc_results
                +doc_item
    
                //- if selected_tags
        //-     //- .scrolling.sixty
        //-     .ui.stackable.padded.grid
        //-         .four.column.row
        //-             each docs
        //-                 .column
                            //- +doc_item
        //-                     .ui.hidden.divider
            //-         .sixteen.wide.greecolumn
            //-             |hi
            //- .ui.centered.doubling.cards
            //-     each docs
            //-         //- .ui.fitted.hidden.divider
            //-         +doc_item


template(name='doc_item')
    //- .ui.center.aligned.basic.compact.segment
    
    //- .ui.inverted.card
        //- img.image.rounded(src=url)
        //- .invert
        //-     blockquote(class="reddit-card" data-card-created="1591519131")
                //- a.invert(href="https://www.reddit.com/r/CryptoCurrency/comments/fxf0bz/reddit_is_implementing_a_points_system_on_the/")
                //-     |#{title}
                //- |from 
                //- a(href="http://www.reddit.com/r/CryptoCurrency")
                //-     |r/CryptoCurrency
    //- .ui.column(class=omega_dark_mode_class)
    .ui.column
        if title
            if key_value_is 'model' 'wikipedia'
                a#title.ui.center.aligned.yeah.link.header(href=url class=sentiment_class target='_window' title="#{doc_sentiment_label} {{fixed doc_sentiment_score}}%") 
                    i.wikipedia.link.icon
                    |!{lowered_title}
            else
                a#title.ui.center.aligned.yeah.header(href=url class=sentiment_class target='_window' title="#{doc_sentiment_label} {{fixed doc_sentiment_score}}%") !{lowered_title}
            .spacer
            //- a.ui.pointer.header(title="view full" href=url target='_window') !{title}
            //- .ui.header.pointer.goto_article(title="view full") !{title}
        else if watson.metadata.title
            .ui.center.aligned.header.pointer.goto_article(class=sentiment_class title="#{doc_sentiment_label} {{fixed doc_sentiment_score}}%") !{watson.metadata.title}
        if is_youtube
            iframe(class=omega_dark_mode_class width="100%" height="300" src="https://www.youtube.com/embed/#{youtube_id}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            //- .invert
        //- if is_twitter
        //-     blockquote(class="twitter-tweet" data-dnt="true" data-theme="dark")
        //-         p(lang="en" dir="ltr")
        //-             |#{title}
        //-             //- |Today’s Falcon launch carries 2 SpaceX test satellites for global broadband. If successful, Starlink constellation will serve least served.Elon Musk (@elonmusk) 
        //-         a(href="https://twitter.com/elonmusk/status/966298034978959361?ref_src=twsrc%5Etfw")
        //-             |February 21, 2018
        //-     script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
        //- else if has_thumbnail
        
        if is_image
            //- .four.wide.center.aligned.column
            //- .image
                //- div(style='position:relative; padding-bottom:calc(125.00% + 44px')
                //-     iframe.invert(src='https://gfycat.com/ifr/LoathsomeSpottedAlaskanmalamute' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen)                
            img.ui.rounded.fluid.image(src=url class=omega_dark_mode_class)
        else 
            if has_thumbnail   
                unless is_youtube 
                    img.ui.centered.image.rounded(src=thumbnail class=omega_dark_mode_class)
        .smallscroll            
            if reddit_id
                .ui.circular.icon.button.pull_post
                    i.reddit.icon
            .ui.circular.icon.button.call_watson
                i.dna.icon
            if dev 
                i.circular.code.icon.print_me
                
            if rd.selftext_html
                //- .content
                |!{parsed_selftext_html}
                //- |!{rd.selftext_html}
            else
                if rd.selftext
                    .content
                        +markdown
                            !{truncated}
            .spacer
            if key_value_is 'model' 'reddit'
                .ui.link.selection.list
                    a.item(href="https://www.reddit.com/user/#{author}" target="_blank")
                        i.user.outline.icon
                        |#{author}
                    .item
                        i.globe.icon
                        |#{domain}
                    a.item(href="https://www.reddit.com/#{permalink}" target="_blank")
                        i.chat.outline.icon
                        |#{comment_count}
                    a.item(href="https://www.reddit.com/r/#{subreddit}" target="_blank")
                        i.reddit.icon
                        |r/#{subreddit}
                    .item
                        i.thumbs.up.icon
                        |#{ups}
                .spacer
                    
                if dev
                    .ui.small.inline.black.header 
                        i.tags.small.icon
                        |#{tags.length}
