
template(name='doc_item')
    with doc_object
        //- .ui.basic.compact.segment
        
        //- .ui.inverted.card
            //- img.image.rounded(src=url)
            //- .invert
            //-     blockquote(class="reddit-card" data-card-created="1591519131")
                    //- a.invert(href="https://www.reddit.com/r/CryptoCurrency/comments/fxf0bz/reddit_is_implementing_a_points_system_on_the/")
                    //-     |#{title}
                    //- |from 
                    //- a(href="http://www.reddit.com/r/CryptoCurrency")
                    //-     |r/CryptoCurrency
        //- .ui.column(class=omega_dark_mode_class)
        .ui.right.aligned.column
            //- if is_loading
            //-     .ui.right.aligned.placeholder
            //-         .image.right.aligned.header
            //-             .line
            //-         .right.aligned.paragraph
            //-             .line
            //- else
            .ui.stackable.grid
                .right.aligned.row
                    .twelve.wide.column
                        if title
                            if key_value_is 'model' 'wikipedia'
                                a#title.ui.yeah.link.inline.header(href=url class=sentiment_class target='_window' title="#{doc_sentiment_label} {{fixed doc_sentiment_score}}%") 
                                    i.wikipedia.link.icon
                                    |!{lowered_title}
                            else
                                a#title.ui.yeah.inline.header(href=url class=sentiment_class target='_window' title="#{doc_sentiment_label} {{fixed doc_sentiment_score}}%") !{lowered_title}
                            //- .spacer
                            //- a.ui.pointer.header(title="view full" href=url target='_window') !{title}
                            //- .ui.header.pointer.goto_article(title="view full") !{title}
                        else if watson.metadata.title
                            .ui.inline.header.pointer.goto_article(class=sentiment_class title="#{doc_sentiment_label} {{fixed doc_sentiment_score}}%") !{watson.metadata.title}
                        div
                        if is_youtube
                            iframe(class=omega_dark_mode_class width="100%" height="300" src="https://www.youtube.com/embed/#{youtube_id}?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                            //- .invert
                        //- if is_twitter
                        //-     blockquote(class="twitter-tweet" data-dnt="true" data-theme="dark")
                        //-         p(lang="en" dir="ltr")
                        //-             |#{title}
                        //-             //- |Today’s Falcon launch carries 2 SpaceX test satellites for global broadband. If successful, Starlink constellation will serve least served.Elon Musk (@elonmusk) 
                        //-         a(href="https://twitter.com/elonmusk/status/966298034978959361?ref_src=twsrc%5Etfw")
                        //-             |February 21, 2018
                        //-     script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
                        //- else if has_thumbnail
                        
                            //- if watson
                            //-     +doc_emotion
                            //-     //- +doc_sentiment
                            //-     //- +tone
                        
                        if key_value_is 'model' 'reddit'
                            if reddit_id
                                unless rd
                                    //- div
                                    .ui.circular.icon.basic.big.button.pull_post
                                        i.reddit.large.icon
                            unless watson
                                .ui.circular.icon.basic.button.call_watson
                                    i.dna.large.icon
                            //- if dev 
                            //-     i.circular.code.link.icon.print_me
                            
                            //- a.ui.tertiary.grey.basic.small.button(href="https://www.reddit.com/user/#{author}" target="_blank")
                            //-     i.user.outline.icon
                            //-     |#{author}
                        if publish_when
                            .ui.small.grey.tertiary.button
                                i.calendar.icon
                                //- |#{watson.metadata.publication_date}
                                |#{publish_when}
                        .ui.tertiary.grey.basic.button.toggle_domain(title='add domain')
                            i.globe.icon
                            |#{domain}
                        a.ui.tertiary.grey.basic.button(href="https://www.reddit.com/#{permalink}" target="_blank")
                            i.chat.outline.icon
                            |#{comment_count}
                        //- if tone
                        //-     +tone
                        
                    .four.wide.center.aligned.column
                        if is_image
                            //- .four.wide.column
                            //- .image
                                //- div(style='position:relative; padding-bottom:calc(125.00% + 44px')
                                //-     iframe.invert(src='https://gfycat.com/ifr/LoathsomeSpottedAlaskanmalamute' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen)                
                            img.ui.rounded.fluid.image(src=url class=omega_dark_mode_class)
                        //- else 
                    
                        //- if title
                        //- unless is_youtube 
                        //-     unless is_image
                        if has_thumbnail   
                            img.ui.centered.image.inline.rounded(src=thumbnail class=omega_dark_mode_class)
                        div
                        //- .ui.basic.segment
                        i.thumbs.up.large.outline.circular.grey.link.icon.vote_up
                        //- .ui.inline.header #{points}
                        i.thumbs.down.large.outline.circular.grey.link.icon.vote_down

            
                                    
                                
                        //- a.ui.tertiary.grey.basic.button(href="https://www.reddit.com/r/#{subreddit}" target="_blank")
                        //-     i.reddit.icon
                        //-     |r/#{subreddit}
                        //- .ui.icon.small.input
                        //-     i.tag.icon
                        //-     input.add_tag(type='text')
                        //- each user_tags
                        //-     .ui.label #{this}
                //- 
                //-     //- .ui.tertiary.grey.basic.button
                //-     //- i.thumbs.up.icon
                //-     //- |#{ups}
                //- 
                //- 
                //- 
                //-     //- if rd.selftext_html
                //-     //-     //- unless tone
                //-     //-     //- .content
                //-     //-     |!{parsed_selftext_html}
                //-     //-     //- |!{rd.selftext_html}
                //-     //- else
                //-     //-     if tone
                //-     //-         +tone
                //-     //-     //- else
                //-     //- if rd.selftext
                //-     //-     .content
                //-     //-         +markdown
                //-     //-             !{rd.selftext}
                //- 
                //- .eight.wide.column.scrolling
                //-     //- .ui.tertiary.grey.basic.button.toggle_tags
                //-     //-     i.tags.icon
                //-     //-     |#{tags.length}
                //-     //- if view_tags
                //-     each tags
                //-         .ui.compact.large.tertiary.button.toggle_tag
                //-                 |#{this}
