template(name='events')
    //- img.ui.fluid.image.bg_overlay(src="{{c.url 'frontrange' width=1000 crop='fill'}}")    
    .ui.stackable.padded.grid
        .row
            .six.wide.right.aligned.column
                .ui.inline.header 
                    |events
                if currentUser
                    .ui.icon.button.add_event(title='add event')
                        i.plus.icon
                +event_cloud
            .ten.wide.column.scrolling
                //- .ui.button items you have
                //- .ui.button purchasable items
                each events
                    +event_card


template(name='event_cloud')
    div
    //- #cloud
        //- .ui.left.icon.input
        //-     i.search.icon
        //-     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
        // .ui.hidden.fitted.divider
    //- i.grey.tags.icon
    //- .ui.inline.header tags
    if selected_event_tags
        #clear_event_tags.ui.active.icon.circular.button
            i.remove.icon
        each selected_event_tags
            .unselect_event_tag.ui.active.circular.button
                strong #{this}
    each all_event_tags
        .ui.compact.circular.button.select_event_tag(class=cloud_tag_class) 
            strong #{this.name}



template(name='event_card')
    .ui.segment
        img.ui.fluid.image(src="{{c.url event_image_id width=400 height=200 crop='fill'}}")
        .content
            a.ui.header(href="/event/#{_id}/view") #{title}
            |!{body}
            each tags
                .ui.basic.label #{this}
            i.icon(class=icon)
            a.ui.button.view(href="/event/#{_id}/view")
                |view


template(name='event_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        i.pencil.icon
                        | edit '#{title}' event
                    a.ui.icon.fluid.button(href="/event/#{_id}/view" title='save')
                        i.checkmark.large.icon
                        //- |save
                    +remove_button
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                .twelve.wide.column 
                    +text_edit key='title' label='event' direct=true
                    +html_edit key='body' label='body' icon='content' direct=true
                    +text_edit key='link' label='link' direct=true


template(name='event_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.fluid.button(href="/events" title='events')
                        i.chevron.left.icon
                        //- |events
                    .ui.header event view 
                    a.ui.fluid.button(href="/event/#{_id}/edit" title='edit')
                        i.pencil.icon
                        //- |edit
                    i.tags.icon 
                    each tags 
                        .ui.label #{this}
                    a(href=link)
                        |original link
                    +transactions
                    +finance
                .eight.wide.column
                    .ui.header #{title}
                    |!{body}
                    +comments
                .four.wide.column
                    .ui.header stats
                    .ui.header user info
                    +big_user_card user=author


template(name='event_stats')
    //- .ui.accordion
    //-     .title
    .ui.header.refresh_event_stats
        i.line.chart.icon
        |stats
    //- i.dropdown.icon
    //- .content
    .ui.big.list
        .item #{views} views
        .item #{reservation_count} reservations
        .item #{total_earnings}c/#{total_event_hours}hrs total
        .item #{average_event_cost}c / #{average_event_duration}hrs avg event
        //- .item event ranking # reservations
        //- .item event ranking $ earned
        //- .item # different renters
        //- .item avg daily earnings
        //- .item avg weekly earnings
        //- .item avg monthly earnings
        //- .item biggest renter
        //- .item predicted payback duration 
        //- .item predicted payback date 

    //-     //- .ui.header res slot exists
    //-     +reservation_slot_template
    //- else
    //-     if is_event_author
    //-         .ui.button.new_slot
    //-             |new slot
        
template(name='events_view_template')
    .ui.header event view template
