template(name='facet')
    .ui.large.compact.circular.button.toggle_facet(class=toggle_facet_class)
        if icon 
            i.icon(class=icon)
        if label
            |#{label}
        else 
            |#{key}
    //- .ui.header results
    if view_facet
        each results
            .ui.compact.small.circular.button.toggle_filter(class=toggle_filter_class title=count) #{name}
             //- #{count}
        //- #cloud
            .ui.left.icon.input
                i.search.icon
                +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
            // .ui.hidden.fitted.divider
    .spacer
