template(name='textarea_view')
    if field_value
        div
        //- if icon
        //-     i.icon(class=field_value)
            //- +i name=icon classes='ui inline image'
        .ui.inline.small.header
            if title
                |#{title}
            else if label
                |#{label}
            //- else if key
            //-     |#{key}
            //- else
            //-     |#{this}            
        .f6 {{nl2br field_value}}

template(name='image_edit')
    .ui.form
        .ui.inline.small.header
            if title
                |#{title}
            else if label
                |#{label}
            else if key
                |#{key}
            else
                |#{this}   
        if tooltip
            i.info.icon(title=tooltip)         
        .field
            if field_value
                //- label Image
                img.ui.centered.rounded.image(src="{{c.url field_value height=500 gravity='face' crop='fill'}}")
                a#remove_photo.ui.right.corner.link.label
                    i.remove.link.icon
            else 
                input(type='file' name='upload_image' accept='image/*' )

template(name='image_link_edit')
    .ui.fluid.input
        .ui.smoothed.label image link
        i.image.icon
        input.edit_image_link(type='link' value=field_value placeholder='image link'  autocomplete="off")
    if field_value
        img.ui.image(src=field_value)
    // +call_visual

    
template(name='image_link_view')
    img.ui.image(src=field_value)


template(name='image_view')
    if field_value
        //- .ui.inline.header
        //-     if icon
                i.icon(class=icon)
        //-     if title
        //-         |#{title}
        //- else if key
        //-     |#{key}
        //- else
        //-     |#{this}
        //- if classes
        //-     img(src="{{c.url field_value gravity='face' crop='fit'}}" class=classes)
        //- else 
        img.ui.centered.rounded.medium.image(src="{{c.url field_value gravity='face' crop='fit'}}")
        //- a(href="{{c.url field_value gravity='face' crop='fit'}}")
        //-     |download
    //- +call_visual



template(name='html_view')
    if field_value
        div
        //- if icon
        //-     i.icon(class=field_value)
        .ui.inline.small.header
            if title
                |#{title}
            else if label
                |#{label}
        .f6 {{nl2br field_value}}
        if view_watson
            if watson
                +watson_view

template(name='html_edit')
    .ui.form
        .field
            label 
                if icon
                    i.icon(class=icon)
                if title
                    |#{title}
                else if label
                    |#{label}
                else if key
                    |#{key}
                else
                    |#{this}
    .froala-container
        +froalaReactive getFEContext
    //- if is_dev
    +call_watson mode='html' key=key
    div
    //- +tone mode='html'
    if watson
        +watson_view
        



template(name='text_edit')
    div
    .ui.inline.small.header
        if title
            |#{title}
        else if label
            |#{label}
        else if key
            |#{key}
            //- +clear_value
    if subtitle
        .ui.small.inline.header 
            |#{subtitle}
    if tooltip 
        i.info.icon(title=tooltip)
    .ui.fluid.icon.input
        input.edit_text(type='text' value=field_value placeholder=placeholder autocomplete="off")
        

template(name='clear_value')
    if field_value
        i.remove.link.large.icon.clear_value

template(name='text_view')
    if field_value
        .ui.inline.small.header
            if title
                |#{title}
            else if label
                |#{label}
            else if key
                |#{key}
            else
                |#{this}
        .ui.inline.header #{field_value}


template(name='array_view')
    if field_value
        div
        if icon
            i.icon(class=icon)
        if label
            .ui.inline.small.header(title=title)
                |#{label}
        each field_value
            .ui.basic.label #{this}

template(name='array_edit')
    div
    if icon
        i.grey.icon(class=icon)
    .ui.inline.small.header
        if title
            |#{title}
        else if label
            |#{label}
        else if key
            |#{key}
    .ui.input
        input.new_element(type='text' placeholder='+' autocomplete="off")
        //- +clear_value                
    if field_value
        each field_value
            .ui.large.label
                i.delete.icon.remove_element
                |#{this}
                
                
                
template(name='boolean_edit')
    //- div
    .ui.button.toggle_boolean(class="#{boolean_toggle_class} #{classes}" title=tooltip)
        if field_value
            i.checkmark.icon
        else
            i.circle.outline.icon
        //- .ui.compact.button.toggle_boolean(class=boolean_toggle_class)
        if icon
            i.icon(class=icon)
        .inline.f4
            //- if field_value
            //-     i.checkmark.icon
            if label
                |#{label}
            else if key
                |#{key}
            else
                |#{this}
        div
        //- 
        //- if field_value
        //-     if true_icon
        //-         i.large.icon(class=true_icon)
        //-     else
        //-         |yes
        //- else
        //-     if false_icon
        //-         i.large.icon(class=false_icon)
        //-     else
        //-         |no


template(name='boolean_view')
    div(title=title)
        .ui.inline.small.header
            if title
                |#{title}
            else if label
                |#{label}
            else if key
                |#{key}
            else
                |#{this}
        if field_value
            i.large.checkmark.icon
        else
            i.cancel.icon


template(name='textarea_edit')
    .ui.form
        .field
            label
                if title
                    |#{title}
                else if label
                    |#{label}
                //- else if key
                //-     |#{key}
                //- else
                //-     |#{this}
            textarea.edit_textarea(rows='5') #{field_value}



template(name='project_lookup')
    unless field_value
        .ui.input
            input.project_title_lookup(type='text' placeholder='lookup project' autocomplete="off")
        //- input#multi_doc_select_input(type='text' placeholder="Lookup #{ref_model}.." autocomplete="off")
    each selections
        .ui.basic.label
            |#{title}
    if doc_results
        .ui.attached.segment
            .ui.middle.aligned.selection.animated.list
                each doc_results
                    .select_doc.item
                        .ui.inline.small.header
                            strong #{title}
                        div
        //- +clear_value                
        //- .ui.list
        //-     each field_value
        //-         // |#{this}
        //-         +user_card
        //-         .ui.large.button
        //-             |#{first_name} #{last_name}
                //- with user_from_id
                //-     .item
                //-         .right.floated.content
                //-             i.pull_user.remove.link.icon
                //-         .image
                //-             img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                //-         .content
                //-             h4.ui.header
                //-                 |#{first_name} #{last_name}
                //-                 @#{username}


                template(name='project_lookup')
                    //- .ui.form
                        //- .ui.inline.header
                        //-     if icon
                        //-         i.icon(class=icon)
                        //-     if title
                        //-         |#{title}
                        //-     else if label
                        //-         |#{label}
                        //-     else if key
                        //-         |#{key}
                        //-     else
                        //-         |#{this}
                    unless field_value
                        .ui.input
                            input.project_title_lookup(type='text' placeholder='lookup project' autocomplete="off")
                        //- input#multi_doc_select_input(type='text' placeholder="Lookup #{ref_model}.." autocomplete="off")
                    each selections
                        .ui.basic.label
                            |#{title}
                    if doc_results
                        .ui.attached.segment
                            .ui.middle.aligned.selection.animated.list
                                each doc_results
                                    .select_doc.item
                                        +ismall name=icon classes='ui middle aligned image'
                                        .ui.inline.small.header
                                            strong #{title}
                                        div
                        //- +clear_value                
                        //- .ui.list
                        //-     each field_value
                        //-         // |#{this}
                        //-         +user_card
                        //-         .ui.large.button
                        //-             |#{first_name} #{last_name}
                                //- with user_from_id
                                //-     .item
                                //-         .right.floated.content
                                //-             i.pull_user.remove.link.icon
                                //-         .image
                                //-             img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                                //-         .content
                                //-             h4.ui.header
                                //-                 |#{first_name} #{last_name}
                                //-                 @#{username}


template(name='slug_edit')
    .ui.inline.small.header.slugify_title
        if title
            |#{title}
        else if label
            |#{label}
        else if key
            |#{key}
    //- +clear_value
    .ui.fluid.icon.input
        input.edit_text(type='text' value=field_value placeholder=placeholder autocomplete="off")

template(name='slug_view')
    if field_value
        unless header
            div
            .ui.inline.small.header
                if title
                    |#{title}
                else if label
                    |#{label}
                else if key
                    |#{key}
                else
                    |#{this}
        .ui.inline.small.header
            strong #{field_value}


template(name='multi_doc_edit')
    div
    .ui.inline.header(title=key)
        |#{title} #{label}    
    each choices
        .ui.compact.button.select_choice(class=choice_class)
            //- |#{title} #{slug}
            |#{slug}
    //- .ui.sub.header 
    //-     if icon
    //-         i.icon(class=icon)
    //-     |#{title}
    //- select.ui.fluid.multiple.selection.dropdown(multiple='')
    //-     each choices
    //-         option(value=slug) #{title} #{unit_number}
    //- .ui.fluid.multiple.selection.dropdown
    //-  // input(type='hidden' name='multi_doc')
    //-  // i.dropdown.icon
    //-  // .default.text 
    //-  //     |#{title}
    //-  // .menu
    //-  //     each choices
    //-  //         .item(data-value=slug) 
    //-  //             if icon
    //-  i.icon(class=icon)
    //-  //             |#{title}
    
template(name='number_view')
    if field_value
        div
        .ui.inline.small.header
            if title
                |#{title}
            else if label
                |#{label}
            //- else if key
            //-     |#{key}
            //- else
            //-     |#{this}
        .ui.inline.header &nbsp;
            if unit
                span #{prefix}
            |#{field_value}


template(name='number_edit')
    unless no_header
        .ui.inline.small.header(title=tooltip)
            if title
                |#{title}
            else if label
                |#{label}
        //- else
        //-     |#{key}
    //- if tooltip
    //-     .ui.tiny.inline.header #{tooltip}
    //-     div
    //- +clear_value  
    .ui.input(class=classes)
        input.edit_number(type='number' min=min max=max value=field_value placeholder=placeholder autocomplete="off")
                


            
template(name='float_edit')
    div
    .ui.small.inline.header(title=tip)
        if title
            |#{title}
        else if label
            |#{label}
        else
            |#{key}
    //- +clear_value  
    div  
    .ui.input            
        input.edit_float(type='number' class=classes min=min step=step value=field_value placeholder=placeholder autocomplete="off")
            
template(name='float_view')
    if field_value
        div
        .ui.inline.small.header
            if title
                |#{title}
            else if label
                |#{label}
            else if key
                |#{key}
            else
                |#{this}
        .ui.inline.large.header &nbsp; #{field_value}



template(name='date_edit')
    div
    //-     |&nbsp;
    .ui.inline.small.header
        if title
            |#{title}
        else if label
            |#{label}
            //- else if key
            //-     |#{key}
            //- else
            //-     |#{this}
            //- +clear_value                
    .ui.fluid.input
        input.edit_date(type='date' value=field_value placeholder=placeholder autocomplete="off")


template(name='date_view')
    if field_value
        div
        .ui.inline.small.header
            if title
                |#{title}
            else if label
                |#{label}
            else if key
                |#{key}
            else
                |#{this}
        .ui.inline.header &nbsp; #{field_value}



template(name='time_edit')
    .ui.inline.header
        if title
            |#{title}
        else if label
            |#{label}
        //- else
        //-     |#{key}
    //- +clear_value                
    .ui.fluid.input
        input.edit_time(type='time' value=field_value placeholder=placeholder autocomplete="off")
                
                
template(name='time_view')
    div
    if field_value
        .ui.inline.header
            if title
                |#{title}
            else if label
                |#{label}
            else if key
                |#{key}
            else
                |#{this}
        .ui.inline.header &nbsp; #{field_value}

template(name='datetime_edit')
    .ui.form
        .field
            label 
                if icon
                    i.icon(class=icon)
                if title
                    |#{title}
                else if label
                    |#{label}
                else
                    |#{key}
            //- +clear_value                
            input.edit_datetime(type='datetime-local' value=field_value placeholder=placeholder autocomplete="off")

template(name='datetime_view')
    div
    if title
        |#{title}
    else if label
        |#{label}        
    else if key
        |#{key}
    else
        |#{this}
    strong &nbsp; #{field_value}





template(name='single_doc_view')
    div
    if field_value
        .ui.inline.header(title=key)
            |#{title}
        .ui.basic.label
            |#{field_value}


template(name='single_doc_edit')
    div
    .ui.inline.header(title=key)
        if icon 
            i.icon(class=icon)         
        |#{label} #{title}
    each choices
        .ui.compact.button.select_choice(class=choice_class)
            if icon 
                i.icon(class=icon)  
            |#{title}          
            //- |#{calculated_label}
            //- |#{slug}
            
            
template(name='doc_card')
    a.ui.header(href="/m/#{doc.model}/#{doc._id}/view") doc #{doc.model}


template(name='phone_edit')
    //- i.phone.icon
    .ui.inline.header 
        if title
            |#{title}
        else if label
            |#{label}
        else if key
            |#{key}
        else
            |#{this}
    .ui.fluid.input
        //- +clear_value                
        input.edit_phone(type='tel' value=field_value placeholder=placeholder autocomplete="off")

template(name='phone_view')
    if field_value
        unless header
            div
            //- if icon
            .ui.inline.header
                if title
                    |#{title}
                else if label
                    |#{label}
                else if key
                    |#{key}
                else
                    |#{this}
        strong &nbsp; #{field_value}



template(name='youtube_edit')
    .ui.basic.labeled.fluid.icon.input
        .ui.basic.label 
            // if icon
            //     i.icon(class=icon)
            |youtube id
        input.youtube_id(type='text' value=field_value placeholder=placeholder autocomplete="off")
    if field_value
        iframe.youtube_view(width='560' height='315' src="https://www.youtube.com/embed/#{field_value}" frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

template(name='youtube_view')
    if field_value
        .ui.embed.youtube_view(data-source="youtube" data-id=field_value)

        //- // iframe(width='560' height='315' src="https://www.youtube.com/embed/#{field_value}" frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        //- iframe(src="https://www.youtube.com/embed/#{field_value}" frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')



template(name='price_edit')
    div
    .ui.fluid.input
        .ui.small.inline.header
            if icon
                +ismall name=icon
                //- i.icon(class=icon)
            if title
                |#{title}
            else if label
                |#{label}
            else
                |#{key}
        //- +clear_value                
        input.edit_price(type='number' value=field_value placeholder=placeholder autocomplete="off")
            
            
template(name='price_view')
    if field_value
        div
        .ui.small.inline.header
            if icon
                +ismall name=icon
                //- i.icon(class=icon)
            if title
                |#{title}
            else if label
                |#{label}
            else if key
                |#{key}
            else
                |#{this}
        strong &nbsp; #{field_value}
        .ui.big.green.button.buy_now
            |buy now





template(name='color_edit')
    .ui.large.form
        .field
            label 
                if icon
                    i.grey.icon(class=icon)
                    //- +i name=icon                
                if title
                    |#{title}
                else if key
                    |#{key}
                else
                    |#{this}
            input.edit_color(type='color' value=field_value placeholder='color' autocomplete="off")



template(name='color_view')
    .ui.form
        .field
            label 
                if icon
                    i.grey.icon(class=icon)
                    //- +i name=icon                
                if title
                    |#{title}
                else if key
                    |#{key}
                else
                    |#{this}
            .ui.large.basic.label(style="background:#{field_value}")
            |#{field_value}

template(name='color_icon_edit')
    div
    .ui.inline.header
        if icon
            i.grey.icon(class=icon)
            //- +i name=icon
        if title
            |#{title}
        else if key
            |#{key}
        else
            |#{this}
    input.color_icon(type='url' value=field_value placeholder='icons8 class' autocomplete="off")
    if field_value
        i.large.icon(class=field_value)
        //- img.ui.inline.image(src="https://img.icons8.com/color/48/000000/#{field_value}.png")
template(name='icon_edit')
    div
    if icon
        i.grey.icon(class=icon)
        //- +ismall name=icon classes='ui middle aligned image'
    .ui.inline.header
        if title
            |#{title}
        else if key
            |#{key}
        else
            |#{this}    
    if field_value
        i.large.icon(class=field_value)
        //- +ismall name=field_value
    .ui.right.icon.input
        input.icon_val(type='text' value=field_value placeholder='icon class' autocomplete="off")


template(name='color_icon_view')
    if field_value
        img(src="https://img.icons8.com/office/48/000000/#{field_value}.png")
        //- img(src="https://img.icons8.com/ios/48/000000/#{field_value}.png")


template(name='icon_view')
    i.large.link.icon
    if field_value
        //- span.inline.spaced
        //-     +ismall name=field_value
        i.icon(class=field_value)
        i.large.link.icon

        //- img(src="https://img.icons8.com/office/48/000000/#{field_value}.png")
        //- img(src="https://img.icons8.com/color/48/000000/#{field_value}.png")
        //- img(src="https://img.icons8.com/ios/48/000000/#{field_value}.png")
        
        
        
        
template(name='i')
    i.icon(class=name)
    //- img(src="https://img.icons8.com/cotton/48/000000/#{name}.png" class=classes title=title)
    //- img(src="https://img.icons8.com/color/48/000000/#{name}.png" class=classes title=title)
    //- img.icon8(src="https://img.icons8.com/ios/50/000000/#{name}.png" class=classes title=title)
    //- img(src="https://img.icons8.com/ultraviolet/48/000000/#{name}.png" class=classes title=title)
    //- img(src="https://img.icons8.com/office/48/000000/#{name}.png" class=classes title=title)
    //- if classes.length
    //-     img(src="https://img.icons8.com/#{gs.icon_theme}/48/000000/#{name}.png" class=classes title=title)
    //- else 
    //-     img.ui.mini.inline.image(src="https://img.icons8.com/#{gs.icon_theme}/48/000000/#{name}.png" class=classes title=title)
    //- img(src="https://img.icons8.com/plasticine/48/000000/#{name}.png" class=classes title=title)
template(name='ioffice')
    img(src="https://img.icons8.com/office/48/000000/#{name}.png" class=classes title=title)
template(name='iios')
    img(src="https://img.icons8.com/ios/48/000000/#{name}.png" class=classes title=title)
    //- img(src="https://img.icons8.com/ultraviolet/48/000000/#{name}.png" class=classes title=title)
template(name='ismall')
    i.icon(class=name)
    //- img.ui.middle.aligned.image(src="https://img.icons8.com/cotton/24/000000/#{name}.png" class=classes title=title)
    //- img(src="https://img.icons8.com/office/24/000000/#{name}.png" class=classes title=title)
    //- img.ui.middle.aligned.image(src="https://img.icons8.com/plasticine/24/000000/#{name}.png" class=classes title=title)
    //- img(src="https://img.icons8.com/plasticine/24/000000/#{name}.png" class=classes title=title)
    //- img.ui.inline.image(src="https://img.icons8.com/#{gs.icon_theme}/24/000000/#{name}.png" class=classes title=title)
    //- img(src="https://img.icons8.com/ultraviolet/24/000000/#{name}.png" class=classes title=title)
    //- img(src="https://img.icons8.com/ios/24/000000/#{name}.png" class=classes title=title) 
    //- |&nbsp;
template(name='iblue')
    img(src="https://img.icons8.com/ultraviolet/40/000000/#{name}.png" class=classes)

template(name='iflat')
    img.ui.mini.image(src="https://img.icons8.com/flat_round/64/000000/#{name}.png")

//- template(name='ioffice')
//-     img.ui.image(src="https://img.icons8.com/office/30/000000/#{name}.png" class=classes)



template(name='link_edit')
    div
    .ui.inline.small.header
        |#{title} #{label}
    .ui.fluid.input
        input.edit_url(type='url' value=field_value placeholder='url' autocomplete="off")


template(name='link_view')
    if field_value
        div
        a.ui.header(href=field_value targe='_window' title='click to download')
            |#{title} #{label}
        //- a.ui.header(href=field_value target='_window') #{label}
        a.ui.small.header(href=field_value target='_window') #{field_value}
        //- img.ui.fluid.image(src=field_value)

template(name='big_link_view')
    if field_value
        div
        a.ui.big.button(href=field_value target='_window' title='click to download')
            |#{title} #{label}
        //- a.ui.header(href=field_value target='_window') #{label}
        //- a.ui.header(href=field_value target='_window') #{field_value}
        //- img.ui.fluid.image(src=field_value)
