template(name='home')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.icon.input
                    i.search.icon
                    input.fin(type='text')
                |result: #{omega.result}
                |type: #{omega.typeof}
                .ui.selection.animated.huge.list
                    each sections
                        a.item(href=link) 
                            i.icon(class=icon)
                            |#{title}
                            if is_admin
                                +text_edit key='title' direct=true
                                +link_edit key='link' direct=true
                                +icon_edit key='icon' direct=true
                                +delete_button
                
            .eight.wide.column
                .ui.large.fluid.input
                    input.add_thought(type='text' placeholder='add thought...')
                .ui.large.list
                    each thoughts
                        .item
                            .content
                                a.ui.header(href="/thought/#{_id}/view") #{body}
                                .description
                                    i.thumbs.up.outline.icon
                                    i.thumbs.down.outline.icon
                                    |#{when}
                                    i.remove.link.grey.icon
                
                if is_admin
                    .ui.icon.button.add_section
                        i.plus.icon
                //- .ui.icon.input
                //-     if current_query
                //-         i.remove.link.icon.clear_query
                //-     else        
                //-         i.search.icon
                //-     input.global_search(type='text' autocomplete="off" value=current_query)

            .four.wide.column
                .ui.grey.header 
                    i.rss.icon
                    |site activity
                each tail_log
                    .ui.small.header #{body}
                    |#{when}
                +color_changer
                if currentUser
                    .ui.header your activity



template(name='color_changer')
    .ui.header color changer
    .ui.small.header pick color for global navbar (-.01)
    +choose_nav_color color='blue'
    +choose_nav_color color='black'
    +choose_nav_color color='pink'
    +choose_nav_color color='grey'
    +choose_nav_color color='green'
    +choose_nav_color color='yellow'
    +choose_nav_color color='orange'
    .ui.list
        each color_changes
            .ui.item
                .content
                    |#{_author_username} selected #{color}
                .meta 
                    small #{when}
    
    
template(name='choose_nav_color')
    .ui.invert.compact.button.choose_class(class=color)
        |#{color}
