template(name='home')
    .ui.padded.grid
        .four.wide.column
            .ui.big.fluid.button.need
                |i need help
            .ui.big.fluid.button.help
                |i can help
        .four.wide.column
            //- if is_admin
            //-     .ui.icon.button.add_section
            //-         i.link.plus.large.icon
            //- .ui.cards
            //-     a.card(href="/news")
            //-         .content
            //-             .header 
            //-                 i.newspaper.icon
            //-                 |news
                a.card(href="/baro")
                    .content
                        .header 
                            i.share.icon
                            |baro
            .ui.header thoughts
            .ui.input
                i.plus.icon
                input.add_thought(type='text')
            .ui.selection.animated.list
                each thoughts
                    a.item(href="/thought/#{_id}/view") #{body}
        .four.wide.column
            .ui.header requests
            .ui.input
                i.plus.icon
                input.add_thought(type='text')
            .ui.selection.animated.list
                each requests
                    a.item(href="/thought/#{_id}/view") #{title}: #{body}
        .four.wide.column
            .ui.header offers
            .ui.input
                i.plus.icon
                input.add_thought(type='text')
            .ui.selection.animated.list
                each offers
                    a.item(href="/thought/#{_id}/view") #{body}
