template(name='home')
    .ui.stackable.padded.grid
        .row
            .twelve.wide.column
                //- .ui.icon.center.aligned.header prime
                //- if currentUser.prime
                //-     if is_admin
                //-         .ui.button.cancel
                //-             |cancel
                //-     .ui.green.inline.header is prime member
                //- else
                //-     .ui.button.get_prime
                //-         |get prime
                if is_admin
                    .ui.button.add_section
                        i.plus.icon
                //- .ui.icon.input
                //-     if current_query
                //-         i.remove.link.icon.clear_query
                //-     else        
                //-         i.search.icon
                //-     input.global_search(type='text' autocomplete="off" value=current_query)

                .ui.stackable.padded.grid
                    .five.column.centered.row
                        each sections
                            .column
                                .ui.segment
                                    a.ui.icon.center.aligned.grey.header(href=link) 
                                        i.icon(class=icon)
                                        |#{title}
                                    if is_admin
                                        +text_edit key='title' direct=true
                                        +link_edit key='link' direct=true
                                        +icon_edit key='icon' direct=true
                                        +delete_button
                                .spacer
            .four.wide.column
                +color_changer
                .ui.grey.header 
                    i.rss.icon
                    |site activity
                each tail_log
                    .ui.small.header #{body}
                    |#{when}
                //- if currentUser
                //-     .ui.header your activity



template(name='color_changer')
    .ui.header color changer
    .ui.small.header pick color for global navbar (-.01)
    +choose_nav_color color='blue'
    +choose_nav_color color='black'
    +choose_nav_color color='pink'
    +choose_nav_color color='grey'
    +choose_nav_color color='green'
    +choose_nav_color color='yellow'
    +choose_nav_color color='orange'
    .ui.list
        each color_changes
            .ui.item
                .content
                    |#{_author_username} selected #{color}
                .meta 
                    small #{when}
    
    
template(name='choose_nav_color')
    .ui.invert.compact.button.choose_class(class=color)
        |#{color}
