template(name='home')
    .ui.padded.grid.home(class=omega_dark_mode_class)
        .centered.row.flat
            .eight.wide.right.aligned.column.scrolling
                each omega_doc.doc_result_ids
                    +doc_item
        
            .eight.wide.column.scrolling
                each omega_doc.selected_tags
                    button.ui.active.compact.large.circular.button.unselect_tag(tabindex='0' class=omega_dark_mode_class)
                        //- i.remove.icon
                        | #{this}
                .ui.left.icon.search.input
                    unless is_loading
                        i.search.link.icon.refresh_agg
                    if is_loading
                        i.yin.yang.large.loading.large.icon
                    input#search(type='text' autofocus='' autocomplete="off" value=omega_doc.current_query)
                //- .scrolling.forty
                //- .ui.header #{connection.status}
                unless connected
                    //- .ui.inline.header disconnected
                    .ui.hidden.divider
                    i.lightning.yellow.link.big.icon.reconnect
                if connected
                    //- unless selected_tags
                    //-     i.huge.yin.yang.black.icon
                    //- i.grey.lightbulb.link.icon
                    unless omega_doc.selected_tags
                        .ui.hidden.divider
                        if omega_doc.dark_mode
                            i.massive.loading.yin.yang.grey.link.icon.pick_dao
                        else
                            i.massive.loading.yin.yang.grey.link.icon.pick_dao
                    //- if selected_tags
                    //-     .ui.icon.black.compact.button.clear_selected_tags
                    //-         i.remove.icon
                    //- div
                    //- if selected_tags_plural
                    //- each omega_doc.agg
                    each omega_doc.filtered_agg_res
                        button.ui.compact.tertiary.white.circular.basic.big.button.result(tabindex="0" class=result_class title=count)
                            strong #{title}
                            //- small #{count}
                        //- button.ui.compact.white.basic.huge.button.result(tabindex="0" class=result_class title=count) #{title}
                    //- .ui.hidden.divider
                //- if one_post
            //- .centered.one.column.row
            //- each omega_doc.doc_results
            //- each omega_doc_results
            //- .eight.wide.column.scrolling
            //-     each omega_doc.doc_result_ids
            //-         +doc_item
                //- if selected_tags
        //-     //- .scrolling.sixty
        //-     .ui.stackable.padded.grid
        //-         .four.column.row
        //-             each docs
        //-                 .column
                            //- +doc_item
        //-                     .ui.hidden.divider
            //-         .sixteen.wide.greecolumn
            //-             |hi
            //- .ui.centered.doubling.cards
            //-     each docs
            //-         //- .ui.fitted.hidden.divider
            //-         +doc_item
    .centered.middle.aligned.row.flat
        .sixteen.wide.middle.aligned.column
            //- .ui.hidden.divider
            .ui.center.aligned.middle.aligned.grey.header 
                |sponsored by
                a(href="https://ciomastermind.com/" target="_window")
                    //- |ciomastermind
                    img.ui.small.inline.image(src="https://static1.squarespace.com/static/5e7227fe0a7d0212a00b4e68/t/5e73a2c578579570907dfe02/1591829497276/?format=1500w")
            
