template(name='home')
    .ui.padded.stackable.grid
        .row
            .four.wide.column
                if currentUser
                    a#add.ui.icon.button(title='add post')
                        i.plus.large.icon
                            //- div
                div
                .ui.icon.input
                    if current_query
                        i.link.remove.icon.clear_query
                    else 
                        i.search.grey.icon
                    input#search(type='text' autocomplete="off")
                +cloud
            .twelve.wide.column
                .ui.button
                    i.cart.icon
                    |sale
                .ui.button
                    i.clock.icon
                    |rentable
                .ui.button
                    i.sun.icon
                    |daily
                .ui.button
                    i.clock.icon
                    |hourly
                .ui.button
                    i.calendar.icon
                    |weekly
                .ui.button
                    |sort
                    |#{sort_key}
                .spacer
                .ui.four.stackable.cards
                    each posts
                        +post_item
                //- .ui.divider




template(name='cloud')
    //- div
    //- i.tags.large.grey.icon(title='tags')
    if selected_tags
        #clear_tags.ui.secondary.icon.compact.large.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.secondary.compact.large.button
                strong #{this}
    each all_tags
        .ui.compact.large.button.select_tag(class=cloud_tag_class) 
            strong #{this.name}
    div
    i.user.large.grey.icon(title='author')
    if selected_authors
        //- #clear_tags.ui.secondary.icon.compact.button
        //-     i.remove.icon
        each selected_authors
            .unselect_tag.ui.secondary.compact.large.button
                strong #{this}
    each all_authors
        .ui.compact.large.button.select_author(class=cloud_tag_class) 
            strong #{this.name}





                    
            
            
            
template(name='author_card')
    .ui.header author
    with author
        .ui.card
            img.ui.centered.rounded.image(src="{{c.url image width=400 height=400 crop='fit'}}")
            .content
                a.header(href="/user/#{username}") #{username}
                .ui.list
                    .item #{sales_count} sales
                    .item #{selling_count} selling
