template(name='items')
    .ui.padded.stackable.grid
        .four.wide.column
            if currentUser
                +session_edit_value_button key='view_mode' value='market' label='market' icon='shop'
                +session_edit_value_button key='view_mode' value='bought' label='bought' icon='money'
                +session_edit_value_button key='view_mode' value='selling' label='selling' icon='clock'
                +session_edit_value_button key='view_mode' value='sold' label='sold' icon='checkmark'
            +cloud
        .twelve.wide.column
            .mobile.hidden
                .ui.icon.input
                    i.search.icon
                    input#search(type='text')
                +session_edit_value_button key='layout_mode' value='list' label='list' icon='list'
                +session_edit_value_button key='layout_mode' value='grid' label='grid' icon='th'
                .spacer
            if session_key_value_is 'layout_mode' 'grid'
                .ui.stackable.four.cards
                    each docs
                        +item_card
            if session_key_value_is 'layout_mode' 'list'
                each docs
                    +item_item
                    




template(name='cloud')
    div
    .ui.grey.inline.header 
        i.tags.small.icon
        |tags
    if selected_tags
        //- #clear_tags.ui.secondary.icon.large.circular.compact.button
        //-     i.remove.icon
        each selected_tags
            .unselect_tag.ui.secondary.large.circular.compact.button
                strong #{this}
    each all_tags
        .ui.large.compact.basic.circular.button.select_tag(class=cloud_tag_class) 
            strong #{this.name}


        

template(name='item_card')
    .ui.card
        if title
            .content
                .ui.header #{title}
        a(href="/item/#{_id}/view")
            img.ui.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    
        a.content(href="/item/#{_id}/view")
            each tags
                .ui.large.circular.basic.label #{this}
        .content
            .ui.circular.basic.label(title='seller')
                i.user.outline.icon
                |#{_author_username}
            .ui.inline.header $#{price}
            if bought
                .content
                    |bought buy
                    .ui.circular.basic.label(title='buyer')
                        |#{buyer_username}
                    div
                    strong {{long_date bought_timestamp}} ({{from_now bought_timestamp}})
            else
                if can_buy
                    if has_enough
                        .ui.green.basic.basic.circular.button.buy
                            |buy
                    else
                        .ui.green.basic.disabled.button
                            |not enough
                        
                if can_edit
                    a.ui.icon.button(href="/item/#{_id}/edit")
                        i.pencil.icon
            if can_edit
                if bought
                    .ui.basic.circular.button.cancel
                        i.ban.icon
                        |cancel
            if is_admin
                a.ui.icon.button(href="/item/#{_id}/edit")
                    i.pencil.icon
                
                
template(name='item_item')
    .ui.segment.stackable.grid
        .four.wide.column
            a(href="/item/#{_id}/view")
                img.ui.inline.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    
        .twelve.wide.column
            .ui.header #{title}
            each tags
                .ui.circular.basic.label #{this}
            .ui.inline.header seller:
            .ui.circular.basic.label 
                i.user.outline.icon
                |#{_author_username}
            .ui.header $#{price}
            if buyer_username
                .ui.inline.header buyer:
                .ui.circular.basic.label 
                    |#{buyer_username}
            unless bought
                if can_buy
                    if has_enough
                        .ui.green.basic.basic.circular.button.buy
                            |buy
                    else
                        .ui.green.basic.disabled.button
                            |not enough
                        
            if can_edit
                if bought
                    .ui.basic.circular.button.cancel
                        i.ban.icon
                        |cancel
            if can_edit
                a.ui.icon.circular.basic.button(href="/item/#{_id}/edit")
                    i.pencil.icon
                
                
