template(name='home')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                //- .ui.icon.center.aligned.header prime
                //- if currentUser.prime
                //-     if is_admin
                //-         .ui.button.cancel
                //-             |cancel
                //-     .ui.green.inline.header is prime member
                //- else
                //-     .ui.button.get_prime
                //-         |get prime
                if is_admin
                    .ui.circular.basic.button.add_section
                        i.plus.icon
                .ui.icon.input
                    if current_query
                        i.remove.link.icon.clear_query
                    else        
                        i.search.icon
                    input.global_search(type='text' autocomplete="off" value=current_query)

                .ui.stackable.padded.grid
                    .five.column.row
                        each sections
                            .column
                                .ui.segment
                                    a.ui.icon.center.aligned.header(href=link) 
                                        i.icon(class=icon)
                                        |#{title}
                                    if is_admin
                                        +text_edit key='title' direct=true
                                        +link_edit key='link' direct=true
                                        +icon_edit key='icon' direct=true
                                        
                                .spacer
