template(name='home')
    div
    .ui.icon.input
        if current_query
            i.link.remove.icon.clear_query
        else 
            i.search.grey.icon
        input#search(type='text' autocomplete="off")
    if currentUser
        a#add.ui.icon.circular.button(title='add post')
            i.plus.large.icon
        //- div
        +session_edit_value_button key='view_mode' value='voted' label='voted' icon='checkmark'
        +session_edit_value_button key='view_mode' value='upvoted' label='upvoted' icon='thumbs up outline'
        +session_edit_value_button key='view_mode' value='downvoted' label='downvoted' icon='thumbs down outline'
        +session_edit_value_button key='view_mode' value='unvoted' label='unvoted' icon='question'
    +cloud
    .ui.basic.center.aligned.segment
        if one_post
            each posts
                +post_item
                //- .ui.divider




template(name='cloud')
    //- div
    //- i.tags.large.grey.icon(title='tags')
    if selected_tags
        #clear_tags.ui.secondary.icon.compact.large.circular.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.secondary.compact.large.circular.button
                strong #{this}
    each all_tags
        .ui.compact.large.circular.button.select_tag(class=cloud_tag_class) 
            strong #{this.name}
    div
    //- i.user.large.grey.icon(title='author')
    //- if selected_authors
    //-     //- #clear_tags.ui.secondary.icon.compact.circular.button
    //-     //-     i.remove.icon
    //-     each selected_authors
    //-         .unselect_tag.ui.secondary.compact.large.circular.button
    //-             strong #{this}
    //- each all_authors
    //-     .ui.compact.large.circular.button.select_author(class=cloud_tag_class) 
    //-         strong #{this.name}




template(name='post_item')
    .ui.basic.center.aligned.segment
        a.ui.header(href="/post/#{_id}/view")
            |#{title}
        .spacer
        if content
            |!{content}
        if image
            +image_view key='image' direct=true
        //- if currentUser
        //-     each tags
        //-         .ui.basic.compact.circular.button #{this}
        if is_admin
            .ui.inline.header author:
            .ui.basic.label 
                i.user.outline.icon
                |#{_author_username}
        //- .ui.inline.header voters:
        //- each voters
        //-     .ui.basic.label 
        //-         |#{username}
        if currentUser
            +voting_full
        if can_edit
            a.ui.icon.circular.button(href="/post/#{_id}/edit")
                i.pencil.icon




//- template(name='answer_small')
//-     .ui.circular.icon.circular.button
//-         i.large.thumbs.up.icon
//-     .ui.circular.icon.circular.button
//-         i.large.thumbs.down.icon


//- 
//- template(name='set_limit')
//-     .item.set_limit #{amount}
