template(name='home')
    .ui.stackable.grid.home(class=omega_dark_mode_class)
        .sixteen.wide.column
            each omega_doc.selected_tags
                //- button.ui.active.large.circular.yeah.button.unselect_tag(tabindex='0' class=omega_dark_mode_class)
                button.ui.big.circular.yeah.tertiary.active.button.unselect_tag(tabindex='0' class=emotion_color)
                    //- i.remove.icon
                    | #{this}
            .ui.inline.small.header(class=emotion_color) {{fixed omega_doc.current_max_emotion_percent}}% #{omega_doc.current_most_emotion}
                    
            .ui.left.icon.search.input(class=emotion_color)
                unless is_loading
                    i.search.link.icon.refresh_agg(class=emotion_color)
                if is_loading
                    i.yin.yang.large.loading.large.icon(class=emotion_color)
                input#search(type='text' autofocus='' autocomplete="off" value=omega_doc.current_query)
            //- .scrolling.forty
            //- .ui.header #{connection.status}
            //- i.brain.yellow.link.big.icon.get_top_emotion
            unless connected
                //- .ui.inline.header disconnected
                //- .ui.hidden.divider
                i.yin.yang.massive.link.icon.reconnect
            if connected
                //- unless selected_tags
                //-     i.huge.yin.yang.black.icon
                //- i.grey.lightbulb.link.icon
                //- unless omega_doc.selected_tags
                //-     //- .ui.hidden.divider
                //-     //- .ui.center.aligned.basic.segment
                //-         if omega_doc.dark_mode
                //-             i.massive.loading.yin.yang.link.icon.pick_dao
                //-         else
                //-             i.massive.loading.yin.yang.link.icon.pick_dao
                //- if selected_tags
                //-     .ui.icon.black.button.clear_selected_tags
                //-         i.remove.icon
                //- div
                //- if selected_tags_plural
                //- each omega_doc.agg
                //- .ui.header current most emotion #{omega_doc.current_most_emotion}
                //- .ui.inline.header #{omega_doc.emotion_color}
                //- .ui.header #{tags.length}
                span.hi
                    each omega_doc.filtered_agg_res
                        //- button.ui.large.yeah.tertiary.circular.button.result(tabindex="0" class=tag_result title=count)
                        button.ui.large.tertiary.basic.circular.button.result(tabindex="0" class=tag_result title=count)
                            | #{title}
                        //- small #{count}
                    //- button.ui.white.basic.huge.button.result(tabindex="0" class=result_class title=count) #{title}
            //- if one_post
        //- .centered.one.column.row
        //- each omega_doc.doc_results
        //- each omega_doc_results
        //- .eight.wide.column.scrolling
        //-     each omega_doc.doc_result_ids
        //-         +doc_item
        //- if selected_tags
        //-     //- .scrolling.sixty
        //-     .ui.stackable.padded.grid
        //-         .four.column.row
        //-             each docs
        //-                 .column
                            //- +doc_item
        //-                     .ui.hidden.divider
        //-         .sixteen.wide.greecolumn
        //-             |hi
        //- .ui.centered.doubling.cards
        //-     each docs
        //-         //- .ui.fitted.hidden.divider
        //-         +doc_item
        .eleven.wide.column.scrolling
            //- .ui.header #{omega_doc.selected_doc_id}
            with selected_doc
                //- .ui.header selected doc
                //- img.ui.image.rounded(src=url class=omega_dark_mode_class)
                if is_image   
                    img.ui.left.floated.inline.image.rounded(src=url class=omega_dark_mode_class)
                //- if is_image_domain   
                if is_gifv
                    //- img.inverted(src="https://i.imgur.com/#{gif_filename}")
                    img.invert(src=gif_filename)
                //- img.ui.left.floated.top.aligned.image.rounded(src=url class=omega_dark_mode_class)
                //- else
                if has_thumbnail
                    unless is_image
                        unless is_video
                            //- img.ui.left.floated.middle.aligned.top.aligned.image.rounded(src=url class=omega_dark_mode_class)
                            //- img.ui.left.floated.inline.image.rounded(src=thumbnail class=omega_dark_mode_class)
                            img.ui.left.floated.invert.image.rounded(src=thumbnail)
                if is_video
                    .invert
                        blockquote(class="reddit-card")
                            //- a(href="https://www.reddit.com/r/PewdiepieSubmissions/comments/ga7oxs/i_made_some_3d_art_of_edgar_discovering_the/") 
                            a(href="https://www.reddit.com#{permalink}") 
                                |I made some 3D art of Edgar discovering the meaning of life
                            |from 
                            a(href="http://www.reddit.com/r/PewdiepieSubmissions")
                                |r/
                            script(async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8")
                //- video   
                //-    source(src="https://i.imgur.com/y4JdSvL.gif" type="video/gifv")
                //- div.invert(style='position:relative; padding-bottom:calc(66.52% + 44px')
                //-     iframe(src=url frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen)
                //-         p
                //-             a(href=url) via Gfycat #{url}
                a.f15.yeah.centered(href=url target="_blank")
                    //- img.ui.image.rounded(src=url class=omega_dark_mode_class)
                    //- if has_thumbnail   
                    |!{lowered_title}
                    //- |#{title} 
                div
                .ui.icon.circular.basic.button.vote_up(title=points)
                    i.chevron.up.large.grey.icon
                .ui.inline.small.grey.header #{points}
                .ui.icon.circular.basic.button.vote_down(title=points)
                    i.chevron.down.large.grey.icon                    
                //- if watson
                //-     +doc_sentiment
                //-     +doc_emotion
                //- a.ui.icon.circular.basic.button(href=url target="_blank")
                //-     i.external.large.icon
                a.ui.large.circular.basic.button(href="https://www.reddit.com/#{permalink}" target="_blank")
                    i.chat.outline.large.icon
                    |#{comment_count}
                //- a.ui.tertiary.grey.basic.button(href="https://www.reddit.com/r/#{subreddit}" target="_blank")
                //-     i.reddit.icon
                //-     |r/#{subreddit}
                if publish_when
                    .ui.small.grey.tertiary.button
                        i.calendar.icon
                        //- |#{watson.metadata.publication_date}
                        |#{publish_when}
                .ui.tertiary.grey.basic.button.toggle_domain(title='add domain')
                    i.globe.icon
                    |#{domain}
                    
                if watson
                    +doc_emotion
                //- div
                if key_value_is 'model' 'reddit'
                    if reddit_id
                        unless rd
                            //- div
                            .ui.icon.basic.big.circular.button.pull_post
                                i.reddit.large.red.icon
                    unless watson.emotion
                        .ui.icon.basic.circular.button.call_watson
                            i.dna.big.red.icon
                    if dev 
                        i.code.link.icon.print_me
                    
                    //- a.ui.tertiary.grey.basic.small.button(href="https://www.reddit.com/user/#{author}" target="_blank")
                    //-     i.user.outline.icon
                    //-     |#{author}
    
                if rd.selftext_html
                    //- unless tone
                    //- .content
                    |!{parsed_selftext_html}
                    //- |!{rd.selftext_html}
                else
                    if tone
                        //- .scrolling
                        +tone
                    //- else
                if rd.selftext
                    .content
                        +markdown
                            !{rd.selftext}
                if is_youtube
                    iframe(class=omega_dark_mode_class width="100%" height="300" src="https://www.youtube.com/embed/#{youtube_id}?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                .ui.icon.small.input
                    i.tag.icon
                    input.add_tag(type='text')
                each user_tags
                    .ui.label #{this}

                if watson
                    +watson_view
                each tags
                    .ui.circular.basic.large.tertiary.button.toggle_tag
                        |#{this}
        .five.wide.column.scrolling
            each omega_doc.doc_result_ids
                +doc_item
                .ui.divider

                
                
                    //- .invert
                //- if is_twitter
                //-     blockquote(class="twitter-tweet" data-dnt="true" data-theme="dark")
                //-         p(lang="en" dir="ltr")
                //-             |#{title}
                //-             //- |Today’s Falcon launch carries 2 SpaceX test satellites for global broadband. If successful, Starlink constellation will serve least served.Elon Musk (@elonmusk) 
                //-         a(href="https://twitter.com/elonmusk/status/966298034978959361?ref_src=twsrc%5Etfw")
                //-             |February 21, 2018
                //-     script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
                //- else if has_thumbnail
                
                    //- if watson
                    //-     +doc_emotion
                    //-     //- +doc_sentiment
                    //-     //- +tone
                
                
                //- if tone
                //-     +tone
                
                //- .four.wide.center.aligned.column
                //- if is_image
                    //- .four.wide.column
                    //- .image
                        //- div(style='position:relative; padding-bottom:calc(125.00% + 44px')
                        //-     iframe.invert(src='https://gfycat.com/ifr/LoathsomeSpottedAlaskanmalamute' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen)                
                    //- img.ui.rounded.fluid.image(src=url class=omega_dark_mode_class)
                //- else 

                //- if title
                //- unless is_youtube 
                //-     unless is_image
                //- if has_thumbnail   
                //-     img.ui.centered.image.inline.rounded(src=thumbnail class=omega_dark_mode_class)
                //- div
                //- .ui.basic.segment
                //- .spacer

    
                            
                        
                //- a.ui.tertiary.grey.basic.button(href="https://www.reddit.com/r/#{subreddit}" target="_blank")
                //-     i.reddit.icon
                //-     |r/#{subreddit}
                //- .ui.icon.small.input
                //-     i.tag.icon
                //-     input.add_tag(type='text')
                //- each user_tags
                //-     .ui.label #{this}
            //- if rd.selftext_html
            //-     //- unless tone
            //-     //- .content
            //-     |!{parsed_selftext_html}
            //-     //- |!{rd.selftext_html}
            //- else
            //-     if tone
            //-         +tone
            //-     //- else
            //- if rd.selftext
            //-     .content
            //-         +markdown
            //-             !{rd.selftext}
            //- .ui.tertiary.grey.basic.button.toggle_tags
            //-     i.tags.icon
            //-     |#{tags.length}
            //- if view_tags

            
    .centered.middle.aligned.row.flat
        .sixteen.wide.middle.aligned.column
            //- .ui.hidden.divider
            .ui.center.aligned.middle.aligned.grey.header 
                |sponsored by
                a(href="https://ciomastermind.com/" target="_window")
                    //- |ciomastermind
                    img.ui.small.inline.image(src="https://static1.squarespace.com/static/5e7227fe0a7d0212a00b4e68/t/5e73a2c578579570907dfe02/1591829497276/?format=1500w")
            
