template(name='home')
    .ui.padded.stackable.grid
        .eight.wide.right.aligned.column
            if currentUser
                a#add.ui.icon.button(title='add question')
                    i.plus.large.icon
                div
                +session_edit_value_button key='view_mode' value='voted' label='voted' icon='shop'
                +session_edit_value_button key='view_mode' value='upvoted' label='upvoted' icon='thumbs up'
                +session_edit_value_button key='view_mode' value='downvoted' label='downvoted' icon='thumbs down'
                +session_edit_value_button key='view_mode' value='unvoted' label='unvoted' icon=''
            div
            +cloud
        .eight.wide.column
            .ui.basic.segments
                each docs
                    +thought_item
                    //- .ui.divider




template(name='cloud')
    div
    i.tags.large.grey.icon(title='tags')
    if selected_tags
        //- #clear_tags.ui.secondary.icon.compact.button
        //-     i.remove.icon
        each selected_tags
            .unselect_tag.ui.secondary.compact.large.button
                strong #{this}
    each all_tags
        .ui.compact.large.button.select_tag(class=cloud_tag_class) 
            strong #{this.name}
    div
    i.user.large.grey.icon(title='author')
    if selected_authors
        //- #clear_tags.ui.secondary.icon.compact.button
        //-     i.remove.icon
        each selected_authors
            .unselect_tag.ui.secondary.compact.large.button
                strong #{this}
    each all_authors
        .ui.compact.large.button.select_author(class=cloud_tag_class) 
            strong #{this.name}




template(name='thought_item')
    .ui.basic.segment.stackable.grid
        //- .four.wide.column
        //-     a.pointer(href="/thought/#{_id}/view")
        //-         img.ui.inline.rounded.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    
        .sixteen.wide.column
            a.ui.header(href="/thought/#{_id}/view")
                |#{title}
            .spacer
            //- if bounty
            //-     i.money.icon
            each tags
                .ui.basic.compact.button #{this}
            if is_admin
                .ui.inline.header author:
                .ui.basic.label 
                    i.user.outline.icon
                    |#{_author_username}
            //- .ui.inline.header voters:
            each voters
                .ui.basic.label 
                    |#{username}
            if currentUser
                +voting_full
            if can_edit
                a.ui.icon.button(href="/thought/#{_id}/edit")
                    i.pencil.icon




//- template(name='answer_small')
//-     .ui.circular.icon.button
//-         i.large.thumbs.up.icon
//-     .ui.circular.icon.button
//-         i.large.thumbs.down.icon


//- 
//- template(name='set_limit')
//-     .item.set_limit #{amount}
