template(name='home')
    .ui.padded.grid
        .sixteen.wide.column
            if is_admin
                .ui.icon.button.add_section
                    i.link.plus.large.icon
            .ui.cards
                a.card(href="/news")
                    .content
                        .header 
                            i.newspaper.icon
                            |news
                a.card(href="/baro")
                    .content
                        .header 
                            i.share.icon
                            |baro
            //- .ui.stackable.cards
                //- each home_sections
                //-     .ui.card
                //-         .content
                //-             if is_admin
                //-                 +text_edit key='title' direct=true
                //-                 +text_edit key='icon' direct=true
                //-                 +text_edit key='slug' direct=true
                //-             a.ui.header(href="/#{slug}")
                //-                 i.icon(class=icon)
                //-                 |#{title}
            
