template(name='cloud')
    //- .ui.left.icon.input
    //-     i.search.icon
    //-     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
    if currentUser
        +session_edit_value_button key='view_mode' value='market' label='market'
        +session_edit_value_button key='view_mode' value='bought' label='bought'
        +session_edit_value_button key='view_mode' value='selling' label='selling'
        +session_edit_value_button key='view_mode' value='sold' label='sold'
    
    .ui.header tags
    if selected_tags
        #clear_tags.ui.primary.icon.large.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.primary.large.button
                strong #{this}
    each all_tags
        .ui.large.compact.button.select_tag(class=cloud_tag_class) 
            strong #{this.name}


template(name='home')
    .ui.padded.stackable.grid
        .four.wide.column
            +cloud
        .twelve.wide.column
            .ui.stackable.three.cards
                each docs
                    +item

        

template(name='item')
    .ui.card
        img.ui.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    
        //- a(href="/item/#{_id}/view")
        .content
            each tags
                .ui.large.label #{this}
        .content
            .ui.inline.header seller:
            .ui.large.label 
                i.user.outline.icon
                |#{_author_username}
            .ui.inline.header buyer:
            .ui.large.label 
                |#{buyer_username}
            unless bought
                if can_buy
                    .ui.green.basic.button.buy
                        |buy
            
                
                
