template(name='home')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.icon.input
                    i.search.icon
                    input.fin(type='text')
                |result: #{omega.result}
                |type: #{omega.typeof}
                .ui.selection.animated.huge.list
                    each sections
                        a.item(href=link) 
                            i.icon(class=icon)
                            |#{title}
                
            .four.wide.column
                .ui.large.fluid.right.icon.input
                    i.plus.icon
                    input.add_thought(type='text' placeholder='add thought')
                .ui.selection.animated.list
                    each thoughts
                        .item
                            .content
                                a.ui.header(href="/thought/#{_id}/view") #{body}
                                .description
                                    i.thumbs.up.outline.icon
                                    i.thumbs.down.outline.icon
                                    |#{when}
                                    i.remove.link.grey.icon
            .four.wide.column
                .ui.secondary.segment
                    a.ui.grey.header(href="/market") 
                        i.shop.icon
                        |market
                    each latest_items
                        .item #{title}
                .ui.secondary.segment
                    a.ui.grey.header(href="/questions") 
                        i.question.icon
                        |questions
                    each latest_items
                        .item #{title}
            .four.wide.column
                +checkedin_users
                +site_activity



template(name='site_activity')
    .ui.grey.header 
        i.rss.icon
        |site activity
    .ui.list
        each tail_log
            .item
                .header #{body}
                span.ui.grey.text #{when}
    +color_changer
    if currentUser
        .ui.header your activity


template(name='checkedin_users')
    .ui.grey.header 
        i.rss.icon
        |checked in users
    .ui.list
        each users
            .item
                .header #{username}
    +color_changer
    if currentUser
        .ui.header your activity



template(name='color_changer')
    .ui.secondary.segment
        .ui.header color changer
        .ui.small.header pick color for global navbar (-.01)
        +choose_nav_color color='blue'
        +choose_nav_color color='black'
        +choose_nav_color color='pink'
        +choose_nav_color color='grey'
        +choose_nav_color color='green'
        +choose_nav_color color='yellow'
        +choose_nav_color color='orange'
        .ui.list
            each color_changes
                .ui.item
                    .content
                        |#{_author_username} selected #{color}
                    .meta 
                        small #{when}
        
    
template(name='choose_nav_color')
    .ui.invert.compact.button.choose_class(class=color)
        |#{color}
