template(name='idea_section')
    .filter_row(class=loading_class)
        //- .ui.compact.basic.icon.button.toggle_video(class=toggle_video_class title='toggle videos only')
        //-     i.video.icon
        //- .ui.compact.icon.button.toggle_tone(class=toggle_tone_class title='toggle tone overlay')
        //-     i.smile.icon
        .ui.inline.small.grey.header(title='change sort direction')
            |sort by
        .ui.compact.small.menu
            .ui.simple.dropdown.item
                strong #{current_sort_label}
                i.dropdown.icon
                .menu
                    +set_sort_key key='ups' label='upvotes' icon='thumbs up outline'
                    +set_sort_key key='sadness_percent' label='sadness' color='blue'
                    +set_sort_key key='joy_percent' label='joy' color='green'
                    +set_sort_key key='fear_percent' label='fear' color='black'
                    +set_sort_key key='disgust_percent' label='disgust' color='yellow'
                    +set_sort_key key='anger_percent' label='anger' color='red'
                    +set_sort_key key='_timestamp' label='added' icon='clock'
                    +set_sort_key key='doc_sentiment_label' label='sentiment' icon='yin yang'
                    +set_sort_key key='comment_count' label='comment count' icon='chat'
        .ui.compact.icon.basic.large.button.set_sort_direction(title='toggle sort direction')
            if sorting_up
                i.sort.amount.down.icon
            else
                i.sort.amount.up.icon
        |&nbsp;
        |&nbsp;
        .ui.inline.small.grey.header
            |limit
        .ui.compact.menu
            .ui.simple.dropdown.item
                strong #{current_doc_limit}
                i.dropdown.icon
                .menu
                    +set_limit amount=1
                    +set_limit amount=5
                    +set_limit amount=10
                    +set_limit amount=20
                    +set_limit amount=50
        //- .ui.inline.header
        //-     |search
        //- .ui.small.input
        //-     input(type='text' placeholder='filter' val=search_value)
        |&nbsp;
        |&nbsp;
        //- .ui.inline.header view
        //- .ui.compact.menu
        //-     .ui.simple.dropdown.item
        //-         |#{current_delta.view_mode}
        //-         i.dropdown.icon
        //-         .menu
        //-             +set_view_mode title='table' icon='table'
        //-             +set_view_mode title='list' icon='list'
        //-             +set_view_mode title='cards' icon='cards'
        //-             +set_view_mode title='items' icon='list'
        //-             +set_view_mode title='map' icon='map'
        //-             +set_view_mode title='graph' icon='graph'

    
    //- .ui.header results stats
    //- with emotion_average_doc
    //-     span sentiment {{ to_percent sentiment_average }}% 
    //-     div
    //-         //- .rounded.inverted(style="height:5px;width:{{to_percent sentiment_average}}%;background-color:green" title="{{to_percent sentiment_average}}% sad")
    //-     span {{ to_percent sadness_average }}% sad
    //-         .rounded.inverted(style="height:5px;width:{{to_percent sadness_average}}%;background-color:blue" title="{{to_percent sadness_average}}% sad")
    //-     span {{ to_percent joy_average }}% joy
    //-         .rounded.inverted(style="height:5px;width:{{to_percent joy_average}}%;background-color:green" title="{{to_percent joy_average}}% joy")
    //-     span {{ to_percent disgust_average }}% disgust
    //-         .rounded.inverted(style="height:5px;width:{{to_percent disgust_average}}%;background-color:orange" title="{{to_percent disgust_average}}% disgust")
    //-     span {{ to_percent fear_average }}% fear
    //-         .rounded.inverted(style="height:5px;width:{{to_percent fear_average}}%;background-color:black" title="{{to_percent fear_average}}% fear")
    //-     span {{ to_percent anger_average }}% anger
    //-         .rounded.inverted(style="height:5px;width:{{to_percent anger_average}}%;background-color:red" title="{{to_percent anger_average}}% anger")
    //- .ui.header ideas 
    +idea_facet key='type'
    each ideas
        +idea_segment


template(name='idea_facet')
    if icon 
        i.icon(class=icon)
    //- else 
    |#{key}
    each results
        .ui.button.toggle_filter(class=toggle_filter_class title=count) #{title}
            small (#{count})
        //- .spacer



template(name='idea_segment')
    .ui.basic.segment
        .ui.inline.header #{name}
        .ui.basic.inverted.label #{category} #{type}
        .ui.small.header doc mentions: #{doc_mention_count}
        .ui.small.header type: #{type}
        .item(title='docs with emotional data to average') docs analyzed #{analyzed_doc_count}
        .item(title='docs with emotional data to average') analyzed ids count #{analyzed_doc_ids.length}
        //- span joy
        if is type 'subreddit'
            .ui.small.header downloaded reddit posts #{downloaded_reddit_posts}
        if is type 'entity'
            .item sentiment: {{to_percent sentiment_average}}%
            .rounded.inverted(style="height:5px;width:{{to_percent sentiment_average}}%;background-color:green" title="{{to_percent sentiment_average}}%")
            span {{ to_percent joy_average }}% joy
            .rounded.inverted(style="height:5px;width:{{to_percent joy_average}}%;background-color:green" title="{{to_percent joy_average}}%")
            //- span sad
            span {{ to_percent sadness_average}}% sadness
            .rounded.inverted(style="height:5px;width:{{to_percent sadness_average}}%;background-color:blue" title="{{to_percent sadness_average}}%")
            //- span fear
            span {{ to_percent fear_average }}% fear
            .rounded.inverted(style="height:5px;width:{{to_percent fear_average}}%;background-color:grey" title="{{to_percent fear_average}}%")
            //- span disgust
            span {{ to_percent disgust_average }}% disgust
            .rounded.inverted(style="height:5px;width:{{to_percent disgust_average}}%;background-color:orange" title="{{to_percent disgust_average}}%")
            //- span anger
            span {{ to_percent anger_average }}% anger
            .rounded.inverted(style="height:5px;width:{{to_percent anger_average}}%;background-color:red" title="{{to_percent anger_average}}%")

        //- .item average sentiment
        //-     .large {{to_percent average_sentiment_score}}%
        i.refresh.circular.link.icon.agg_idea
    .ui.divider



template(name='idea_result')
    .item 
        | #{type}:  #{name}

    //- .ui.empty.label(class=color style="min-height:30%")
