template(name='nav')
    .ui.attached.borderless.menu(class="{{currentUser.nav_color}}")
        if is_loading
            .item
                i.loading.large.grey.yin.yang.icon
        else 
            a.icon.header.item(href='/questions' class="{{isActivePath '/questions'}}") 
                i.yin.yang.large.icon
                //- img.ui.avatar.image(src="{{c.url 'forest_logo_only' }}" title='Home')
                //- +i name='forest' classes='ui mini inline mobile only image'
        .right.menu
            unless currentUser
                a.item(href='/login') 
                    //- i.sign.in.icon 
                    span.mobile.hidden log in
                a.item(href='/register')
                    //- i.user.add.icon
                    span.mobile.hidden sign up
            if currentUser
                a.mobile.hidden.item(href='/m/model' class="{{isActivePath '/m/model'}}" title='models') 
                    i.database.icon
                unless logging_out
                    .ui.dropdown.item(class="{{currentUser.nav_color}}")
                        if currentUser.profile_image_id
                            img.ui.avatar.inline.image(src="{{c.url currentUser.profile_image_id width=100 height=100 gravity='face' crop='fill'}}")
                        else
                            i.user.outline.icon 
                        span.mobile.hidden #{currentUser.name} 
                            |#{currentUser.credit}
                        .menu(class="{{currentUser.nav_color}}")
                            a.item(href="/user/#{currentUser._id}")
                                i.user.outline.icon 
                                |profile
                            a.item(href="/user/#{currentUser._id}/edit")
                                i.cog.icon
                                |settings
                            a#logout.item(href='#')
                                i.sign.out.icon 
                                |log out
                if logging_out
                    .item
                        i.loading.circle.notch.icon


template(name='role_switcher')
    .ui.inline.center.aligned.small.header 
        |#{username} role switcher
    //- if is_eric
    //-     +multi_doc key='roles' label='roles' ref_model='role' direct=true
    //-     div
        //- +user_array_element_toggle key='roles' value='dev' user=currentUser
    //- if current_user
    //-     with current_user
    //- else if currentUser
    //-     with currentUser
    //- +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
    //- if is_admin
        //- +multi_doc_edit key='current_roles' label='current roles' ref_model='role' direct=true
    //- +user_array_element_toggle key='current_roles' value='admin' user=currentUser
    //- +user_array_element_toggle key='current_roles' value='student' user=currentUser
    //- +user_array_element_toggle key='current_roles' value='staff' user=currentUser
    +user_array_element_toggle key='roles' value='student' user=currentUser
    +user_array_element_toggle key='roles' value='teacher' user=currentUser
    +user_array_element_toggle key='roles' value='parent' user=currentUser
