template(name='nav')
    .ui.attached.fluid.borderless.topnav.large.menu
        a.ui.item(href='/' class="{{active_path '/'}}" title='models')
            i.large.home.icon
            .mobile.hidden home
        a.ui.item(href='/users' class="{{active_path '/users'}}" title='models')
            i.large.users.icon
            .mobile.hidden users
        .right.menu
            if is_admin
                a.icon.item(href="/admin") 
                    i.shield.icon
            if currentUser
                a#add.ui.icon.item
                    i.plus.large.icon
                a.item(href="/user/#{currentUser.username}/alerts")
                    i.bell.outline.icon
                    |#{currentUser.alerts}
                a.item(href="/user/#{currentUser.username}/credit")
                    |$#{currentUser.credit}
                a.item(href="/user/#{currentUser.username}") 
                    i.user.icon
                    |#{currentUser.username}
            else 
                a.item(href="/login")
                    i.sign.in.alternate.large.icon
