template(name='nav')
    #topnav.ui.attached.borderless.large.menu
        if is_loading
            .item
                i.loading.large.grey.yin.yang.icon
        else 
            a.icon.header.item(href='/' class="{{isActivePath '/'}}" title='home') 
                i.yin.yang.large.icon
        //- each view_models
        //-     a.mobile.hidden.icon.item(href="/m/#{slug}" title=slug) 
        //-         i.icon(class=icon)
        .right.menu
            unless currentUser
                a.icon.item(href='/login' title='enter') 
                    i.sign.in.icon 
                    //- span.mobile.hidden log in
                a.icon.item(href='/register' title='register')
                    i.user.add.icon
                    //- span.mobile.hidden sign up
            if currentUser
                //- a.mobile.hidden.icon.item(href='/m/model' class="{{isActivePath '/m/model'}}") 
                //-     i.database.icon
                //- a.mobile.hidden.icon.item(href='/chat' class="{{isActivePath '/chat'}}") 
                //-     i.chat.outline.icon
                //- a.mobile.hidden.icon.item(href='/alerts' class="{{isActivePath '/alerts'}}") 
                //-     i.bell.icon(class=alert_icon_class)
                a.mobile.hidden.icon.item(href='/cart' class="{{isActivePath '/cart'}}") 
                    i.shopping.cart.icon(class=cart_icon_class)
                unless logging_out
                    a.item(href="/user/#{currentUser._id}/finance" title='credit')
                        |#{currentUser.credit}c
                    a.item(href="/user/#{currentUser._id}")
                        if currentUser.profile_image_id
                            img.ui.avatar.image(src="{{c.url currentUser.profile_image_id width=100 height=100 gravity='face' crop='fill'}}")
                            span.mobile.hidden #{currentUser.name} 
                        else
                            i.user.outline.icon 
                            span.mobile.hidden #{currentUser.name} 
                if logging_out
                    .item
                        i.loading.circle.notch.icon


template(name='role_switcher')
    .ui.inline.center.aligned.small.header 
        |#{username} role switcher
    //- if is_eric
    //-     +multi_doc key='roles' label='roles' ref_model='role' direct=true
    //-     div
        //- +user_array_element_toggle key='roles' value='dev' user=currentUser
    //- if current_user
    //-     with current_user
    //- else if currentUser
    //-     with currentUser
    //- +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
    //- if is_admin
        //- +multi_doc_edit key='current_roles' label='current roles' ref_model='role' direct=true
    //- +user_array_element_toggle key='current_roles' value='admin' user=currentUser
    //- +user_array_element_toggle key='current_roles' value='student' user=currentUser
    //- +user_array_element_toggle key='current_roles' value='staff' user=currentUser
    +user_array_element_toggle key='roles' value='student' user=currentUser
    +user_array_element_toggle key='roles' value='teacher' user=currentUser
    +user_array_element_toggle key='roles' value='parent' user=currentUser



template(name='footer')
    .ui.stackable.padded.grid.basic.segment
        .row
            .four.wide.column
                .ui.link.large.list
                    a.item(href='/prime')
                        | dao prime
                    a.item(href="/p/terms") 
                        | terms of service
                    a.item(href="/p/privacy") 
                        | privacy policy
                    //- a.item(href='/sponsor') 
                    //-     | sponsor
                    //- a.item(href='/contact')
                    //-     | contact
            .six.wide.column
                .ui.link.large.list
                    a.item(href='/posts')
                        | posts
                +my_latest_activity
                +footer_chat
                if is_admin
                    with currentUser
                        +role_switcher
                unless currentUser
                    a.ui.fluid.compact.button(href='/login')
                        |login
                
template(name='footer_chat')
    .ui.grey.header 
        i.chat.outline.small.icon
        |chat
    .ui.list.scroll
        each chat_messages
            .item(title="by #{author.name} #{when}")
                if author
                    img.ui.avatar.image(src="{{c.url author.image_id width=200 height=200 gravity='face' crop='fill'}}")
                |#{text}
                //- small #{when}
                if is_author
                    span
                        i.remove.link.icon.remove_message
    .ui.bottom.attached.fluid.icon.transparent.input
        i.plus.icon
        input.new_footer_chat_message(type='text' placeholder='add message')


            
template(name='my_latest_activity')
    .ui.grey.small.header 
        i.grey.rss.icon
        |your activity
    .ui.list
        each my_latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.image_id width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}



template(name='bug_reporter')
    .ui.fluid.button.start_report
        i.bug.icon
        |report bug
    if reporting_bug
        with new_bug
            |#{pathname}
            +text_edit key='text' direct=true
            .ui.icon.fluid.button.submit_report
                i.checkmark.icon
            .ui.small.icon.button.cancel_bug
                i.remove.icon
