template(name='nav')
    .ui.attached.fluid.borderless.topnav.inverted.menu
        a.ui.item(href='/' class="{{active_path '/'}}" title='home')
            i.large.yin.yang.icon
        a.ui.item(href='/market' class="{{active_path '/market'}}" title='market')
            i.large.cart.icon
            .mobile.hidden market
        a.ui.item(href='/posts' class="{{active_path '/posts'}}" title='posts')
            i.large.blog.icon
            .mobile.hidden posts
        a.ui.item(href='/users' class="{{active_path '/users'}}" title='models')
            i.large.users.icon
            .mobile.hidden users
        a.ui.item(href='/search' class="{{active_path '/search'}}" title='models')
            i.large.search.icon
            .mobile.hidden search
        .right.menu
            if currentUser.prime
                a.icon.item(href="/prime") 
                    i.shield.icon
            if is_admin
                a.icon.item(href="/admin") 
                    i.code.icon
            if currentUser
                a#add.ui.icon.item
                    i.plus.large.green.icon
                a.icon.item(href="/alerts")
                    if unread_alerts
                        i.bell.yellow.large.icon
                    else
                        i.bell.yellow.outline.large.icon
                    |#{currentUser.alerts}
                a.item(href="/user/#{currentUser.username}/credit")
                    |$#{currentUser.credit}
                a.item(href="/user/#{currentUser.username}") 
                    if currentUser.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.image_id width=100 height=100 gravity='face' crop='fill'}}")
                    else 
                        i.user.icon
                    |#{currentUser.username}
            else 
                a.item(href="/login")
                    i.sign.in.alternate.large.icon
