template(name='post')      
    .ui.pointer.segment.toggle_detail  
        if view_detail
            i.large.chevron.up.icon
        else
            i.large.chevron.down.icon    
    
        //- a.ui.inline.header(href=url target="_window") 
        .ui.inline.header(class=post_header_class) 
            //- if thumbnail.length
            //-     img.ui.big.image(src=thumbnail)
            //- else if watson.metadata.image.length
            //-     img.ui.big.image(src=watson.metadata.image)
            if title 
                |#{title}
            else 
                |#{watson.metadata.title}
        div
        +emotion_circle color='green' emotion='joy' percent=joy_percent
        +emotion_circle color='blue' emotion='sadness' label='sad' percent=sadness_percent
        +emotion_circle color='black' emotion='fear' percent=fear_percent
        +emotion_circle color='yellow' emotion='disgust' percent=disgust_percent
        +emotion_circle color='red' emotion='anger' percent=anger_percent
                
        if is_video
            i.video.icon
                if is_youtube
                    iframe(width="560" height="315" src="https://www.youtube.com/embed/C0Jmm7_v-iU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)        
            //- img(src=url)
            blockquote.reddit-card
                a(href="https://www.reddit.com#{permalink}")
                    i.right.chevron.link.icon
                    //- |#{title}
                a(href="http://www.reddit.com/r/#{subreddit}") #{subreddit}
            +call_watson mode='video'
        if is_spotify
            iframe(src="https://open.spotify.com/embed/track/5GQ8H3M5fwIU0oTXO3NmQV" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media")
        //- if is_youtube 
        //- .ui.small.inline.header secondary
        if is_image 
            i.large.image.icon
            img.ui.large.image(src=url)
            +call_watson mode='image'
        //- if in_dev
        //- .ui.compact.basic.large.button.toggle_detail(title='toggle detail')
        //-     if view_detail 
        //-         i.stream.icon 
        //-         |minimize
        //-     else 
        //-         i.window.minimize.icon
        //-         |expand
    if view_detail
        .ui.basic.segment
            
            div
            if tone 
                each tone.result.sentences_tone 
                    //- |#{sentence_id}:
                    if view_tone
                        span(class="{{calc_size top_score}} #{tone_sentence_class}" title="{{ top_score }}% significant") #{text}
                        each tones 
                            //- .ui.basic.small.compact.button
                            //- .ui.small.basic.label #{tone_id}
                            .ui.small.basic.label {{to_percent score}}% #{tone_id}
                            //- .ui.small.basic.inverted.label {{to_percent score}}% #{tone_id}

                    else 
                        span.large-text #{text}
                    //- span(class="{{calc_size top_score}}" title="{{ top_score }}% significant") #{text}
                
                    //- span.large-text(title=sentence_id class=tone_sentence_class) #{text}
                    //- span(title=sentence_id class=tone_sentence_class) #{text}
                    //- span.large-text(title=sentence_id) #{text}
                    div
            else 
                .large-text    
                    |!{body}
                    //- |!{html}
            +call_watson mode='image'
            a.ui.button(href=url target="_window")
                i.external.icon 
                |view link 
            .ui.label(title='reddit author') 
                i.user.outline.icon 
                |#{author}
            .ui.label(title='domain') #{domain}
            a.ui.mini.inline.header(href="http://www.reddit.com#{permalink}" target="_window" title='permalink') #{permalink}
                    
            div 
            +array_view key='categories' icon='cubes' 
            +array_view key='Person' icon='user' 
            +array_view key='Company' icon='briefcase' 
            +array_view key='TelevisionShow' icon='television' 
            +array_view key='GeographicFeature' icon='mountain' 
            +array_view key='Sport' icon='baseball ball' 
            +array_view key='Broadcaster' icon='video' 
            +array_view key='Facility' icon='building' 
            +array_view key='HealthCondition' icon='heartbeat' 
            +array_view key='Organization' icon='users' 
            +array_view key='Award' icon='trophy' 
            +array_view key='Location' icon='marker'
            +array_view key='PrintMedia' icon='newspaper'
            +array_view key='watson_concepts' icon='cubes'
            +array_view key='watson_keywords' icon='tags'
            div
            |#{ups}
            i.thumbs.up.outline.icon
            |#{downs}
            i.thumbs.up.outline.icon
            .ui.small.inline.header
                |sentiment
                //- |#{doc_sentiment_label}
                |{{to_percent doc_sentiment_score}}
            span(title='comment_count')
                i.comments.icon
                |#{comment_count}
            .ui.label(title='subreddit')
                i.reddit.icon
                |#{subreddit}
            div
            a(href=url target='_window') #{url}
            +doc_emotion    
            //- +watson_view
            //- unless sadness_percent    
            +call_watson mode='url' key='url'
            if in_dev
                i.reddit.link.circular.icon.call_reddit_post
                i.code.link.circular.icon.print_this
                i.brain.link.circular.icon.call_tone
                i.cubes.link.circular.icon.call_entities
                i.remove.link.circular.icon
            //-     +call_watson mode='html'
            if in_dev 
                i.remove.link.icon
            //-     if watson 
            //-         +jsonView json=watson
            .ui.inline.small.header added #{when}
            //- .ui.divider



template(name='array_view')
    if values 
        .ui.inline.small.header 
            if icon 
                i.grey.icon(class=icon title=key)
            //- if label
            //-     |#{label}
            //- else 
            |#{key}
        each values 
            .ui.small.compact.circular.button.toggle_post_filter(class=post_label_class)
                |#{this}
        //- div



template(name='emotion_circle')
    .ui.circular.label(class=emotion_circle_class title=emotion)
        span {{ to_percent percent }}%
            //- if label 
            //-     |#{label}
            //- else 
            //-     |#{emotion}
        
