template(name='profile')
    with user
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a(href="/user/#{user.username}")
                        .ui.center.aligned.header
                            strong #{user.username}
                    if is_current_user
                        a.ui.large.icon.button(href="/user/#{user._id}/edit" title='profile settings')
                            i.cog.large.icon
                        .ui.large.icon.button.recalc_user_stats(title='profile settings')
                            i.refresh.large.icon
                        .ui.icon.large.button.logout(title='sign out')
                            i.sign.out.alternate.large.icon
                .twelve.wide.column
                    .ui.header #{like_count} liked
                    each upvoted_docs
                        .ui.small.header #{_id}
                    .ui.header #{dislike_count} disliked
                    each downvoted_docs
                        .ui.small.header #{_id}
                    if currentUser
                        .ui.header comparison
                        .ui.stackable.padded.grid
                            .eight.wide.column
                                .ui.inline.header 
                                    i.thumbs.up.outline.grey.icon
                                    i.thumbs.up.outline.grey.icon
                                    |both liked
                            .eight.wide.column
                                .spacer
                                .spacer
                                .ui.inline.header 
                                    i.thumbs.up.outline.grey.icon
                                    i.thumbs.down.outline.grey.icon
                                    |you up, them down
                                .spacer
                                .spacer
                            .eight.wide.column
                                .ui.inline.header
                                    i.thumbs.down.outline.grey.icon
                                    i.thumbs.up.outline.grey.icon
                                    | you down, them up
                                .spacer
                                .spacer
                            .eight.wide.column
                                .ui.inline.header
                                    i.thumbs.down.outline.grey.icon
                                    i.thumbs.down.outline.grey.icon
                                    |both down
