template(name='toggle_facet')
    .ui.compact.small.button.toggle_facet(class=toggle_facet_class)
        if icon
            i.icon(class=icon)
        |#{label}

template(name='reddit')
    .ui.stackable.grid 
        .row 
            .eeight.wide.right.aligned.column
                .ui.left.icon.inverted.fluid.input
                    i.search.icon
                        //- if selected_tags
                        //-     +inputAutocomplete settings=tag_settings id="tag_search" class="" autofocus='' autocomplete="off" 
                        //- else
                    input#search(type='text' autofocus='' autocomplete="off")
                .largescsroll
                    +tag_cloud
                    //- +toggle_facet label='Anatomy' icon='exercise'
                    +toggle_facet label='Categories' icon='list'
                    +toggle_facet label='Award' icon='award'
                    //- +toggle_facet label='Broadcaster' icon='manager'
                    +toggle_facet label='Company' icon='briefcase'
                    //- +toggle_facet label='Crime' icon='police'
                    //- +toggle_facet label='Drug' icon='pill'
                    +toggle_facet label='Facility' icon='building'
                    +toggle_facet label='subreddits' icon='reddit'
                    //- +toggle_facet label='GeographicFeature' icon='mountain'
                    //- +toggle_facet label='HealthCondition' icon='health briefcase'
                    +toggle_facet label='Location' icon='marker'
                    +toggle_facet label='Movie' icon='video'
                    +toggle_facet label='MusicGroup' icon='music'
                    //- +toggle_facet label='NaturalEvent' icon='sun'
                    +toggle_facet label='Organization' icon='users'
                    +toggle_facet label='Person' icon='user'
                    +toggle_facet label='PrintMedia' icon='newspaper'
                    +toggle_facet label='keywords' icon='tags'
                    +toggle_facet label='concepts' icon='cubes'
                    +toggle_facet label='authors' icon='pencil'
                    //- +toggle_facet label='Quantity' icon=''
                    //- +toggle_facet label='Sport' icon='basketball ball'
                    //- +toggle_facet label='SportingEvent' icon='calendar'
                    +toggle_facet label='TelevisionShow' icon='television'
                    //- +toggle_facet label='TwitterHandle' icon='twitter'
                    //- +toggle_facet label='Vehicle' icon='car'
                    .ui.divider
                    //- each visible_facets
                    //-     +cfacet
                    //- .ui.icon.button
                    //-     i.marker.icon
                    //- .ui.icon.button
                    //-     i.reddit.icon
                    //- .ui.icon.button
                    //-     i.users.icon
                    //- .ui.icon.button
                    //-     i.building.icon
                    div
                    if view_categories
                        .ui.inline.grey.header categories
                        i.cubes.large.icon(title='categories')
                        if selected_categories
                            //- #clear_categories.ui.active.icon.compact.basic.button
                            //-     i.remove.icon
                            each selected_categories
                                .unselect_category.ui.active.compact.basic.button
                                    strong #{this}
                        each categories
                            .ui.compact.basic.button.select_category(class=cloud_tag_class) 
                                strong #{this.name}
                        div
                    if view_people                        
                        i.user.outline.large.icon(title='people')
                        .ui.inline.grey.header people
                        if selected_people
                            //- #clear_people.ui.active.icon.compact.basic.button
                            //-     i.remove.icon
                            each selected_people
                                .unselect_person.ui.active.compact.basic.button
                                    strong #{this}
                        each people
                            .ui.compact.basic.button.select_person(class=cloud_tag_class) 
                                strong #{this.name}
                        div
                    if view_subreddits
                        .ui.inline.grey.header subreddits
                        i.reddit.grey.large.icon(title='subreddit')
                        if selected_subreddits
                            //- #clear_subreddits.ui.active.icon.compact.basic.button
                            //-     i.remove.icon
                            each selected_subreddits
                                .unselect_subreddit.ui.active.compact.basic.button
                                    strong #{this}
                        each subreddits
                            .ui.compact.basic.button.select_subreddit(class=cloud_tag_class) 
                                strong #{this.name}
                        div
                    if view_companies                      
                        .ui.inline.grey.header companies
                        i.building.icon(title='companies')
                        if selected_companies
                            //- #clear_companies.ui.active.icon.compact.basic.button
                            //-     i.remove.icon
                            each selected_companies
                                .unselect_company.ui.active.compact.basic.button
                                    strong #{this}
                        each companies
                            .ui.compact.basic.button.select_company(class=cloud_tag_class) 
                                strong #{this.name}
                        div
                    if view_authors
                        .ui.inline.grey.header authors
                        i.pencil.icon(title='authors')
                        if selected_authors
                            #clear_authors.ui.active.icon.compact.basic.button
                                i.remove.icon
                            each selected_authors
                                .unselect_author.ui.active.compact.basic.button
                                    strong #{this}
                        each authors
                            .ui.compact.basic.button.select_author(class=cloud_tag_class) 
                                strong #{this.name}
                    div
                    if view_concepts
                        .ui.inline.grey.header concepts
                        i.cubes.icon(title='concepts')
                        if selected_concepts.length
                            //- #clear_concepts.ui.active.icon.compact.basic.button
                            //-     i.remove.icon
                            each selected_concepts
                                .unselect_concept.ui.active.compact.basic.button
                                    strong #{this}
                        each concepts
                            .ui.compact.basic.button.select_concept(class=cloud_tag_class) 
                                strong #{this.name}
                    div
                    if view_keywords
                        .ui.inline.grey.header keywords
                        i.tags.icon(title='keywords')
                        if selected_keywords
                            //- #clear_keywords.ui.active.icon.compact.basic.button
                            //-     i.remove.icon
                            each selected_keywords
                                .unselect_keyword.ui.active.compact.basic.button
                                    strong #{this}
                        each keywords
                            .ui.compact.basic.button.select_keyword(class=cloud_tag_class) 
                                strong #{this.name}
                        div
                    if view_locations
                        .ui.inline.grey.header locations
                        i.marker.icon(title='location')
                        
                        if selected_locations
                            //- #clear_locations.ui.active.icon.compact.basic.button
                            //-     i.remove.icon
                            each selected_locations
                                .unselect_location.ui.active.compact.basic.button
                                    strong #{this}
                        each locations
                            .ui.compact.basic.button.select_location(class=cloud_tag_class) 
                                strong #{this.name}
                        div
                    if view_organizations
                        i.users.icon(title='organizations')
                        if selected_organizations
                            //- #clear_organizations.ui.active.icon.compact.basic.button
                            //-     i.remove.icon
                            each selected_organizations
                                .unselect_organization.ui.active.compact.basic.button
                                    strong #{this}
                        each organizations
                            .ui.compact.basic.button.select_organization(class=cloud_tag_class) 
                                strong #{this.name}
            .eight.wide.column
                //- .ui.header cart
                //- each delta_docs
                //-     .ui.small.header #{item}
                //-     .ui.small.header #{desc}
                //-     .ui.icon.button.delete_delta
                //-         i.remove.icon
                .filter_row(class=loading_class)
                    .ui.inline.header(title='change sort direction')
                        |sort by
                    //- .ui.compact.menu
                    //-     .ui.simple.dropdown.item
                    //-         strong #{current_delta.sort_key}
                    //-         i.dropdown.icon
                    //-         .menu
                    //-             each sortable_fields
                    //-                 .item.set_sort_key 
                    //-                     |#{title}
                    .ui.compact.icon.basic.button.set_sort_direction
                        if sorting_up
                            i.sort.amount.down.icon
                        else
                            i.sort.amount.up.icon
                //-     //- .ui.compact.basic.button.set_sort_direction
                //-     //-     |#{current_delta.sort_direction}
                //-     |&nbsp;
                //-     |&nbsp;
                //-     .ui.inline.header
                //-         |limit
                //-     .ui.compact.menu
                //-         .ui.simple.dropdown.item
                //-             strong #{current_delta.limit}
                //-             i.dropdown.icon
                //-             .menu
                //-                 +set_limit amount=1
                //-                 +set_limit amount=5
                //-                 +set_limit amount=10
                //-                 +set_limit amount=20
                //-                 +set_limit amount=50
                //-     .ui.inline.header
                //-         |search
                //-     .ui.input
                //-         input(type='text' val=search_value)
                //-     |&nbsp;
                //-     |&nbsp;
                //-     .ui.inline.header view
                //-     .ui.compact.menu
                //-         .ui.simple.dropdown.item
                //-             |#{current_delta.view_mode}
                //-             i.dropdown.icon
                //-             .menu
                //-                 +set_view_mode title='table' icon='table'
                //-                 +set_view_mode title='list' icon='list'
                //-                 +set_view_mode title='cards' icon='cards'
                //-                 +set_view_mode title='items' icon='list'
                //-                 +set_view_mode title='map' icon='map'
                //-                 +set_view_mode title='graph' icon='graph'
                .largescroll
                    each reddit_posts
                        +reddit_post
                    
                    
template(name='reddit_post')                    
    //- if thumbnail
    //-     img(src=thumbnail)
    div
    a.ui.inline.header(href=url target="_window") #{title}
    //- div
    //- .ui.header 
    //-     i.user.outline.icon 
    //-     |#{author}
    //- .ui.list 
    //-     .item domain: #{domain}
    //-     .item permalink: #{permalink}
    if categories
        i.cubes.icon(title='categories')
        each categories
            .ui.small.label #{this}    
    if Person 
        .ui.inline.header people
        i.users.icon
        each Person 
            .ui.small.label #{this}
    if Company
        i.briefcase.icon(title='company')
        .ui.inline.header companies
        each Company 
            .ui.small.label #{this}
    if TelevisionShow
        i.video.icon(title='television show')
        .ui.inline.header companies
        each TelevisionShow 
            .ui.small.label #{this}
    if Broadcaster
        i.video.icon(title='broadcaster')
        .ui.inline.header companies
        each Broadcaster 
            .ui.small.label #{this}
    if Facility
        i.building.icon(title='facility')
        .ui.inline.header companies
        each Facility 
            .ui.small.label #{this}
    if HealthCondition
        i.heartbeat.icon(title='health condition')
        .ui.inline.header companies
        each HealthCondition 
            .ui.small.label #{this}
    if Organization
        .ui.inline.header organizations
        i.users.icon
        each Organization 
            .ui.small.label #{this}
    if Award
        i.trophy.icon
        each Award 
            .ui.small.label #{this}
    if Location
        i.marker.icon
        .ui.inline.header locations
        each Location 
            .ui.small.label.pick_location #{this}
    if PrintMedia
        i.newspaper.icon(title='print media')
        each PrintMedia 
            .ui.small.label #{this}
    |!{body}
    //- |#{ups}
    //- i.thumbs.up.outline.icon
    //- |#{downs}
    //- i.thumbs.up.outline.icon
    a(href=url target='_window') #{url}
    if in_dev
        i.circular.code.link.icon.print_this
        +call_watson mode='html'
    i.reddit.icon(title='subreddit')
    |#{subreddit}
    //- +call_watson mode='url' key='url'
    //- if in_dev 
    //-     if watson 
    //-         +jsonView json=watson
    .ui.hidden.divider



template(name='tag_cloud')
    //- #cloud
        //- .ui.left.icon.input
        //-     i.search.icon
        //-     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
        // .ui.hidden.fitted.divider
    if selected_tags
        //- #clear_tags.ui.active.icon.compact.basic.button
        //-     i.remove.icon
        each selected_tags
            .unselect_tag.ui.active.compact.basic.button
                strong #{this}
    //- each tags
    //-     .ui.compact.basic.button.select_tag(class=cloud_tag_class) 
    //-         strong #{this.name}
    
    
template(name='cfacet')
    .ui.header 
        |#{label}
    //- #cloud
        //- .ui.left.icon.input
        //-     i.search.icon
        //-     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
        // .ui.hidden.fitted.divider
    if selected_tags
        //- #clear_tags.ui.active.icon.compact.basic.button
        //-     i.remove.icon
        each selected_tags
            .unselect_tag.ui.active.compact.basic.button
                strong #{this}
    //- each tags
    //-     .ui.compact.basic.button.select_tag(class=cloud_tag_class) 
    //-         strong #{this.name}
