template(name='toggle_facet')
    .ui.compact.large.button.toggle_facet(class=toggle_facet_class)
        if icon
            i.icon(class=icon)
        |#{label}

template(name='reddit')
    .ui.stackable.grid 
        .row 
            .eeight.wide.right.aligned.column
                .ui.left.icon.inverted.input
                    i.search.icon
                        //- if selected_tags
                        //-     +inputAutocomplete settings=tag_settings id="tag_search" class="" autofocus='' autocomplete="off" 
                        //- else
                    input#search(type='text' autofocus='' autocomplete="off")
                .largescsroll
                    +tag_cloud
                    //- +toggle_facet label='Anatomy' icon='exercise'
                    div
                    +toggle_facet label='Categories' icon='list'
                    div
                    if view_categories
                        //- i.cubes.large.icon(title='categories')
                        //- .ui.inline.grey.header categories
                        if selected_categories
                            //- #clear_categories.ui.active.icon.compact.basic.button
                            //-     i.remove.icon
                            each selected_categories
                                .unselect_category.ui.active.compact.basic.button
                                    strong #{this}
                        each categories
                            .ui.compact.basic.button.select_category(class=cloud_tag_class) 
                                strong #{this.name}
                    div
                    +toggle_facet label='Company' icon='briefcase'
                    div
                    if view_companies                      
                        if selected_companies
                            //- #clear_companies.ui.active.icon.compact.basic.button
                            //-     i.remove.icon
                            each selected_companies
                                .unselect_company.ui.active.compact.basic.button
                                    strong #{this}
                        each companies
                            .ui.compact.basic.button.select_company(class=cloud_tag_class) 
                                strong #{this.name}
                    div
                    +toggle_facet label='subreddits' icon='reddit'
                    div
                    if view_subreddits
                        if selected_subreddits
                            //- #clear_subreddits.ui.active.icon.compact.basic.button
                            //-     i.remove.icon
                            each selected_subreddits
                                .unselect_subreddit.ui.active.compact.basic.button
                                    strong #{this}
                        each subreddits
                            .ui.compact.basic.button.select_subreddit(class=cloud_tag_class) 
                                strong #{this.name}
                    //- +toggle_facet label='GeographicFeature' icon='mountain'
                    //- +toggle_facet label='HealthCondition' icon='health briefcase'
                    div
                    +toggle_facet label='Location' icon='marker'
                    div
                    if view_locations
                        if selected_locations
                            //- #clear_locations.ui.active.icon.compact.basic.button
                            //-     i.remove.icon
                            each selected_locations
                                .unselect_location.ui.active.compact.basic.button
                                    strong #{this}
                        each locations
                            .ui.compact.basic.button.select_location(class=cloud_tag_class) 
                                strong #{this.name}
                    div
                    //- +toggle_facet label='Movie' icon='video'
                    //- +toggle_facet label='MusicGroup' icon='music'
                    //- +toggle_facet label='NaturalEvent' icon='sun'
                    //- div
                    +toggle_facet label='Organization' icon='users'
                    div
                    if view_organizations
                        if selected_organizations
                            //- #clear_organizations.ui.active.icon.compact.basic.button
                            //-     i.remove.icon
                            each selected_organizations
                                .unselect_organization.ui.active.compact.basic.button
                                    strong #{this}
                        each organizations
                            .ui.compact.basic.button.select_organization(class=cloud_tag_class) 
                                strong #{this.name}
                    
                    div
                    +toggle_facet label='Person' icon='user'
                    div
                    if view_people                        
                        if selected_people
                            //- #clear_people.ui.active.icon.compact.basic.button
                            //-     i.remove.icon
                            each selected_people
                                .unselect_person.ui.active.compact.basic.button
                                    strong #{this}
                        each people
                            .ui.compact.basic.button.select_person(class=cloud_tag_class) 
                                strong #{this.name}
                    div
                    +toggle_facet label='keywords' icon='tags'
                    div
                    if view_keywords
                        if selected_keywords
                            //- #clear_keywords.ui.active.icon.compact.basic.button
                            //-     i.remove.icon
                            each selected_keywords
                                .unselect_keyword.ui.active.compact.basic.button
                                    strong #{this}
                        each keywords
                            .ui.compact.basic.button.select_keyword(class=cloud_tag_class) 
                                strong #{this.name}
                    div
                    +toggle_facet label='concepts' icon='cubes'
                    div
                    if view_concepts
                        if selected_concepts.length
                            //- #clear_concepts.ui.active.icon.compact.basic.button
                            //-     i.remove.icon
                            each selected_concepts
                                .unselect_concept.ui.active.compact.basic.button
                                    strong #{this}
                        each concepts
                            .ui.compact.basic.button.select_concept(class=cloud_tag_class) 
                                strong #{this.name}
                    div
                    +toggle_facet label='authors' icon='pencil'
                    div
                    if view_authors
                        if selected_authors
                            #clear_authors.ui.active.icon.compact.basic.button
                                i.remove.icon
                            each selected_authors
                                .unselect_author.ui.active.compact.basic.button
                                    strong #{this}
                        each authors
                            .ui.compact.basic.button.select_author(class=cloud_tag_class) 
                                strong #{this.name}
                    
                    div
            .eight.wide.column
                //- .ui.header cart
                //- each delta_docs
                //-     .ui.small.header #{item}
                //-     .ui.small.header #{desc}
                //-     .ui.icon.button.delete_delta
                //-         i.remove.icon
                .filter_row(class=loading_class)
                    .ui.inline.header(title='change sort direction')
                        |sort by
                    //- .ui.compact.menu
                    //-     .ui.simple.dropdown.item
                    //-         strong #{current_delta.sort_key}
                    //-         i.dropdown.icon
                    //-         .menu
                    //-             each sortable_fields
                    //-                 .item.set_sort_key 
                    //-                     |#{title}
                    .ui.compact.icon.basic.button.set_sort_direction
                        if sorting_up
                            i.sort.amount.down.icon
                        else
                            i.sort.amount.up.icon
                //-     //- .ui.compact.basic.button.set_sort_direction
                //-     //-     |#{current_delta.sort_direction}
                //-     |&nbsp;
                //-     |&nbsp;
                //-     .ui.inline.header
                //-         |limit
                //-     .ui.compact.menu
                //-         .ui.simple.dropdown.item
                //-             strong #{current_delta.limit}
                //-             i.dropdown.icon
                //-             .menu
                //-                 +set_limit amount=1
                //-                 +set_limit amount=5
                //-                 +set_limit amount=10
                //-                 +set_limit amount=20
                //-                 +set_limit amount=50
                //-     .ui.inline.header
                //-         |search
                //-     .ui.input
                //-         input(type='text' val=search_value)
                //-     |&nbsp;
                //-     |&nbsp;
                //-     .ui.inline.header view
                //-     .ui.compact.menu
                //-         .ui.simple.dropdown.item
                //-             |#{current_delta.view_mode}
                //-             i.dropdown.icon
                //-             .menu
                //-                 +set_view_mode title='table' icon='table'
                //-                 +set_view_mode title='list' icon='list'
                //-                 +set_view_mode title='cards' icon='cards'
                //-                 +set_view_mode title='items' icon='list'
                //-                 +set_view_mode title='map' icon='map'
                //-                 +set_view_mode title='graph' icon='graph'
                .largescroll
                    each reddit_posts
                        +reddit_post
                    
                    
template(name='reddit_post')                    
    //- if thumbnail
    //-     img(src=thumbnail)
    //- div
    a.ui.inline.grey.header(href=url target="_window") #{title}
    //- div
    //- .ui.small.inline.header 
    //-     i.user.outline.icon 
    //-     |#{author}
    //- .ui.list 
    //-     .item domain: #{domain}
    //-     .item permalink: #{permalink}
    //- if categories
    //-     i.cubes.icon(title='categories')
    //-     each categories
    //-         .ui.small.label #{this}    
    //- if Person 
    //-     .ui.inline.small.grey.header people
    //-     i.users.icon
    //-     each Person 
    //-         .ui.small.label.pick_person #{this}
    //- if Company
    //-     i.briefcase.icon(title='company')
    //-     .ui.inline.small.grey.header companies
    //-     each Company 
    //-         .ui.small.label.pick_company #{this}
    //- if TelevisionShow
    //-     i.video.icon(title='television show')
    //-     .ui.inline.small.grey.header companies
    //-     each TelevisionShow 
    //-         .ui.small.label #{this}
    //- if Broadcaster
    //-     i.video.icon(title='broadcaster')
    //-     .ui.inline.small.grey.header companies
    //-     each Broadcaster 
    //-         .ui.small.label #{this}
    //- if Facility
    //-     i.building.icon(title='facility')
    //-     .ui.inline.small.grey.header companies
    //-     each Facility 
    //-         .ui.small.label #{this}
    //- if HealthCondition
    //-     i.heartbeat.icon(title='health condition')
    //-     .ui.inline.small.grey.header companies
    //-     each HealthCondition 
    //-         .ui.small.label #{this}
    //- if Organization
    //-     .ui.inline.small.grey.header organizations
    //-     i.users.icon
    //-     each Organization 
    //-         .ui.small.label #{this}
    //- if Award
    //-     i.trophy.icon
    //-     each Award 
    //-         .ui.small.label #{this}
    //- if Location
    //-     i.marker.icon
    //-     .ui.inline.small.grey.header locations
    //-     each Location 
    //-         .ui.small.label.pick_location #{this}
    //- if PrintMedia
    //-     i.newspaper.icon(title='print media')
    //-     each PrintMedia 
    //-         .ui.small.label #{this}
    //- //- |!{body}
    //- .ui.inline.small.grey.header concepts
    //- each watson_concepts
    //-     .ui.small.label #{this}
    //- .ui.inline.small.grey.header keywords
    //- each watson_keywords
    //-     .ui.small.label #{this}
    //- //- |#{ups}
    //- //- i.thumbs.up.outline.icon
    //- //- |#{downs}
    //- //- i.thumbs.up.outline.icon
    //- a(href=url target='_window') #{url}
    if in_dev
        i.circular.code.link.icon.print_this
    //-     +call_watson mode='html'
    //- i.reddit.icon(title='subreddit')
    //- |#{subreddit}
    //- +call_watson mode='url' key='url'
    //- if in_dev 
    //-     if watson 
    //-         +jsonView json=watson
    .ui.hidden.divider



template(name='tag_cloud')
    //- #cloud
        //- .ui.left.icon.input
        //-     i.search.icon
        //-     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
        // .ui.hidden.fitted.divider
    if selected_tags
        //- #clear_tags.ui.active.icon.compact.basic.button
        //-     i.remove.icon
        each selected_tags
            .unselect_tag.ui.active.compact.basic.button
                strong #{this}
    //- each tags
    //-     .ui.compact.basic.button.select_tag(class=cloud_tag_class) 
    //-         strong #{this.name}
    
    
template(name='cfacet')
    .ui.header 
        |#{label}
    //- #cloud
        //- .ui.left.icon.input
        //-     i.search.icon
        //-     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
        // .ui.hidden.fitted.divider
    if selected_tags
        //- #clear_tags.ui.active.icon.compact.basic.button
        //-     i.remove.icon
        each selected_tags
            .unselect_tag.ui.active.compact.basic.button
                strong #{this}
    //- each tags
    //-     .ui.compact.basic.button.select_tag(class=cloud_tag_class) 
    //-         strong #{this.name}
