template(name='stats')
    .ui.stackable.padded.grid 
        .row 
            .four.wide.column
                .ui.header 
                    i.globe.icon
                    |site stats
                i.refresh_global_stats.refresh.link.circular.icon
            .twelve.wide.column
                with stats_doc
                    .ui.stackable.grid 
                        .three.column.row 
                            .column 
                                .ui.header today
                                .ui.large.list 
                                    .item #{day_tests_count} tests authored
                                    .item test sessions
                                    .item new users
                            .column 
                                .ui.header week
                                .ui.large.list 
                                    .item #{week_tests_count} tests authored
                                    .item test sessions
                                    .item new users
                            .column 
                                .ui.header month
                                .ui.large.list 
                                    .item #{month_tests_count} tests authored
                                    .item test sessions
                                    .item new users
                            .column
                                .ui.header total
                                .ui.large.list
                                    .item #{test_amount} tests
                                    .item total sessions #{total_sessions}
                                    .item #{user_count} users
                                    .item all users average
                    .ui.indicating.tiny.progress(data-percent=site_percent_complete)
                        .bar 
                        .label 
                            |#{site_percent_complete}% site complete
                    //- .ui.header #{site_percent_complete}% site complete
                    //- .ui.header #{session_count} sessions
                    .ui.header 
                        i.chalkboard.grey.icon
                        |section average #{global_section_average}%
                    .ui.indicating.tiny.progress(data-percent=global_section_average)
                        .bar 
                        //- .label 
                        //-     |#{global_section_average}% total
            
                    .ui.small.header 
                        i.book.open.grey.icon
                        |reading #{reading_average}%
                    .ui.indicating.tiny.progress(data-percent=reading_average)
                        .bar 
                        //- .label 
                        //-     |#{reading_average}% reading
                    .ui.small.header 
                        i.pencil.grey.icon
                        |english #{english_average}%
                    .ui.indicating.tiny.progress(data-percent=english_average)
                        .bar 
                        //- .label 
                        //-     |#{english_average}% english
                        
                    .ui.small.header 
                        i.calculator.grey.icon
                        |math #{math_average}%
                    .ui.indicating.tiny.progress(data-percent=math_average)
                        .bar 
                        //- .label 
                        //-     |#{math_average}% math
                        
                    .ui.small.header
                        i.flask.grey.icon
                        | science #{science_average}%
                    .ui.indicating.tiny.progress(data-percent=science_average)
                        .bar 
                        //- .label 
                        //-     |#{science_average}% science
