template(name='thought_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    //- a.ui.fluid.button(href='/' title='thoughts')
                    //-     i.left.chevron.large.icon
                    a.ui.large.fluid.icon.circular.button(href="/thought/#{_id}/view" title='save')
                        i.checkmark.large.icon
                    //- .ui.header added by #{_author_username}
                    |#{when}
                    //- .ui.small.header #{view_count} views
                    //- with _author_id
                    //-     +user_card
                    
                .twelve.wide.column
                    h2
                        .ui.center.aligned.inline.header #{title}
                    //- if bounty
                    //-     i.green.money.icon
                    .ui.small.inline.header thought
                    .ui.fluid.input 
                        input.thought_text(type='text' value=title)
                    .ui.small.inline.header tags
                    .ui.input
                        input.new_element(type='text' placeholder='+' autocomplete="off")
                        //- +clear_value                
                    each tags
                        .ui.large.label
                            i.delete.icon.remove_element
                            |#{this}
        
                    //- +text_edit key='title' label='title' direct=true
                    //- +array_edit key='tags' label='tags' direct=true
                    //- +boolean_edit key='bounty' label='bounty' direct=true
            
            
