template(name='users')
    .ui.padded.stackable.grid
        .four.wide.column
            +user_cloud
        .twelve.wide.column
            .ui.stackable.four.cards
                each users
                    +user_item




template(name='user_cloud')
    .ui.grey.header 
        i.tags.icon
        |tags
    if selected_tags
        #clear_tags.ui.primary.icon.large.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.primary.large.button
                strong #{this}
    each all_tags
        .ui.large.compact.button.select_tag(class=cloud_tag_class) 
            strong #{this.name}


        

template(name='user_item')
    .ui.card
        img.ui.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    
        //- a(href="/item/#{_id}/view")
        .content
            .ui.header #{username}
            each tags
                .ui.large.label #{this}
        .content
            .ui.inline.header seller:
            .ui.large.label 
                i.user.outline.icon
                |#{_author_username}
            .ui.header $#{price}
            if buyer_username
                .ui.inline.header buyer:
                .ui.large.label 
                    |#{buyer_username}
            unless bought
                if can_buy
                    if has_enough
                        .ui.green.basic.button.buy
                            |buy
                    else
                        .ui.green.basic.disabled.button
                            |not enough
                        
                if can_edit
                    a.ui.icon.button(href="/item/#{_id}/edit")
                        i.pencil.icon
            if can_edit
                if bought
                    .ui.button.cancel
                        i.ban.icon
                        |cancel
            if is_admin
                a.ui.icon.button(href="/item/#{_id}/edit")
                    i.pencil.icon
                
                
