template(name='profile')
    +nav
    with user
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    img.ui.centered.medium.rounded.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}")
                    //- img.ui.tiny.inline.rounded.profile_image.image.mobile.only(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}")
                    a(href="/user/#{username}")
                        //- if user.first_name
                        //-     .ui.center.aligned.inline.header
                        //-         | #{user.first_name} #{user.last_name}
                        .ui.inline.header @#{user.username}
                    if is_current_user
                        //- .ui.large.icon.button.recalc_user_stats(title='profile settings')
                        //-     i.refresh.icon
                        a.ui.large.icon.button(href="/user/#{user._id}/edit" title='profile settings')
                            i.cog.large.icon
                        .ui.icon.large.button.logout(title='sign out')
                            i.sign.out.alternate.large.icon
                .twelve.wide.column
                    a.ui.button(href="/user/#{username}/")
                        i.dashboard.icon
                        |dashboard
                    a.ui.button(href="/user/#{username}/credit")
                        i.money.icon
                        |credit
                    a.ui.button(href="/user/#{username}/friends")
                        i.users.icon
                        |friends
                    a.ui.button(href="/user/#{username}/posts")
                        i.blog.icon
                        |posts
                    a.ui.button(href="/user/#{username}/upvoted")
                        i.thumbs.up.icon
                        |upvoted
                    +yield
                        
template(name='user_dashboard')
    .ui.header user dashboard
                        
                        
        
