template(name='admin')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.header.refresh_stats
                    i.shield.icon
                    |admin
                with global_stats
                    .ui.large.list
                        .item #{total_doc_count} docs
                        .item #{total_item_count} items
                        .item #{total_selling_count} selling
                        .item #{total_sales_count} sales
                        .item #{total_deposit_count} deposits
                    .ui.header $#{total_deposit_amount} total deposited
                    .ui.header $#{total_withdrawal_amount} total withdrawals
                    .ui.header $#{total_site_profit} total site profit
            .six.wide.column
                .ui.header 
                    i.chevron.up.icon
                    |withdrawals
                each withdrawals
                    .ui.segment
                        .ui.inline.header $#{amount}
                        a.ui.circular.basic.button(href="/user/#{_author_username}") 
                            i.user.icon
                            |#{_author_username}
                        .ui.small.inline.header
                            |#{when} 
                        .ui.basic.circular.label status: #{status}
                        .ui.basic.circular.label complete: #{complete}
                .ui.header 
                    i.chevron.down.icon
                    |deposits
                .ui.large.selection.list
                    each deposits
                        .item
                            .header $#{deposit_amount} #{_author_username}
                                small #{when} 
            .six.wide.column
                .ui.header 
                    i.users.icon
                    |users
                each users
                    .ui.segment
                        .ui.header #{username}
                            |- $#{credit}
                .ui.header 
                    i.calendar.icon
                    |events
                each events
                    .ui.segment
                        .ui.header #{body}
                            |- $#{credit}
