template(name='edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.huge.circular.icon.button(href="/view/#{_id}")
                        i.checkmark.icon
                    .ui.circular.button.icon.delete_doc
                        i.remove.icon
                    +detect
                    +field_menu
                    //- each fields
                    //-     .ui.label #{this}
                .twelve.wide.column
                    each _keys
                        +key_segment
                    //- if analyzed_text
                    //-     |#{nl2br analyzed_text}
                    //- if watson
                    //-     +watson_view
                    //- if visual_classes
                    //-     +visual_classes

template(name='key_segment')
    .ui.basic.segment
        .ui.inline.header.pointer.toggle 
            if viewing_full
                i.grey.caret.down.icon
            else 
                i.grey.caret.right.icon
            |#{this}
        if viewing_full
            +field_edit


template(name='field_menu')
    //- .ui.icon.button.add_field(title='add field')
    //-     i.plus.icon
    each fields
        .ui.circular.button.add_field
            i.icon(class=icon)
            |#{slug}


template(name='field_edit')
    i.remove.icon.large.link.remove_field(title='remove field')
    .ui.labeled.input
        .ui.label(title='name') #{key}
        input.change_key(type='text' placeholder='key' value=key)
    .ui.small.inline.header 
        small field type
        strong #{meta.field}
    div
    with context
        +Template.dynamic template=field_edit
    //- +jsonView json=meta
