template(name='finance')
    .ui.padded.stackable.grid 
        .four.wide.column
            .ui.header finance
            i.refresh.circular.link.icon.refresh_finance_stats
            .ui.button.give_credits
                |give credits
        .twelve.wide.column
            with finance_stats
                .ui.header #{slot_count} slots
                .ui.header #{bid_count} bids
                .ui.header #{highest_bid} bids
                .ui.header #{most_slots_user} bids
                .ui.header #{most_money_made} most money made
                with top_bid
                    .ui.segment 
                        |#{bid_amount}
                
