template(name='sort_item')
    .item.set_sort #{label}
    

template(name='item_view')
    with current_doc
        .ui.stackable.padded.grid
            //- img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
            //- .row
            //-     .sixteen.wide.column
            //-         +item_calendar
            .row
                .four.wide.column
                    a.ui.fluid.basic.circular.button(href='/' title='items')
                        i.left.chevron.large.icon
                    if can_edit
                        .spacer
                        a.ui.fluid.basic.circular.button(href="/item/#{_id}/edit" title='edit')
                            i.pencil.blue.icon
                        .spacer
                    img.ui.centered.rounded.medium.invert.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
                    .ui.header added by #{_author_username}
                    |#{when}
                    .ui.small.header #{view_count} views
                    //- with _author_id
                    //-     +user_card
                .eight.wide.column
                    .ui.header #{title}
                    .ui.header $#{price}
                    i.tag.icon
                    each tags
                        .ui.large.circular.basic.label #{this}
                    if bought
                        .ui.header buyer
                        a.ui.button(href="/user/#{username}")
                             |{{buyer_username}}
                        .ui.header bought {{long_date bought_timestamp}}
                    else 
                        .ui.header not bought
                    +comments
                .four.wide.column
                    unless bought
                        if can_buy
                            if has_enough
                                .ui.green.basic.basic.circular.button.buy
                                    |buy
                            else
                                .ui.green.basic.disabled.button
                                    |not enough
                    
                    if currentUser
                        .ui.circular.basic.button.clone
                            i.clone.icon
                            |clone
                    +voting_full
                    div
                    //- +viewing
                    with _author_id
                        +seller_card
                    
                    
template(name='seller_card')
    .ui.header seller
    with seller
        .ui.card
            img.ui.centered.rounded.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
            .content
                a.header(href="/user/#{username}") #{username}
                .ui.list
                    .item #{sales_count} sales
                    .item #{selling_count} selling
                    
                    



        
template(name='set_date_filter')        
    .ui.button.set_date_filter(class=date_filter_class)
        |#{label}


template(name='item_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        i.pencil.icon
                        | edit '#{title}' item
                    a.ui.big.basic.circular.fluid.button(href="/item/#{_id}/view" title='save')
                        i.checkmark.green.icon
                        |save
                    +remove_button
                .twelve.wide.column
                    +text_edit key='title' label='title' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    +number_edit key='price' label='price' direct=true
