template(name='profile_layout')
    //- img.ui.fluid.image.checkin_banner(src="{{c.url 'frontrange' width=1000 height=1000 crop='crop'}}")
    +nav
    with user
        .ui.stackable.padded.grid
            .row
                //- img.ui.fluid.image.checkin_banner(src="{{c.url banner_image width=1000 height=1000 crop='crop'}}")
                .four.wide.column
                    a.item.mobile.hidden(href="/user/#{user.username}/")
                        img.ui.centered.rounded.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}")
                    .spacer
                    a(href="/user/#{user.username}")
                        .ui.center.aligned.header
                            strong #{user.name}
                            //- 
                            //- strong #{user.first_name} #{user.last_name}
                            //- small @#{user.username}        
                    a.ui.center.aligned.inline.header.mobile.hidden(href="/user/#{user.username}/credit" title='credit')
                        |{{fixed user.credit}}c
                    .ui.two.column.middle.aligned.grid.mobile.only
                        .column
                            img.ui.small.inline.image.mobile.only(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}")
                        .column
                            .ui.inline.header
                                strong #{user.name}
                                //- small @#{user.username}        
                            a.ui.inline.header(href="/user/#{user.username}/karma" title='karma')
                                //- +i name='coins'
                                //- i.coins.icon
                                |{{user.karma}}k
                    if is_current_user
                        a.ui.large.icon.button(href="/user/#{user.username}/edit" title='profile settings')
                            i.cog.icon
                    else if is_admin
                        a.ui.large.icon.button(href="/user/#{user.username}/edit" title='profile settings')
                            +i name='settings' classes='ui avatar image'
                    if is_current_user
                        .ui.large.icon.button.logout
                            i.sign.out.alternate.icon
                        //- a.ui.fluid.basic.button.logout_other_clients(href="#" title='logout other clients')
                        //-     i.globe.icon
                        //-     |log out other clients
                    if is_admin
                        .ui.header 
                            +i name='shield'
                            |roles
                        each roles
                            .ui.label #{this}
                .twelve.wide.column
                    div.global_container
                        .spacer
                        +yield



template(name='user_dashboard')             
    .ui.center.aligned.header 
        i.dashboard.icon
        |dashboard
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                if is_current_user
                    +user_karma
                else
                    .ui.header #{user.karma} karma
                    .ui.button.send_karma
                        |send karma
                    .ui.button.request_karma
                        |request
            .column
                
                
                
template(name='user_karma')  
    .ui.stackable.two.column.grid
        if is_current_user
            .column
                .ui.header 
                    |withdraw
                |10% charge, takes one business day 
                .ui.action.fluid.input
                    input.withdrawal_amount(type='number' min='1' max=currentUser.credit placeholder='amount')
                    .ui.icon.button.initial_withdrawal 
                        i.right.chevron.icon
                .ui.small.header withdrawals
                .ui.bulleted.list
                    each withdrawals
                        .item
                            .ui.header #{when} for #{amount} credit
                            |status: #{status}
                            .ui.button.cancel_withdrawal
                                i.ban.icon
                                |cancel
            .column
                .ui.header 
                    |deposits
                |includes 2% processing fee
                .ui.action.fluid.input
                    input.deposit_amount(type='number' min='1' placeholder='deposit')
                    .ui.icon.button.add_karma   
                        i.right.chevron.icon
                .ui.small.header deposits
                .ui.large.bulleted.list
                    each deposits
                        .item 
                            .content
                                .header 
                                    |#{amount}c
                                .description #{when} {{long_date _timestamp}}
                                //- if is_dev
                                +remove_button
                                
            .column
                .ui.header admin 
                +number_edit key='karma' label='karma' direct=true
