template(name='sort_thought')
    .item.set_sort #{label}
    

template(name='thought_view')
    with current_doc
        .ui.stackable.padded.grid
            //- img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
            //- .row
            //-     .sixteen.wide.column
            //-         +thought_calendar
            .row
                .six.wide.column
                    //- a.ui.fluid.button(href='/' title='thoughts')
                    //-     i.left.chevron.large.icon
                    a(href="{{c.url image_id }}" target='_window')
                        img.ui.centered.rounded.medium.invert.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
                    //- .ui.header added by #{_author_username}
                    .ui.header added
                    |#{when}
                    .ui.small.header #{view_count} views
                    div
                    if can_edit
                        a.ui.large.button(href="/thought/#{_id}/edit" title='edit')
                            i.pencil.icon
                            |edit
                    div
                    +viewing
                    .ui.header whos seen this
                    .ui.header who upvoted
                    .ui.header who downvoted
                    //- with _author_id
                    //-     +user_card
                .ten.wide.column
                    h2
                        .ui.center.aligned.inline.header #{title}
                        //- if bounty
                        //-     i.green.money.icon
                    div
                    i.tag.icon
                    each tags
                        .ui.large.label #{this}
                    //- with _author_id
                    //-     +seller_card
                    
            
            
            
            
template(name='array_edit')
    div
    if icon
        //- i.grey.icon(class=icon)
        +ismall name=icon classes='ui middle aligned image'
    .ui.inline.header
        if title
            |#{title}
        else if label
            |#{label}
        else if key
            |#{key}
    .ui.input
        input.new_element(type='text' placeholder='+' autocomplete="off")
        //- +clear_value                
    if field_value
        each field_value
            .ui.large.label
                i.delete.icon.remove_element
                |#{this}
            
            
            
                    
template(name='seller_card')
    .ui.header seller
    with seller
        .ui.card
            img.ui.centered.rounded.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
            .content
                a.header(href="/user/#{username}") #{username}
                .ui.list
                    .item #{sales_count} sales
                    .item #{selling_count} selling
                    
                    



        
template(name='set_date_filter')        
    .ui.button.set_date_filter(class=date_filter_class)
        |#{label}
