template(name='profile_layout')
    //- img.ui.fluid.image.home_banner(src="{{c.url 'nightbg' width=1000 height=1000 crop='crop'}}")    
    +nav
    with user
        .ui.stackable.padded.grid
            .three.wide.column
                img.ui.centered.small.rounded.profile_image.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                .ui.center.aligned.basic.segment
                    a(href="/user/#{_id}")
                        .ui.center.aligned.inline.header
                            | #{user.first_name} #{user.last_name}
                        div
                        .ui.small.inline.header @#{user.username}        
                .ui.fluid.vertical.large.menu(class="{{currentUser.nav_color}}")
                    a.item(href="/user/#{_id}/dashboard" class="{{isActiveRoute regex=user_dashboard}}")
                        i.dashboard.icon
                        |dashboard
                    //- a.item(href="/user/#{_id}/profile" class="{{isActiveRoute regex=user_offers}}")
                    //-     i.icon
                    //-         +ismall name='user'
                    //-     |profile
                    a.item(href="/user/#{_id}/questions" class="{{isActiveRoute regex=user_offers}}")
                        i.question.mark.icon
                        |questions
                    a.item(href="/user/#{_id}/passages" class="{{isActiveRoute regex=user_passages}}")
                        i.list.icon
                        |passages
                    a.item(href="/user/#{_id}/brain" class="{{isActiveRoute regex=user_brain}}")
                        i.brain.icon
                        |brain
                    a.item(href="/user/#{_id}/karma" class="{{isActiveRoute regex=user_karma}}")
                        i.yin.yang.icon
                        |karma
                    a.item(href="/user/#{_id}/finance" class="{{isActiveRoute regex=user_finance}}")
                        i.money.icon
                        |finance
                    a.item(href="/user/#{_id}/fiq" class="{{isActiveRoute regex=user_fiq}}")
                        i.line.chart.icon
                        |fiq
                    a.item(href="/user/#{_id}/awards" class="{{isActiveRoute regex=user_awards}}")
                        i.award.icon
                        |awards
                    a.item(href="/user/#{_id}/friends" class="{{isActiveRoute regex=user_friends}}")
                        i.users.icon
                        |friends
                    a.item(href="/user/#{_id}/messages" class="{{isActiveRoute regex=user_messages}}")
                        i.envelope.icon
                        |messages
                if is_current_user
                    a.ui.large.fluid.button(href="/user/#{_id}/edit")
                        i.cog.icon
                        |account
                    a.ui.fluid.button.logout(href="#")
                        i.sign.out.alternate.icon
                        |log out
                    //- a.ui.large.button.logout_other_clients(href="#" title='logout other clients')
                    //-     //- i.globe.icon
                    //-     +ismall name='globe' 
                    //-     |log out other clients
                if is_admin
                    .ui.basic.segment
                        .ui.header 
                            i.shield.icon
                            |roles
                        each roles
                            .ui.basic.label #{this}
            .thirteen.wide.column
                each user_sections
                    a.ui.button(href="/user/#{_id}/#{slug}")
                        i.icon(class=icon)
                        //- +ismall name=icon
                        |#{title}
                +yield    
    +footer



template(name='user_dashboard')                    
    .ui.stackable.padded.grid
        .three.column.row
            .column
                +user_earnings_small
            .column
                +user_payments_small
            .column
                +user_bookmarks_small
            //- .column
            //-     +user_answered_questions_small
            .column
                +user_sessions_small
            .column
                +user_fiq_small
            .column
                +user_brain_small
            .column
                +user_authored_questions_small
            .column
                +user_progress_small
            .column
                +user_stats_small



template(name='user_earnings_small')
    a.ui.header(href='"/user/#{_id}/earnings')
        i.chevron.up.icon
        |earnings
    .ui.small.header past
    .ui.list
        each earnings
            .item #{when} #{amount}
    .ui.small.header future
    .ui.list
        each earnings
            .item #{when} #{amount}



template(name='user_payments_small')
    a.ui.header(href='"/user/#{_id}/payments')
        i.chevron.down.icon
        | payments
    .ui.list 
        each payments 
            .item #{when} #{amount}



template(name='user_friends')
    +user_connections


template(name='user_passages')
    .ui.header user passages


template(name='user_questions')
    .ui.header user questions
    each questions 
        .ui.segment
            a(href="/question/#{_id}/view") !{title}
            each tags 
                .ui.small.label #{this}


template(name='user_brain_small')
    a.ui.header(href="/user/#{_id}/brain")
        i.brain.icon
        |your brain
    +cloud filter='thought'


template(name='user_fiq_small')
    a.ui.header(href="/user/#{_id}/fiq")
        i.line.chart.icon
        |#{current_user.username} fiq #{current_user.fiq}
    .ui.small.header 
        |your fiq #{currentUser.fiq}

template(name='user_progress_small')
    i.pie.chart.icon
    .ui.inline.header 
        |progress
    div    

template(name='user_authored_questions_small')
    i.pencil.icon
    .ui.inline.header 
        |authored questions
    div    

template(name='user_sessions_small')
    .ui.inline.header 
        i.book.icon
        |sessions
    div    
    .ui.list 
        each sessions 
            .item #{when} #{correct_answers}/#{question_count} {{to_percent correct_percent}}%
    
template(name='user_stats_small')
    .ui.inline.header 
        i.bar.chart.icon
        |stats
    div    
    .ui.large.list 
        .item profile views 
        .item comments
        .item questions authored 
        .item likes 
        .item dislikes
        .item question views
        .item courses enrolled
        
    
    
    
    
template(name='user_answered_questions_small')
    .ui.segment 
        .ui.header
            i.tasks.icon
            |answered questions
        .ui.link.list 
            each answered_questions 
                .item hi
    
template(name='user_bookmarks_small')
    .ui.inline.header
        i.bookmark.icon
        | bookmarks
    div
    .ui.large.link.list
        each bookmarks
            a.item(href="/#{model}/#{_id}/view") #{title} [#{model}]
        


template(name='user_awards_small')
    .ui.segment 
        .ui.header
            i.award.icon
            | awards



template(name='user_money')  
    .ui.grid      
        .three.column.row
            .column
                .ui.segment
                    .ui.small.header 
                        +i name='money-bag' classes='ui mini inline image'
                        strong $#{ssd.total_credit_amount}
                        small total weekly income
                    .ui.small.header
                        +i name='hashtag' classes='ui mini inline image'
                        strong #{ssd.credit_count}
                        small credits
            .column
                .ui.segment
                    .ui.small.header
                        +ismall name='shopping-cart-loaded'
                        strong $#{ssd.total_debit_amount}
                        small total weekly expenses
                    .ui.small.header
                        +ismall name='hashtag'
                        strong #{ssd.debit_count}
                        small debits
            .column
                .ui.segment
                    .ui.small.header
                        +i name='economic-improvement'
                        |growth from last week
        .two.column.row
            .column
                .ui.segment
                    .ui.header 
                        +i name='deposit'
                        |weekly paycheck (credits)
                    //- .ui.bulleted.list
                    //-     each user_credits
                    //-         .item 
                    //-             |#{amount}
                    //-             if icon
                    //-                 +i name=icon
                    //-             strong #{text}
                    //-             small #{when}
                    .ui.feed.mediumscroll
                        each user_credits
                            .event 
                                .label
                                    if is_credit
                                        +i name='deposit' classes='ui inline mini image'
                                    if is_debit
                                        +i name='withdrawal' classes='ui inline mini image'
                                    else if icon
                                        +i name=icon
                                .content
                                    .summary
                                        a.user(href="/user/#{target_user.username}")
                                            |#{target_user.name}
                                        |#{text}
                                        .date #{when}
                                    .meta
                                        +voting_small
                                        //- a.like
                                        //-     i.like.icon 
                                        //-     |4 likes
                                        a.remove
                                            i.undo.icon
                                        //- if is_dev
                                        //-     +remove_button
            .column
                .ui.segment
                    .ui.header 
                        +i name='withdrawal'
                        |weekly expenses (debits)
                    .ui.feed.mediumscroll
                        each user_debits
                            .event 
                                .label
                                    if is_credit
                                        +i name='deposit' classes='ui inline mini image'
                                    if is_debit
                                        +i name='withdrawal' classes='ui inline mini image'
                                    else if icon
                                        +i name=icon
                                .content
                                    .summary
                                        a.user(href="/user/#{target_user.username}")
                                            |#{target_user.name}
                                        |#{text}
                                        .date #{when}
                                    .meta
                                        +voting_small
                                        //- a.like
                                        //-     i.like.icon 
                                        //-     |4 likes
                                        a.remove
                                            i.undo.icon
                                        //- if is_dev
                                        //-     +remove_button
                        //- +range_edit                
