template(name='user_awards')
    .ui.segment.profile_block
        .ui.grey.inline.center.aligned.header 
            i.people.carry.icon
            | awards
        .ui.middle.aligned.selection.animated.large.list
            each awards
                +user_segment
    .ui.segment.profile_block
        .ui.inline.center.aligned.header 
            i.badge.icon
            | awards
        .ui.link.items
            each awards
                +award
    .ui.header nonawards    
    each nonawards
        +user_segment



template(name='user_brain')
    .ui.inline.header 
        i.brain.icon
        |brain
    .ui.button.add_thought
        i.plus.icon 
        |thought
    with editing_doc
        +array_edit key='tags' direct=true
        +session_edit_button
    unless editing_doc
        +cloud filter='thought'
    .ui.header thoughts
    each thoughts 
        .ui.segment 
            each tags 
                .ui.inverted.basic.label #{this}
            |#{when}


template(name='user_finance')
    .ui.inline.header 
        i.finance.icon
        |finance
    .ui.small.header earnings
    .ui.small.header payments


template(name='user_karma')
    .ui.inline.header 
        i.yin.yang.icon
        |karma
    .ui.small.header 
        |upvoted docs
    .ui.small.header 
        |downvoted docs

template(name='user_fiq')
    .ui.inline.header 
        i.brain.icon
        |fiq
    .ui.icon.button.recalc_fiq
        i.refresh.icon
    .ui.header #{current_user.username} fiq #{current_user.fiq}
    .ui.header your fiq #{currentUser.fiq}
    .ui.list 
        .item #{answer_count} answers
    .ui.list 
        each top_fiq_users 
            .item #{username}
            



template(name='user_connections')
    .ui.segment.profile_block
        .ui.grey.inline.center.aligned.header 
            i.people.carry.icon
            | connections
        .ui.middle.aligned.selection.animated.large.list
            each connections
                +user_segment
    .ui.fluid.styled.accordion.profile_block
        .active.title
            .ui.grey.inline.center.aligned.header 
                i.tasks.icon
                | connections
        .active.content
            .ui.link.items
                each connections
                    +user_segment
    .ui.header nonconnections    
    each nonconnections
        +user_segment


template(name='user_segment')
    a.item(href="/user/#{username}")
        img.ui.avatar.image(src="{{c.url image_id gravity='face' crop='crop'}}")
        .content
            .header
                |#{first_name} #{last_name}
            .description
                each tags
                    .ui.basic.label #{this}

    //- .ui.horizontal.card
    //-     .image
    //-         if image_id
    //-             img(src="{{c.url image_id gravity='face' crop='crop'}}")
    //-     .content
    //-         a.ui.header(href="/user/#{username}")
    //-             |#{first_name} #{last_name}
    //-             //- |#{username}
    //-         //- .ui.header Tags
    //-         each tags
    //-             .ui.basic.label #{this}
    //-         +user_status user
    //-         .ui.header #{body}
    //-         +user_connect_button

template(name='user_connect_button')
    if is_connected
        .ui.blue.button.disconnect
            |connected
    else
        .ui.basic.button.connect
            |connect
