template(name='profile')
    with user
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a(href="/user/#{user.username}")
                        .ui.center.aligned.header
                            strong #{user.name}
                            //- 
                            //- strong #{user.first_name} #{user.last_name}
                            //- small @#{user.username}        
                    if is_current_user
                        a.ui.large.button(href="/user/#{user._id}/edit" title='profile settings')
                            i.cog.icon
                            |settings
                        .ui.button.logout
                            i.sign.out.alternate.icon
                            |sign out
                        //- a.ui.fluid.button.logout_other_clients(href="#" title='logout other clients')
                        //-     i.globe.icon
                        //-     |log out other clients
                .twelve.wide.column
