template(name='user_friends')
    div
    a.ui.header(href="/users") 
        |friends
    //- .ui.small.grey.header users who can see your inventory
    div
    unless is_current_user
        +user_friend_button
    .ui.stackable.grid
        .two.column.row
            .column
                .ui.small.header connected to
                .ui.middle.aligned.selection.animated.large.list
                    each friends
                        +user_segment
            .column
                .ui.small.header connected by
                .ui.middle.aligned.selection.animated.large.list
                    each friends_with
                        +user_segment
    //- .ui.center.aligned.header 
    //-     i.people.carry.icon
    //-     | friends
    .ui.header people you've friended
    //- +user_friend_button
    .ui.middle.aligned.selection.animated.large.list
    each users_friends
        +user_segment
    .ui.header people who friended you
    .ui.middle.aligned.selection.animated.large.list
    each friended_by
        +user_segment


template(name='user_segment')
    a.item(href="/user/#{username}")
        img.ui.avatar.image(src="{{c.url image_id gravity='face' crop='fit'}}")
        .content
            .header
                |#{name}
                small $#{credit}
            .description
                each tags
                    .ui.basic.label #{this}

    //- .ui.horizontal.card
    //-     .image
    //-         if image_id
    //-             img(src="{{c.url image_id gravity='face' crop='crop'}}")
    //-     .content
    //-         a.ui.header(href="/user/#{username}")
    //-             |#{first_name} #{last_name}
    //-             //- |#{username}
    //-         //- .ui.header Tags
    //-         each tags
    //-             .ui.basic.label #{this}
    //-         +user_status user
    //-         .ui.header #{body}
    //-         +user_friend_button

template(name='user_friend_button')
    if is_friend
        .ui.blue.fade.animated.button.unfriend
            .visible.content
                |connected
            .hidden.content
                i.minus.icon
    else
        .ui.button.friend
            i.plus.icon
            |connect


            
template(name='user_bookmarks_small')
    .ui.inline.header
        i.bookmark.small.icon
        | bookmarks
    div
    .ui.large.link.list
        each bookmarks
            a.item(href="/#{model}/#{_id}/view") #{title} [#{model}]
        


                
                
                
