template(name='profile')
    +nav
    with user
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    img.ui.centered.medium.rounded.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}")
                    //- img.ui.tiny.inline.rounded.profile_image.image.mobile.only(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}")
                    a(href="/user/#{username}")
                        if user.first_name
                            .ui.center.aligned.inline.header
                                | #{user.first_name} #{user.last_name}
                        .ui.inline.header @#{user.username}
                    if is_current_user
                        .ui.large.icon.button.recalc_user_stats(title='profile settings')
                            i.refresh.icon
                        a.ui.large.icon.button(href="/user/#{user._id}/edit" title='profile settings')
                            i.cog.large.icon
                        .ui.icon.large.button.logout(title='sign out')
                            i.sign.out.alternate.large.icon
                    if is_admin
                        .ui.basic.segment
                            .ui.header 
                                i.grey.shield.small.icon
                                |roles
                            each roles
                                .ui.basic.label #{this}
                    unless is_current_user
                        +user_friend_button         
                                
                .twelve.wide.column
                    a.ui.button(href="/user/#{username}/dashboard" class="{{isActiveRoute regex='user_dashboard'}}")
                        +ismall name='dashboard' classes='ui inline image'
                        |dashboard
                    a.ui.button(href="/user/#{username}/profile" class="{{isActiveRoute regex='user_profile'}}")
                        +ismall name='info' classes='ui inline image'
                        |profile
                    a.ui.button(href="/user/#{username}/credit" class="{{isActiveRoute regex='user_credit'}}")
                        +ismall name='coins' classes='ui inline image'
                        |credit
                    a.ui.button(href="/user/#{username}/events" class="{{isActiveRoute regex='user_events'}}")
                        +ismall name='calendar' classes='ui inline image'
                        //- i.grey.calendar.icon
                        |calendar
                    
                    //- if is_admin
                    a.ui.button(href="/user/#{username}/karma" class="{{isActiveRoute regex=user_karma}}")
                        i.grey.yin.yang.icon
                        |karma
                    a.ui.button(href="/user/#{username}/upvoted" class="{{isActiveRoute regex=user_upvoted}}")
                        i.grey.thumbs.up.icon
                        |upvoted
                    a.ui.button(href="/user/#{username}/downvoted" class="{{isActiveRoute regex=user_downvoted}}")
                        i.grey.thumbs.down.icon
                        |downvoted
                    a.ui.button(href="/user/#{username}/orders" class="{{isActiveRoute regex='user_orders'}}")
                        +ismall name='order-history' classes='ui inline image'
                        |orders
                    a.ui.button(href="/user/#{username}/ingredients" class="{{isActiveRoute regex='user_ingredients'}}")
                        +ismall name='ingredients' classes='ui inline image'
                        |ingredients
                    a.ui.button(href="/user/#{username}/dishes" class="{{isActiveRoute regex='user_dishes'}}")
                        +ismall name='meal' classes='ui inline image'
                        |dishes
                    a.ui.disabled.button(href="/user/#{username}/tribes" class="{{isActiveRoute regex='user_tribes'}}")
                        +ismall name='log-cabin' classes='ui inline image'
                        |tribes
                    a.ui.disabled.button(href="/user/#{username}/meals" class="{{isActiveRoute regex='user_meals'}}")
                        +ismall name='meal' classes='ui inline image'
                        |meals
                    a.ui.button(href="/user/#{username}/pantry" class="{{isActiveRoute regex='user_pantry'}}")
                        +ismall name='kitchen' classes='ui inline image'
                        |pantry
                    a.ui.button(href="/user/#{username}/tags" class="{{isActiveRoute regex='user_tags'}}")
                        +ismall name='tags' classes='ui inline image'
                        |tags
                    a.ui.button(href="/user/#{username}/friends" class="{{isActiveRoute regex='user_friends'}}")
                        +ismall name='groups' classes='ui inline image'
                        |friends
                    a.ui.button(href="/user/#{username}/messages" class="{{isActiveRoute regex='user_messages'}}")
                        +ismall name='inbox' classes='ui inline image'
                        |messages
                    +yield
                    
                    
template(name='user_dashboard')
    div
    .ui.inline.header #{like_count} liked
    each upvoted_docs
        .ui.small.header #{_id}
    .ui.inline.header #{dislike_count} disliked
    each downvoted_docs
        .ui.small.header #{_id}
    if currentUser
        unless is_current_user
            .ui.header comparison
            .ui.stackable.padded.grid
                .eight.wide.column
                    .ui.inline.header 
                        i.thumbs.up.outline.grey.icon
                        i.thumbs.up.outline.grey.icon
                        |both liked
                .eight.wide.column
                    .spacer
                    .spacer
                    .ui.inline.header 
                        i.thumbs.up.outline.grey.icon
                        i.thumbs.down.outline.grey.icon
                        |you up, them down
                    .spacer
                    .spacer
                .eight.wide.column
                    .ui.inline.header
                        i.thumbs.down.outline.grey.icon
                        i.thumbs.up.outline.grey.icon
                        | you down, them up
                    .spacer
                    .spacer
                .eight.wide.column
                    .ui.inline.header
                        i.thumbs.down.outline.grey.icon
                        i.thumbs.down.outline.grey.icon
                        |both down



template(name='user_alerts_small')
    .ui.header 
        i.bell.small.icon
        |alerts
    .ui.list
        each alerts 
            .ui.item #{content}


    
template(name='user_stats_small')
    .ui.inline.header 
        +icolor name='combo-chart'
        |stats
    div    
    .ui.large.list 
        .item profile views 
        .item meals cooked
        .item meals bought
        .item comments
        
    
