template(name='flashcards')
    .ui.stackable.grid 
        .centered.middle.aligned.row 
            .four.wide.center.aligned.column
                a.ui.large.icon.big.circular.button(href='/flashcard_stats')
                    i.line.chart.large.icon
                    //- |stats
            .eight.wide.column
                .ui.center.aligned.header 
                    //- i.clone.icon
                    |flashcards
            .four.wide.center.aligned.column
                .ui.icon.large.icon.button.add_flashcard
                    i.plus.icon
                    //- |flashcard
        .row 
            .four.wide.column
                .ui.segment 
                    .ui.header your sessions
                    .ui.button.new_flashcard_session
                        i.plus.icon
                        |new session
                    .ui.link.list
                        each my_sessions 
                            a.item(href="/flashcard_session/#{_id}/view")
                                |#{correct_percent}% #{when}
            .twelve.wide.column
                .ui.centered.three.cards
                    each flashcards 
                        +flashcard_small


template(name='flashcard_small')
    .ui.card
        .content
            if is_editing 
                +text_edit key='front' direct=true
                +text_edit key='back' direct=true
                +array_edit key='tags' direct=true
            else
                .ui.header #{front}
                //- .ui.header #{back}
                each tags 
                    .ui.small.basic.label #{this}
            +session_edit_button
            a.ui.button(href="/flashcard/#{_id}/view")
                |view




template(name='flashcard_edit')
    with current_doc
        .ui.padded.stackable.grid 
            .row 
                .four.wide.center.aligned.column
                    .ui.basic.button.cancel_session
                        i.ban.icon
                        |delete
                .eight.wide.column
                    .ui.center.aligned.header 
                        +i name='test'
                        |edit flashcard
                .four.wide.center.aligned.column
                    a.ui.big.button(href="/flashcard/#{_id}/view")
                        |save
            .centered.row 
                .four.wide.center.aligned.column
                .eight.wide.column
                    .ui.segment
                        .ui.header front
                        +text_edit key='front' label='front text' direct=true
                        +image_edit key='front_image_id' label='front image' direct=true
                    .ui.inverted.segment
                        .ui.header back
                        +text_edit key='back' label='back text' direct=true
                        +image_edit key='back_image_id' label='back image' direct=true
                .four.wide.center.aligned.column
                    //- if can_proceed
                    //-     .ui.button.next
                    //-         |next
                    //- .ui.header current card id
                    //-     |#{current_card_id}
                        
                    
                    
                        
template(name='flashcard_view')
    with current_doc
        .ui.padded.stackable.grid 
            .centered.row 
                .four.wide.column
                    a.ui.fluid.button(href="/flashcards")
                        i.left.chevron.icon
                        +ismall name='flashcards'
                        |flashcards
                .twelve.wide.column
                    .ui.center.aligned.large.header
                        +i name='flashcards'
                        |viewing flash card
            .row 
                .four.wide.column
                    a.ui.icon.fluid.button(href="/flashcard/#{current_doc._id}/edit")
                        i.pencil.icon
                        |edit
                    .ui.header stats 
                    .ui.icon.button.calc_fc_session_stats
                        i.refresh.icon
                    //- .ui.header #{current_doc.correct_count} correct
                    //- .ui.header #{current_doc.incorrect_count} incorrect
                    .ui.header #{current_doc.session_count} sessions
                    .ui.header #{current_doc.correct_percent}% correct
                .eight.wide.column
                    .ui.stackable.two.column.grid
                        .column
                            .ui.segment 
                                .ui.header
                                    i.checkmark.icon
                                    | #{current_doc.correct_count} correct sessions
                                each current_doc.correct_card_ids
                                    +card_small this
                        .column
                            .ui.segment 
                                .ui.header 
                                    i.ban.icon
                                    |#{current_doc.incorrect_count} incorrect sessions
                                each current_doc.incorrect_card_ids
                                    +card_small this
                    












template(name='flashcard_session_edit')
    with current_doc
        .ui.padded.stackable.grid 
            .row 
                .four.wide.center.aligned.column
                    .ui.basic.button.cancel_session
                        i.ban.icon
                        |cancel session
                .eight.wide.column
                    .ui.center.aligned.header 
                        +i name='test'
                        |edit flashcard session
                .four.wide.center.aligned.column
                    a.ui.big.button(href="/flashcard_session/#{_id}/view")
                        |finish session
            .centered.row 
                .four.wide.center.aligned.column
                .eight.wide.center.aligned.column
                    .ui.centered.cards
                        with current_card
                            if viewing_front
                                .ui.link.card.flip_card
                                    .content
                                        .ui.basic.segment
                                            .ui.header #{front}
                            else
                                .ui.inverted.link.card.flip_card
                                    .content
                                        .ui.basic.segment
                                            .ui.inverted.header #{back}
                                //- +shape
                    if can_proceed
                        .ui.hidden.divider
                        .ui.massive.icon.button.mark_incorrect
                            i.remove.big.icon
                        .ui.massive.icon.button.mark_correct
                            i.checkmark.big.icon
                .four.wide.center.aligned.column
                    //- if can_proceed
                    //-     .ui.button.next
                    //-         |next
                    //- .ui.header current card id
                    //-     |#{current_card_id}
                        
                    
                    
                        
template(name='flashcard_session_view')
    .ui.padded.stackable.grid 
        .centered.row 
            .four.wide.column
                a.ui.fluid.button(href="/flashcards")
                    i.left.chevron.icon
                    +ismall name='flashcards'
                    |flashcards
            .twelve.wide.column
                .ui.center.aligned.large.header
                    +i name='flashcards'
                    |viewing flash card session
        .row 
            .four.wide.column
                a.ui.fluid.button(href="/flashcard_session/#{current_doc._id}/edit")
                    i.pencil.icon
                    |edit
                .ui.header stats 
                .ui.icon.button.calc_fc_session_stats
                    i.refresh.icon
                //- .ui.header #{current_doc.correct_count} correct
                //- .ui.header #{current_doc.incorrect_count} incorrect
                .ui.header #{current_doc.answered_count} answered
                .ui.header #{current_doc.correct_percent}% correct
            .eight.wide.column
                .ui.stackable.two.column.grid
                    .column
                        .ui.segment 
                            .ui.header
                                i.checkmark.icon
                                | #{current_doc.correct_count} correct cards
                            each current_doc.correct_card_ids
                                +card_small this
                    .column
                        .ui.segment 
                            .ui.header 
                                i.ban.icon
                                |#{current_doc.incorrect_count} incorrect cards
                            each current_doc.incorrect_card_ids
                                +card_small this
                


template(name='card_small')
    with card
        .ui.small.header #{front}





template(name='flashcard_stats')
    .ui.padded.stackable.grid 
        .centered.row 
            .four.wide.center.aligned.column
                a.ui.large.button(href='/flashcards')
                    +ismall name='line-chart'
                    |flashcards
            .eight.wide.column
                .ui.center.aligned.large.header 
                    +i name='line-chart'
                    |flashcard stats
            .four.wide.center.aligned.column
                .ui.icon.large.button.recalc_questions_stats
                    i.refresh.icon

        .row 
            .eight.wide.column
                with fc_stats_doc
                    .ui.segment
                        .ui.header
                            +i name='positive-dynamic'
                            |my stats 
                        .ui.big.list
                            .item #{fc_session_count} sessions
                            .item #{correct_card_amount} correct card amount
                            .item #{incorrect_card_amount} incorrect card amount
                            .item #{answered_card_amount} cards practiced
                            .item #{fc_session_count} session # ranking
                            .item #{average_correct_percent_amount}% average session correct
                            .item #{authored_card_amount} cards authored
                            .item #{fc_session_count} correct tag cloud
                            .item #{fc_session_count} incorrect tag cloud
            .eight.wide.column
                .ui.segment
                    .ui.header 
                        +i name='leaderboard'
                        |leaderboard 
                    .ui.header 
                        |most sessions 
                    .ui.big.list
                        each ranked_amount_stats
                            .item #{author.username}: #{fc_session_count}
                    .ui.header 
                        |highest average correct % 
                    .ui.big.list
                        each ranked_percent_stats
                            .item #{author.username}: #{average_correct_percent_amount}%
                    
