template(name='passages')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.inline.header 
                    +i name='content'
                    |passage
                .ui.icon.button.add_passage(title='add passage')
                    i.plus.icon
            .twelve.wide.column
                each passages
                    +passage_segment

template(name='passage_segment')
    //- .ui.card    
    .ui.segment
        a(href="/passage/#{_id}/view")
            img.ui.fluid.image(src="{{c.url passage_image_id width=400 height=200 crop='fill'}}")
            .content
                .ui.inline.header #{title}
                div
                i.grey.tags.icon
                each tags 
                    .ui.small.label #{this}
                //- i.dollar.icon
                //- a.ui.large.button(href="/passage/#{_id}")
                //-     i.yellow.right.chevron.icon
                        

template(name='passage_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        i.pencil.icon
                        | edit '#{title}' passage
                    a.ui.fluid.button(href="/passage/#{_id}/view" title='save')
                        i.checkmark.large.icon
                        |save
                    +remove_button
                    +boolean_edit key='published' label='published' direct=true
                    +image_edit key='passage_image_id' icon='image' label='image' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                .six.wide.column 
                    +text_edit key='title' direct=true
                    //- +html_edit key='title' label='title' direct=true
                    +html_edit key='passage' label='passage' icon='content' direct=true
                    +textarea_edit key='passage_text' label='passage text' icon='list' direct=true
                    .ui.button.split_passage
                        |split
                .six.wide.column 
                    each passage_questions 
                        .ui.button.select_question(class=question_button_class)
                            | Q#{number}
                    .ui.icon.button.add_question
                        i.plus.icon
                    with current_question 
                        +text_edit key='title' direct=true
                        +array_edit key='tags' direct=true
                        div
                        +number_edit key='number' label='number' direct=true
                        +remove_button
                        .ui.button.add_choices
                            |add choices
                        each question_choices
                            .ui.segment(class=answer_segment_class)
                                .ui.small.inline.header choice
                                +boolean_edit key='correct' direct=true
                                +number_edit key='number' direct=true placeholder='number'
                                +textarea_edit key='content' direct=true
                                +remove_button
                                //- +html_edit key='content' direct=true



template(name='passage_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.fluid.button(href="/passages")
                        i.chevron.left.icon
                        |passages
                    .ui.header passage view 
                    if can_edit
                        a.ui.fluid.button(href="/passage/#{_id}/edit")
                            i.pencil.icon
                            |edit
                    a.ui.fluid.large.button.take_test
                        i.external.icon
                        |take test
                    +bookmark_button
                    +voting_full
                    +comments
                .eight.wide.column
                    .ui.header 
                        small title
                        strong #{title}
                    //- |!{passage}
                    //- div #{passage_text}
                    .ui.list
                        each passage_text_array
                            .item {{@index}} #{this}
                    .ui.header 
                        |total
                    .ui.button.calc_passage_total
                        |calc passage total
                    .ui.header question count #{question_count}
                    .ui.header 
                        i.clock.icon
                        |sessions
                    .ui.large.link.list
                        each passage_sessions
                            a.item(href="/session/#{_id}/view")
                                | #{when} by #{_author_username}
                                |#{correct_percent}
                    .ui.header 
                        |questions
                    .ui.large.list
                        each passage_questions
                            .item #{title}
                .four.wide.column
                    .ui.header 
                        i.line.chart.icon
                        |stats
                    .ui.large.list
                        .item #{views} views
                    

                        


template(name='passage_stats')
    //- .ui.accordion
    //-     .title
    .ui.header.refresh_passage_stats
        i.line.chart.icon
        |stats
    //- i.dropdown.icon
    //- .content
    .ui.big.list
        .item #{views} views
        .item #{reservation_count} reservations
        .item #{total_earnings}c/#{total_passage_hours}hrs total
        .item #{average_passage_cost}c / #{average_passage_duration}hrs avg passage





template(name='passage_view_template')
    .ui.large.list
        each passages
            .item 
                |#{title} #{price}
                .ui.small.compact.icon.button.buy_passage
                    +ismall name='buy'
                    |#{buy}
        
        
