template(name='question_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                        //- | edit '!{title}' question
                .three.wide.column
                    .ui.inline.header 
                        | edit question
                    a.ui.big.fluid.button(href="/question/#{_id}/view" title='save')
                        i.checkmark.icon
                        |save
                    +remove_button
                    .ui.vertical.fluid.menu
                        .disabled.item question
                        .disabled.item history
                        .disabled.item stats
                    +boolean_edit key='published' label='published' direct=true
                    +array_edit key='tags' label='tags' direct=true
                .seven.wide.column 
                    +html_edit key='title' label='title' direct=true
                    //- +textarea_edit key='title1' label='title2' direct=true
                    div
                    +boolean_edit key='has_description' label='has description' direct=true
                    if has_description
                        +html_edit key='description' label='description' icon='content' direct=true
                    +boolean_edit key='has_explanation' label='has explanation' direct=true
                    if has_explanation
                        +html_edit key='explanation' label='explanation' icon='content' direct=true
                    //- +math
                    +boolean_edit key='has_image' label='has image' direct=true
                    if has_image
                        .ui.hidden.divider
                        +image_edit key='image_id' icon='image' label='image' direct=true
                    .ui.header settings 
                    +boolean_edit key='has_answer_limit' label='answer limit' direct=true
                    div
                    if has_answer_limit
                        +number_edit key='answer_limit' label='answer limit' direct=true
                    if is_multiple_choice
                        +boolean_edit key='show_before_test' label='show choices before test' direct=true
                    .ui.header dependencies  
                    +boolean_edit key='has_deps' label='has dependencies' direct=true
                    if has_deps
                        .ui.button.add_dep
                            |add dependency
                        each deps
                            .ui.segment 
                                if title 
                                    .ui.small.header #{title}
                                    +text_edit key='required_answer' label='required answer' direct=true
                                else 
                                    +question_lookup
                                +remove_button
                .six.wide.column
                    .ui.header answers
                    .ui.header question type
                    +question_type_selector slug='multiple_choice' label='multiple choice'
                    +question_type_selector slug='act' label='act'
                    +question_type_selector slug='essay' label='essay'
                    +question_type_selector slug='number' label='number'
                    +question_type_selector slug='text' label='text'
                    +question_type_selector slug='tagging' label='tagging'
                    +question_type_selector slug='boolean' label='boolean'
                    .ui.divider
                    if is_act
                        .ui.segment(class="{{answer_segment_class 'a'}}")
                            +html_edit key='choice_a' label='a' direct=true
                            +key_value_edit key='correct_choice' value='a' label='correct'
                        .ui.segment(class="{{answer_segment_class 'b'}}")
                            +html_edit key='choice_b' label='b' direct=true
                            +key_value_edit key='correct_choice' value='b' label='correct'
                        .ui.segment(class="{{answer_segment_class 'c'}}")
                            +html_edit key='choice_c' label='c' direct=true
                            +key_value_edit key='correct_choice' value='c' label='correct'
                        .ui.segment(class="{{answer_segment_class 'd'}}")
                            +html_edit key='choice_d' label='d' direct=true
                            +key_value_edit key='correct_choice' value='d' label='correct'
                        .ui.segment(class="{{answer_segment_class 'e'}}")
                            +html_edit key='choice_e' label='e' direct=true
                            +key_value_edit key='correct_choice' value='e' label='correct'
                    if is_multiple_choice
                        .ui.button.add_choice
                            i.plus.icon
                            |choice
                        +boolean_edit key='has_correct_answer' label='has correct answer' direct=true
                        div.scrolling
                            each choices
                                .ui.segment(class=answer_segment_class)
                                    .ui.small.inline.header choice
                                    //- +number_edit key='number' direct=true
                                    +html_edit key='content' direct=true
                                    if question.has_correct_answer
                                        +boolean_edit key='correct' label='correct' direct=true
                                    +remove_button
                    else if is_number_test
                        +boolean_edit key='has_correct_answer' label='has correct answer' direct=true
                        div
                        if has_correct_answer
                            +number_edit key='required_answer' label='number answer' direct=true    
                        div if single answer then answer will be marked right or wrong, otherwise just used to collect answers
                    else if is_essay
                        //- +boolean_edit key='has_' label='single answer' direct=true
                        //- div
                        //- if single_answer
                        //- 
                    else if is_text_answer
                        +boolean_edit key='has_correct_answer' label='has correct answer' direct=true
                        div
                        if has_correct_answer
                            +text_edit key='required_answer' label='required answer' direct=true    
                        div if single answer then answer will be marked right or wrong, otherwise just used to collect answers
                    else if is_tagging_answer
                        +array_edit key='required_answer_tags' label='required answer tags' direct=true    
                    else if is_boolean_answer
                        +key_value_edit key='boolean_type' value='yes_no' label='yes/no'
                        +key_value_edit key='boolean_type' value='true_false' label='true/false'
                
template(name='question_type_selector')
    .ui.button.select_question_type(class=question_selection_button_class)
        |#{label}



template(name='question_lookup')
    //- .ui.form
        //- .ui.inline.header
        //-     if icon
        //-         i.grey.icon(class=icon)
        //-     if title
        //-         |#{title}
        //-     else if label
        //-         |#{label}
        //-     else if key
        //-         |#{key}
        //-     else
        //-         |#{this}
    unless field_value
        .ui.input
            input.question_title_lookup(type='text' placeholder='lookup question' autocomplete="off")
        //- input#multi_doc_select_input(type='text' placeholder="Lookup #{ref_model}.." autocomplete="off")
    each selections
        .ui.basic.label
            |#{title}
    if doc_results
        .ui.middle.aligned.selection.animated.list
            each doc_results
                .select_doc.item
                    .ui.inline.small.grey.header
                        strong #{title}
                    div
        //- +clear_value                
        //- .ui.list
        //-     each field_value
        //-         // |#{this}
        //-         +user_card
        //-         .ui.large.button
        //-             |#{first_name} #{last_name}
                //- with user_from_id
                //-     .item
                //-         .right.floated.content
                //-             i.pull_user.remove.link.icon
                //-         .image
                //-             img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                //-         .content
                //-             h4.ui.header
                //-                 |#{first_name} #{last_name}
                //-                 @#{username}
