template(name='test_sessions')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.inline.header 
                    i.chevron.left.large.icon
                .ui.icon.button.add_test_session(title='add test_session')
                    i.plus.icon
            .twelve.wide.column
                .ui.stackable.cards
                    each test_sessions
                        +test_session_card

template(name='test_session_card')
    //- .ui.card    
    a.ui.card(href="/test_session/#{_id}/view")
        img.ui.fluid.image(src="{{c.url test_session_image_id width=400 height=200 crop='fill'}}")
        .content
            .ui.inline.header #{title}
            div
            i.grey.tags.icon
            each tags 
                .ui.small.label #{this}
                    


template(name='test_session_edit')
    with current_doc
        .ui.stackable.padded.grid
            .middle.aligned.row
                .three.wide.center.aligned.column 
                    .ui.icon.circular.large.button.cancel_session
                        i.removeicon
                .ten.wide.center.aligned.column 
                    each current_doc.questions_array
                        .ui.compact.large.circular.raw.button.select_question(class=question_button_class)
                            | #{question_number}
                .three.wide.center.aligned.column 
                    //- a.ui.fluid.icon.circular.button(href="/test_session/#{_id}/view" title='save')
                    //-     i.chevron.right.large.icon
            .row
                .four.wide.column
                    if generated
                        i.circular.refresh.link.icon.recalc_test_session_stats(title='recalc stats')
                        .ui.list 
                            .item #{question_count} total questions 
                            .item #{answer_count} answered questions 
                            .item #{correct_count} correct answers 
                            .item #{incorrect_count} incorrect answers 
                            .item #{almost_correct_count} almost correct count 
                            .item #{correct_percent}% correct  
                            .item #{minutes_duration} minutes duration
                            .item #{average_minutes_per_question} avg mins/question
                        .ui.button
                            |request help    
                .six.wide.column.question_column
                    if generated
                        each passage.passage_text_array
                            .item {{@index}}
                                |&nbsp;
                                |#{this}
                        .ui.header !{current_question.title}
                        a.ui.circular.icon.button(href="/question/#{current_question._id}/edit")
                            i.large.pencil.icon
                        //- | !{passage.passage}
                    unless generated
                        unless generating
                            .ui.header create test
                            +boolean_edit key='tutor_mode' label='tutor mode' direct=true
                            +boolean_edit key='timed_mode' label='timed' direct=true
                            div 
                            +number_edit key='question_count' label='number of questions' direct=true
                            +array_edit key='concept_tags' label='concepts' direct=true
                            .ui.large.fluid.button.generate_test
                                |generate test
                        else 
                            i.big.loading.notched.circle.icon
                            |generating 
                        
                .six.wide.column.question_column
                    .ui.header #{passage.title}
                    if generated
                        div
                        with current_question 
                            +test_choice_selector answer='a'
                            +test_choice_selector answer='b'
                            +test_choice_selector answer='c'
                            +test_choice_selector answer='d'
                            +test_choice_selector answer='e'
                            .ui.divider
                            .ui.fluid.basic.button 
                                |I don't know
                            //- each choices
                            //-     .ui.large.fluid.button.choose_choice(class=test_session_choice_class)
                            //-         |!{content}
                            if question_answered
                                if is_last_question
                                    .ui.fluid.large.circular.button.finish
                                        i.checkmark.large.icon
                                else        
                                    .ui.fluid.basic.large.button.proceed
                                        i.right.chevron.large.icon


template(name='test_choice_selector')
    .ui.link.fluid.segment.select_choice.pointer(class=select_choice_class)
        .content
            .ui.stackable.grid 
                .two.wide.column
                    .ui.large.basic.label
                        |#{answer}
                .fourteen.wide.column.f6
                    |!{choice_html}



template(name='test_session_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.fluid.circular.button(href="/tests")
                        i.chevron.left.large.icon
                    .ui.header test session 
                    if can_edit
                        a.ui.fluid.large.icon.circular.button(href="/test_session/#{_id}/edit")
                            i.pencil.large.icon
                .eight.wide.column
                    .ui.large.list 
                        .item #{question_count} total questions 
                        .item #{answer_count} answered questions 
                        .item #{correct_count} correct answers 
                        .item #{incorrect_count} incorrect answers 
                        .item #{almost_correct_count} almost correct count 
                        .item #{correct_percent}% correct  
                        .item #{minutes_duration} minutes duration
                        .item #{average_minutes_per_question} avg mins/question
                    +comments
                .four.wide.column
                    .ui.header 
                        i.line.chart.icon
                        |stats
                    .ui.large.list
                        .item #{views} views
                    

template(name='test_session_stats')
    //- .ui.accordion
    //-     .title
    .ui.header.refresh_test_session_stats
        i.line.chart.icon
        |stats
    //- i.dropdown.icon
    //- .content
    .ui.big.list
        .item #{views} views
        .item #{reservation_count} reservations
        .item #{total_earnings}c/#{total_test_session_hours}hrs total
        .item #{average_test_session_cost}c / #{average_test_session_duration}hrs avg test_session
