template(name='user_orders')
    //- .ui.center.aligned.inline.header 
    //-     i.list.icon
    //-     | orders
    div
    .ui.basic.circular.icon.button.create_order
        i.plus.icon
        |add order
    div
    .ui.divided.items
        each user_orders
            .ui.item 
                .image
                    img.ui.image(src="{{c.url meal_dish.image_id width=400 height=400}}")
                .content
                    .ui.header #{order_meal.meal_dish.title}
                    .meta 
                        |#{when}
                    .description
                        |$#{order_price}
                        a.ui.basic.button(href="/meal/#{order_meal._id}/view")
                            |view order
                        a.ui.basic.button(href="/meal/#{order_meal._id}/view")
                            |view meal
                        a.ui.basic.button(href="/dish/#{order_meal.meal_dish._id}/view")
                            |view dish
                        .ui.basic.button(href="/dish/#")
                            |view tribe
                        .ui.button
                            i.remove.icon
                            |cancel

    .ui.header
        i.list.icon
        |orders
    .scrolling
        each orders
            +order_segment
            
            
template(name='order_segment')
    .ui.segment
        .ui.header #{when} #{_author_username}
        .ui.list
            .item buyer: #{buyer_username}
            .item seller: #{seller_username}
            .item product_id: #{product_id}
        with product
            .ui.header product #{title}
        a.ui.button(href="/alpha/#{product_id}/view")
            |view product
        if can_edit
            .ui.small.button.cancel
                i.remove.icon
                |cancel
        if is_admin
            +remove_button
