template(name='university')
    .ui.stackable.padded.grid
        .row
            .six.wide.column
                .ui.header.refresh_stats
                    i.university.icon
                    |university
                if is_admin
                    .ui.button.add_class
                        |add class
                .ui.header questions
                .ui.circular.icon.button.add_question
                    i.plus.icon
                each questions
                    a(href="/question/#{_id}/view")
                    .ui.title #{title}
            .ten.wide.column
                each classes
                    .ui.segment
                        a.ui.header(href="/class/#{_id}/view") 
                            img.ui.centered.rounded.medium.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")

                            |#{title}
                        


template(name='class_view')
    with current_doc
        .ui.stackable.padded.grid
            //- img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
            //- .row
            //-     .sixteen.wide.column
            //-         +class_calendar
            .row
                .six.wide.column
                    a.ui.fluid.basic.circular.button(href='/university' title='university')
                        i.left.chevron.large.icon
                    a(href="{{c.url image_id }}" target='_window')
                        img.ui.centered.rounded.medium.invert.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
                    .ui.header added by #{_author_username}
                    |#{when}
                    .ui.small.header #{view_count} views
                    unless enrolled
                        if can_enroll
                            if has_enough
                                .ui.green.fluid.circular.large.right.labeled.icon.button.enroll
                                    |enroll for #{price}
                                    i.checkmark.icon
                            else
                                .ui.green.basic.disabled.button
                                    |not enough
                    else
                        .ui.secondary.segment
                            .ui.green.fluid.circular.large.disabled.button 
                                |enrolled 
                            .ui.inline.header other students
                            a.ui.large.basic.circular.button(href="/user/#{buyer_username}")
                                img.ui.avatar.image(src="{{c.url _buyer.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                |{{buyer_username}}
                            .ui.header bought {{long_date bought_timestamp}}
                        
                    if can_edit
                        a.ui.basic.large.circular.button(href="/class/#{_id}/edit" title='edit')
                            i.pencil.blue.icon
                            |edit
                    if currentUser
                        .ui.circular.basic.large.button.clone
                            i.clone.icon
                            |clone
                    +voting_full
                    div
                    //- +viewing
                    with _author_id
                        +teacher_card
                    
                    //- with _author_id
                    //-     +user_card
                    h2
                        .ui.center.aligned.inline.header #{title}
                    div
                    i.tag.icon
                    each tags
                        .ui.large.circular.basic.label #{this}
                    div
                .ten.wide.column
                    if is_admin
                        .ui.large.icon.button.add_module
                            i.plus.icon
                    each class_modules
                        .ui.segment
                            .ui.header #{title}
                    +comments
    
                    
                    
template(name='teacher_card')
    .ui.header teacher
    with seller
        .ui.card
            img.ui.centered.rounded.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
            .content
                a.header(href="/user/#{username}") #{username}
                .ui.list
                    .item #{sales_count} sales
                    .item #{selling_count} selling
                    
                    
                    
                    
template(name='class_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column 
                    .ui.header 
                        i.pencil.icon
                        | edit '#{title}'
                    a.ui.big.basic.icon.circular.fluid.button(href="/class/#{_id}/view" title='save')
                        i.checkmark.green.icon
                    +remove_button
                .ten.wide.column
                    +text_edit key='title' label='title' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +textarea_edit key='content' label='content' icon='list' direct=true
                    +image_edit key='image_id' label='image' direct=true
