template(name='post_page')
    with cd
        .ui.stackable.padded.grid 
            .row
                .sixteen.wide.column 
                    if title 
                        .ui.grey.header(title=ups) !{title}
                    else if watson.metadata.title 
                        .ui.grey.header(title=ups) !{watson.metadata.title}
                
            .row
                .four.wide.column 
                    if has_thumbnail
                        .image.rounded
                            img(src=thumbnail)
                    .content        
                        if is_image
                            img.ui.image(src=url)
                    .meta
                        a.ui.compact.circular.icon.button(href=url target='_window')
                            i.external.icon
                        //- span.ui.grey.text #{domain}
                        if is_video
                            i.video.large.icon
                        a.ui.small.compact.basic.circular.button(href="http://www.reddit.com/#{permalink}" target='_window')
                            i.comments.spaced.icon
                            |#{comment_count}
                        .ui.basic.inverted.label 
                            i.thumbs.up.outline.icon
                            |#{ups}
                            //-     i.thumbs.down.outline.icon
                            //-     |#{downs}
                        a.ui.basic.compact.inverted.button(href="https://www.reddit.com/user/#{author}" target='_window')
                            i.pencil.icon
                            |#{author}
                        //- .ui.basic.inverted.label 
                        a.ui.small.compact.basic.circular.button(href="http://www.reddit.com/r/#{subreddit}" target='_window' title="visit #{subreddit} subreddit")
                            i.reddit.icon
                            |#{subreddit}
                        i.refresh.circular.link.icon.calc_post
                        +voting_small
                        if tone 
                            each first_three_tones
                                .item
                                    //- span #{sentence_id}
                                    span.large120(title="#{sentence_id}") #{text}
                                    //- each tones
                                    //-     .ui.basic.large.label(class="{{calculated_size 'score'}}") &nbsp; #{tone_id} {{ to_percent score }}% 
                        //- else 
                    //- unless tone
                    .ui.button.call_watson 
                        i.chess.icon
                        |tag url
                    .ui.button.call_watson_image
                        i.chess.icon
                        |tag image
                    .ui.button.print_me
                        |print me
                .twelve.wide.column 
                    if tone 
                        +tone
                    if tags
                        each tags
                            .ui.circular.large.inverted.black.label
                                |#{this}
                    div
                    //- if body
                    //-     .ui.basic.segment
                    //-         |!{body}
                    if watson 
                        +watson_view
