template(name='profile_layout')
    //- img.ui.fluid.image.checkin_banner(src="{{c.url 'frontrange' width=1000 height=1000 crop='crop'}}")
    +nav
    with user_from_username_param
        .ui.stackable.grid
            .row
                //- img.ui.fluid.image.checkin_banner(src="{{c.url banner_image width=1000 height=1000 crop='crop'}}")
                .four.wide.column
                    if profile_image_id
                        a.item.mobile.hidden(href="/user/#{user_from_username_param.username}/")
                            img.ui.centered.image(src="{{c.url profile_image_id height=300 width=300 gravity='face' crop='fill'}}")
                    else
                        a.item.mobile.hidden(href="/user/#{user_from_username_param.username}/")
                            img.ui.centered.image(src="{{c.url profile_image_id height=300 width=300 gravity='face' crop='fill'}}")
                    .spacer
                    a(href="/user/#{user.username}")
                        .ui.large.center.aligned.header
                            strong #{user.name}
                            //- 
                            //- strong #{user.first_name} #{user.last_name}
                            //- small @#{user.username}        
                    a.ui.header(href="/user/#{user_from_username_param.username}/finance" title='credit')
                        i.coins.icon
                        |{{fixed user.credit}}
                    .ui.two.column.middle.aligned.grid.mobile.only
                        .column
                            img.ui.small.inline.image.mobile.only(src="{{c.url profile_image_id height=300 width=300 gravity='face' crop='fill'}}")
                        .column
                            .ui.inline.header
                                strong #{user.name}
                                //- small @#{user.username}        
                            a.ui.inline.header(href="/user/#{user_from_username_param.username}/finance" title='credit')
                                i.coins.icon
                                |{{fixed user.credit}}
                            if handling_active
                                .ui.large.green.label
                                    |handling active (#{wait_time})
                            else 
                                .ui.large.label
                                    |inactive
                    if is_current_user
                        unless handling_active 
                            .ui.fluid.button.clock_in
                                i.sign.in.icon 
                                |clock in
                        else 
                            .ui.fluid.button.clock_out
                                i.sign.in.icon 
                                |clock out
                        a.ui.fluid.button(href="/user/#{user_from_username_param.username}/edit" title='profile settings')
                            i.cog.icon 
                            |edit
                    else if is_admin
                        a.ui.fluid.button(href="/user/#{user_from_username_param.username}/edit" title='profile settings')
                            i.cog.icon 
                            |edit
                    if is_dev
                        +boolean_edit key='disabled' label='disabled' icon='user shield' direct='true'
                    //- else
                    //-     .ui.button.direct_message(title='new message')
                    //-         +i name='envelope'
                    if is_current_user
                        a.ui.fluid.button.logout(href="#" title='logout')
                            i.sign.out.alternate.icon
                            |log out
                        a.ui.fluid.button.logout_other_clients(href="#" title='logout other clients')
                            i.globe.icon
                            |log out other clients
                    if is_admin
                        .ui.header 
                            +i name='shield'
                            |roles
                        each roles
                            .ui.label #{this}
                .twelve.wide.column
                    a.ui.compact.button(href="/user/#{username}/dashboard" class="{{isActiveRoute 'user_dashboard'}}")
                        i.dashboard.icon
                        |dashboard
                    a.ui.compact.button(href="/user/#{username}/info" class="{{isActiveRoute 'user_info'}}")
                        i.info.icon
                        |info
                    a.ui.compact.button(href="/user/#{username}/rentals" class="{{isActiveRoute 'user_rentals'}}")
                        i.clock.icon
                        |rentals
                    a.ui.compact.button(href="/user/#{username}/handling" class="{{isActiveRoute 'user_handling'}}")
                        i.hand.holding.icon
                        |handling
                    a.ui.compact.button(href="/user/#{username}/reservations" class="{{isActiveRoute 'user_reservations'}}")
                        i.clock.icon
                        |reservations
                    a.ui.compact.button(href="/user/#{username}/bookmarks" class="{{isActiveRoute 'user_bookmarks'}}")
                        i.bookmark.icon
                        |bookmarks
                    a.ui.compact.button(href="/user/#{username}/contact" class="{{isActiveRoute 'user_contact'}}")
                        i.phone.icon
                        |contact
                    //- a.ui.compact.button(href="/user/#{username}/comparison" class="{{isActiveRoute 'user_comparison'}}")
                    //-     i.transaction.icon
                    //-     |comparison
                    a.ui.compact.button(href="/user/#{username}/offers" class="{{isActiveRoute 'user_offers'}}")
                        i.hand.holding.usd.icon
                        |offers
                    a.ui.compact.button(href="/user/#{username}/tags" class="{{isActiveRoute 'user_tags'}}")
                        i.tags.icon
                        |tags
                    a.ui.compact.button(href="/user/#{username}/messages" class="{{isActiveRoute 'user_messages'}}")
                        i.envelope.icon
                        |mail
                    a.ui.compact.button(href="/user/#{username}/stats" class="{{isActiveRoute 'user_stats'}}")
                        i.line.chart.icon
                        |stats
                    //- a.ui.compact.button(href="/user/#{username}/notifications" class="{{isActiveRoute 'user_notifications'}}")
                    //-     i.bell.icon
                    //-     |alerts
                    a.ui.compact.button(href="/user/#{username}/credit" class="{{isActiveRoute regex='user_credit'}}")
                        i.coins.grey.icon
                        |credit
                    //- a.ui.compact.button(href="/user/#{username}/questions" class="{{isActiveRoute regex=user_offers}}")
                    //-     i.question.mark.icon
                    //-     |questions
                    //- a.ui.compact.button(href="/user/#{username}/passages" class="{{isActiveRoute regex=user_passages}}")
                    //-     i.list.icon
                    //-     |passages
                    a.ui.compact.button(href="/user/#{username}/shop" class="{{isActiveRoute regex='user_shop'}}")
                        i.shopping.cart.grey.icon
                        |shop
                    a.ui.compact.button(href="/user/#{username}/requests" class="{{isActiveRoute regex='user_requests'}}")
                        i.hand.holding.usd.grey.icon
                        | requests
                    a.ui.compact.button(href="/user/#{username}/social" class="{{isActiveRoute regex='user_social'}}")
                        i.comments.grey.icon
                        |social
                    a.ui.compact.button(href="/user/#{username}/finance" class="{{isActiveRoute regex='user_finance'}}")
                        i.grey.money.icon
                        |finance
                    a.ui.compact.button(href="/user/#{username}/brain" class="{{isActiveRoute regex='user_brain'}}")
                        i.grey.brain.icon
                        |brain
                    a.ui.compact.button(href="/user/#{username}/karma" class="{{isActiveRoute regex='user_karma'}}")
                        i.grey.yin.yang.icon
                        |karma
                    //- a.ui.compact.button(href="/user/#{username}/right" class="{{isActiveRoute regex='user_right'}}")
                    //-     i.grey.checkmark.icon
                    //-     |right
                    //- a.ui.compact.button(href="/user/#{username}/wrong" class="{{isActiveRoute regex='user_wrong'}}")
                    //-     i.grey.remove.icon
                    //-     |wrong
                    a.ui.compact.button(href="/user/#{username}/cart" class="{{isActiveRoute regex='user_cart'}}")
                        i.grey.shopping.cart.icon
                        |cart
                    a.ui.compact.button(href="/user/#{username}/groups" class="{{isActiveRoute regex='user_groups'}}")
                        i.grey.users.icon
                        |groups
                    a.ui.compact.button(href="/user/#{username}/tutoring" class="{{isActiveRoute regex='user_tutoring'}}")
                        i.grey.chalkboard.icon
                        |tutoring
                    a.ui.compact.button(href="/user/#{username}/events" class="{{isActiveRoute regex='user_events'}}")
                        i.grey.calendar.icon
                        |events
                    //- a.ui.compact.button(href="/user/#{username}/awards" class="{{isActiveRoute regex=user_awards}}")
                    //-     i.grey.award.icon
                    //-     |awards
                    a.ui.compact.button(href="/user/#{username}/friends" class="{{isActiveRoute regex='user_friends'}}")
                        i.grey.users.icon
                        |friends
        
                    div.global_container
                        .spacer
                        +yield
    +footer 



template(name='user_dashboard')             
    .ui.center.aligned.header 
        i.dashboard.icon
        |dashboard
    i.recalc_user_act_stats.circular.refresh.link.icon
    //- i.recalc_user_cloud.refresh.link.icon
    //- .ui.header right cloud 
    //-     each current_user.right_tag_cloud
    //-         .ui.basic.label 
    //-             |#{tag}
    //-             small #{count}
    //- .ui.header wrong cloud 
    //-     each current_user.wrong_tag_cloud
    //-         .ui.basic.label 
    //-             |#{tag}
    //-             small #{count}
    //- .ui.header right tag list
    //- each current_user.right_tag_list
    //-     .ui.label #{this}
    //- .ui.header wrong tag list
    //- each current_user.wrong_tag_list
    //-     .ui.label #{this}
    .ui.stackable.padded.grid
        .three.column.row
            .column
                +user_alerts_small
            .column
                +user_bookmarks_small
            //-     +user_answered_questions_small
            .column
                .ui.small.header section average
                .ui.list 
                    .item from yesterday
                    .item from last week
                    .item from last month
                .ui.header.calc_test_sessions test sessions
                .ui.list 
                    .item #{current_user.all_sessions_count} total
                    .item #{current_user.todays_sessions_count} last 24 hrs
                    .item #{current_user.weeks_sessions_count} last 7 days
                    .item #{current_user.months_sessions_count} last 30 days
            .column
                .ui.indicating.tiny.progress(data-percent=site_percent_complete)
                    .bar 
                    .label 
                        |#{site_percent_complete}% site complete
                //- .ui.header #{site_percent_complete}% site complete
                //- .ui.header #{session_count} sessions
                .ui.header ACT sections
                .ui.small.header 
                    i.chalkboard.grey.icon
                    |all #{global_section_average}%
                //- .ui.indicating.tiny.progress(data-percent=global_section_average)
                //-     .bar 
                //-     //- .label 
                //-     //-     |#{global_section_average}% total
                //- .ui.teal.circular.label(title='global rank')
                //-     |#{global_section_average_rank}
                //- .ui.blue.circular.label(title='group rank')
                //-     |#{global_section_average_rank}
                //- 
                //- .ui.small.header 
                //-     i.book.open.grey.icon
                //-     |reading #{reading_average}%
                //- .ui.indicating.tiny.progress(data-percent=reading_average)
                //-     .bar 
                //-     //- .label 
                //-     //-     |#{reading_average}% reading
                //- .ui.small.header 
                //-     i.pencil.grey.icon
                //-     |english #{english_average}%
                //- .ui.indicating.tiny.progress(data-percent=english_average)
                //-     .bar 
                //-     //- .label 
                //-     //-     |#{english_average}% english
                //- 
                //- .ui.small.header 
                //-     i.calculator.grey.icon
                //-     |math #{math_average}%
                //- .ui.indicating.tiny.progress(data-percent=math_average)
                //-     .bar 
                //-     //- .label 
                //-     //-     |#{math_average}% math
                //- 
                //- .ui.small.header
                //-     i.flask.grey.icon
                //-     | science #{science_average}%
                //- .ui.indicating.tiny.progress(data-percent=science_average)
                //-     .bar 
                //-     //- .label 
                //-     //-     |#{science_average}% science

            .column
                +user_sessions_small
            //- .column
            //-     +user_diq_small
            //- .column
            //-     +user_brain_small
            //- .column
            //-     +user_authored_questions_small
            //- .column
            //-     +user_progress_small
            //- .column
            //-     +user_stats_small


template(name='user_alerts_small')
    .ui.header 
        i.bell.small.icon
        |alerts
    .ui.list
        each alerts 
            .ui.item #{content}


template(name='user_diq_small')
    a.ui.header(href="/user/#{_id}/fiq")
        i.line.chart.icon
        |#{current_user.username} fiq #{current_user.fiq}
    .ui.small.header 
        |your fiq #{currentUser.fiq}

template(name='user_progress_small')
    i.pie.chart.icon
    .ui.inline.header 
        |progress
    div    

template(name='user_authored_questions_small')
    i.pencil.icon
    .ui.inline.header 
        |authored questions
    div    

template(name='user_sessions_small')
    .ui.inline.header 
        //- i.book.icon
        |#{current_user.session_count} sessions
    div    
    .ui.list 
        each sessions 
            .item
                .header 
                    |#{test.title}    
                .content
                    .ui.indicating.tiny.progress(data-percent=correct_percent)
                        .bar 
                        //- .label 
                        //-     |#{correct_percent}% correct percent
    
                .content
                    | #{when} #{correct_count}/#{question_count} #{correct_percent}%
                    //- each test.tags 
                    //-     .ui.small.basic.label #{this}
                    a.ui.icon.small.compact.circular.button(href="/test_session/#{_id}/take")
                        i.grey.right.chevron.icon
    
    
    
template(name='user_stats_small')
    .ui.inline.header 
        i.bar.chart.icon
        |stats
    div    
    .ui.large.list 
        .item profile views 
        .item comments
        .item questions authored 
        .item likes 
        .item dislikes
        .item question views
        .item courses enrolled
        
    
    
