template(name='profile_layout')
    //- img.ui.fluid.image.checkin_banner(src="{{c.url 'frontrange' width=1000 height=1000 crop='crop'}}")
    +nav
    with user
        .ui.stackable.padded.grid
            .row
                //- img.ui.fluid.image.checkin_banner(src="{{c.url banner_image width=1000 height=1000 crop='crop'}}")
                .four.wide.column
                    a.item(href="/user/#{user.username}/")
                        img.ui.centered.rounded.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}")
                    .mobile.hidden.spacer
                    a(href="/user/#{user.username}")
                        .ui.center.aligned.header
                            strong #{user.name}
                            //- 
                            //- strong #{user.first_name} #{user.last_name}
                            //- small @#{user.username}        
                    a.ui.center.aligned.inline.header(href="/user/#{user.username}/credit" title='credit')
                        |${{user.credit}}
                    if checkedin
                        .ui.animated.large.green.fade.circular.button.checkout
                            .hidden.content
                                |checkout?
                            .visible.content
                                |checked in
                    else 
                        .ui.basic.circular.large.button.checkin
                            |checkin
                    .ui.header
                        i.phone.small.grey.icon
                        | #{phone}
                    if is_current_user
                        a.ui.large.circular.basic.button(href="/user/#{user._id}/edit" title='profile settings')
                            i.cog.icon
                            |settings
                    else if is_admin
                        a.ui.large.circular.basic.button(href="/user/#{user._id}/edit" title='profile settings')
                            i.cog.icon
                            |settings
                    if is_current_user
                        .ui.circular.basic.button.logout
                            i.sign.out.alternate.icon
                            |sign out
                        //- a.ui.fluid.basic.button.logout_other_clients(href="#" title='logout other clients')
                        //-     i.globe.icon
                        //-     |log out other clients
                    if is_admin
                        .ui.header 
                            +i name='shield'
                            |roles
                        each roles
                            .ui.label #{this}
                .twelve.wide.column
                    if is_admin
                        .ui.circular.icon.button.edit_user_profile_sections
                            i.pencil.icon
                    each profile_sections
                        a.ui.basic.circular.dashboard.compact.button(href="/user/#{username}/#{slug}" class="{{isActiveRoute 'user_dashboard'}}")
                            i.large.dashboard.icon
                            //- +i name='dashboard' classes='ui avatar image'
                            |#{title}
                    a.ui.basic.circular.dashboard.compact.button(href="/user/#{username}/friends" class="{{isActiveRoute 'user_friends'}}")
                        i.large.users.icon
                        //- +i name='groups' classes='ui avatar image'
                        |friends
                    a.ui.basic.circular.dashboard.compact.button(href="/user/#{username}/credit" class="{{isActiveRoute regex='user_credit'}}")
                        i.large.money.icon
                        //- +i name='money' classes='ui avatar image'
                        |credit
                    a.ui.basic.circular.dashboard.compact.button(href="/user/#{username}/sales" class="{{isActiveRoute regex='user_sales'}}")
                        i.large.checkmark.icon
                        //- +i name='invoice' classes='ui avatar image'
                        |sales
                    a.ui.basic.circular.dashboard.compact.button(href="/user/#{username}/badges" class="{{isActiveRoute regex='user_badges'}}")
                        i.large.certificate.icon
                        //- +i name='certificate' classes='ui avatar image'
                        |badges
                    a.ui.basic.circular.dashboard.compact.button(href="/user/#{username}/purchases" class="{{isActiveRoute regex='user_purchases'}}")
                        //- +i name='shopping-cart' classes='ui avatar image'
                        i.large.cart.icon
                        |purchases
                    a.ui.basic.circular.compact.button(href="/user/#{username}/chat" class="{{isActiveRoute regex='user_chat'}}")
                        //- +i name='chat' classes='ui avatar image'
                        i.large.chat.icon
                        |chat
                    .spacer
                    +yield
