template(name='admin_layout')
    //- img.ui.fluid.image.bg_overlay(src="{{c.url 'forestbg' width=1000 height=1000 crop='crop'}}")    
    +nav
    .ui.stackable.padded.grid
        .row
            .three.wide.column
                .ui.header 
                    i.shield.icon
                    |admin
                .ui.vertical.fluid.menu(class="{{currentUser.nav_color}}")
                    a.item(href="/grid" class="{{isActivePath '/grid'}}")
                        i.database.icon
                        | models
                    a.item(href="/tasks" class="{{isActivePath '/tasks'}}")
                        i.tasks.icon
                        | tasks
                    a.item(href="/users" class="{{isActivePath '/users'}}")
                        i.users.icon
                        | users
                    a.item(href="/dev_blog")
                        i.blog.icon
                        | dev blog
                    a.item(href="/ideas")
                        i.lightbulb.icon
                        | ideas
                    a.item(href="/minutes" class="{{isActivePath '/minutes'}}")
                        i.clock.icon 
                        |meeting minutes
                    a.item(href="/projects" class="{{isActivePath '/projects'}}")
                        i.line.chart.icon 
                        |projects
                    a.item(href="/finance" class="{{isActivePath '/finance'}}")
                        i.money.icon 
                        |finance
                    a.item(href="/feed" class="{{isActivePath '/feed'}}")
                        i.rss.icon
                        | feed
                    a.item(href="/bugs" class="{{isActivePath '/bugs'}}")
                        i.bug.icon
                        | bugs
                a.ui.fluid.button(href='/questions') 
                    |questions
                a.ui.fluid.button(href='/tests') 
                    |tests
                a.ui.fluid.button(href='/passages') 
                    |passages
                a.ui.fluid.button(href='/profiles') 
                    |profiles
                a.ui.fluid.button(href='/shop') 
                    |shop
                .ui.header admins
                .ui.list
                    each admins 
                        .item #{name}
        
            .thirteen.wide.column
                +yield
    +footer
            
            
template(name='admin')
    .ui.header admin            
    a.ui.big.button(href='/questions') 
        |questions
    a.ui.big.button(href='/tests') 
        |tests
    a.ui.big.button(href='/passages') 
        |passages

                                
template(name='dev_blog')
    .eight.wide.column
        .ui.button.add_post
            i.plus.icon
            |post
        .ui.header
            i.blog.icon
            |admin blog
        each admin_posts
            .ui.header #{content}



template(name='latest_activity')
    .ui.header 
        i.rss.icon
        |all activity
    .ui.list
        each latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.image_id width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body} 
                .ui.basic.label #{log_type}
                small #{when}
