template(name='finance')
    .ui.center.aligned.header finance
    +budgets_small
    +expenses_small
    +debts_small




template(name='budgets_small')
    .ui.header budgets
    .ui.list
        each budgets 
            .item #{title}
template(name='expenses_small')
    .ui.header expenses
    .ui.list
        each expenses
            .item #{title}
template(name='debts_small')
    .ui.inline.header debts
    .ui.icon.button.add_debt
        i.plus.icon
    .ui.list
        each debts 
            +session_edit_button
            if editing 
                +text_edit key='title' direct=true
                +number_edit key='amount' direct=true
                +tags_edit key='tags' direct=true
            else
                .item #{title} #{amount}
                each tags 
                    .ui.small.label #{this}
