template(name='ideas')
    .ui.center.aligned.header 
        i.lightbulb.icon
        |ideas
    .ui.icon.button.add_idea
        i.plus.icon
    each ideas 
        +idea



template(name='idea')
    .ui.card
        +session_edit_button
        if editing 
            +text_edit key='title' direct=true
            +number_edit key='amount' direct=true
            +tags_edit key='tags' direct=true
        else
            .item #{title} #{amount}
            each tags 
                .ui.small.label #{this}
