template(name='alpha_doc_view')
    with current_doc
        .ui.stackable.padded.grid
            .four.wide.column
                a.ui.fluid.button(href="/alpha")
                    i.left.chevron.icon
                    |alpha
                .ui.header #{title}
                a.ui.large.circular.icon.basic.button(href="/alpha/#{_id}/edit")
                    i.pencil.icon
                .ui.header #{_author_username}
                with _author_id
                    +user_card
            .twelve.wide.column
                each modules
                    +module_view


template(name='module_view')
    div        
    .ui.inline.header 
        small #{doc_key}:
    //-     |#{alpha_value}
    //- .ui.header key: #{doc_key}
    //- .ui.small.header module type: #{block_title}
    //- .ui.small.header block slug: #{block_slug}
    +Template.dynamic template=alpha_field_view
