
template(name='alpha_doc_edit')
    with current_doc
        .ui.stackable.padded.grid
            .four.wide.column
                .ui.header editing alpha
                .ui.header #{title}
                a.ui.large.fluid.button(href="/alpha/#{_id}/view")
                    i.checkmark.icon   
                    |save
                .ui.circular.icon.button.print_this
                    i.code.icon
                .ui.header block menu
                each blocks
                    .ui.button.add_module 
                        i.icon(class=icon)
                        |#{title}
            .twelve.wide.column
                .ui.header modules
                each modules
                    +module_edit
    if is_admin
        +block_editor
        
        
template(name='module_edit')        
    .ui.fluid.segment
        a.ui.header.toggle_section.pointer
            small #{doc_key}:
            |#{alpha_value}
            if viewing_module
                i.chevron.down.small.icon
            else
                i.chevron.right.small.icon
        if viewing_module
            div
            +text_edit key='doc_key' direct=true
            .ui.header key: #{doc_key}
            .ui.small.header module type: #{block_title}
            //- .ui.small.header block slug: #{block_slug}
            +Template.dynamic template=alpha_field_edit
            .ui.icon.button.remove_module
                i.remove.icon

        
