template(name='apurchase_edit')
    //- i.phone.icon
    .ui.header
        | purchase
        //- if title
        //-     |#{title}
        //- else if label
        //-     |#{label}
        //- else if key
        //-     |#{key}
        //- else
        //-     |#{this}
    .ui.small.header inventory        
    .ui.input
        input.inventory(type='number' value=page_doc._inventory placeholder='inventory' autocomplete="off")
    .ui.small.header price        
    .ui.input
        input.price(type='number' value=page_doc._price placeholder='price' autocomplete="off")

template(name='apurchase_view')
    .ui.segment
        .ui.header
            | purchase
        .ui.header inventory #{page_doc._inventory}    
        .ui.header price #{page_doc._price} credits 
        if page_doc._inventory
            .ui.green.button.buy
                |buy 
        else
            .ui.disabled.green.button
                |sold out
        each orders
            .ui.segment
                .ui.header #{when} #{_author_username}
                .ui.list
                    .item buyer: #{buyer_username}
                    .item seller: #{seller_username}
                    .item product_id: #{product_id}
                if can_edit
                    .ui.small.button.cancel
                        i.remove.icon
                        |cancel
//- 
